/* commons */
/* fonts */
/* colors */
/* CSS Document */
* {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

hr {
  margin: 2px 0 4px 0;
  padding: 0;
  border: 0;
  border-top: solid 1px #eee; }

body {
  line-height: 14px;
  overflow-y: scroll;
  background-color: #fff;
  margin: 0;
  font-size: 12px; }

.separator {
  margin: 5px 0 5px 0;
  border-top: 1px solid #a3a3a3; }

#bgBody {
  background: url("data:image/jpeg;base64,%2F9j%2F4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP%2FsABFEdWNreQABAAQAAABQAAD%2F7gAOQWRvYmUAZMAAAAAB%2F9sAhAACAgICAgICAgICAwICAgMEAwICAwQFBAQEBAQFBgUFBQUFBQYGBwcIBwcGCQkKCgkJDAwMDAwMDAwMDAwMDAwMAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz%2FwAARCABkAGQDAREAAhEBAxEB%2F8QAZAABAQEBAAAAAAAAAAAAAAAAAQACCQEBAAAAAAAAAAAAAAAAAAAAABAAAgEDBAEEAgICAwAAAAAAAREhADECQVFhEiJxgTJCkaHwwbHR8WJTEQEAAAAAAAAAAAAAAAAAAAAA%2F9oADAMBAAIRAxEAPwDvGWDplgRM60GQEBAlP%2Fmg1LaIdwL0GYQuTY%2BlBYhoAZHj9RQXkQGW4IMFigRBT6kiAdXQSQgZAC2V4OlAMjG5I0NpFBQSFDMuzSoJSJLRGRH6oJgZhpmxEGgex7Ln5a0Fyrto60BYY6IEEc0DrGwBwG%2FFBAkAEWdjzNAG5gRKF%2FagiwAySoHI5oGWQVbx19KAxHikiCCCNaBcGSCC2Lmdt6CyEyDk78%2BlBXB11R4oL5gIjDJsPegew7dvulQZN7AGRaOKCBjyx2ehB1oEoHykO8UEAQ1wHu7UFKIIGWB%2FIoJZAJfHSggDdIXG1qAOPj5YrK5TRO%2FFA5CxOXUkSbvY0F2JAJ8vrkNnrQBYNgMjjugVQILC6ogHWglquXFBCyGTxZAe1BQO2Be41VBSNiCAnyZFAoMIwbBbaUGAB5QeuUKgoAQ8hzBjmgUJBE3c%2FsUEIAOORRsRIoIEDRo6cbigTwOsyLCKCfl4wUXiaC3ynrkETtzQDjSy782tvQJAZYPXJ2nigCSAJYiPegUCDoygf6oDHJFZ7xlvQKBAuRkWI1dBNnH7DJ%2Fmggfie2WOWOqEigE8UxZlXiaCM%2BRJGS%2BQF6BIJYIZBg7q9BEG3r0c0AIBxEOwtQa7auF2SmgCUSsSCLzpvQM7FS8VHqDQZ8QDdG%2F9MUCymPIan19aCR%2BQHLEF0Afk5BBb3oEkByQ21QQcF9uvieRQAD7AAgZARYg0CwYymdW5igP%2BnYEiceRrQJ7q5IUA6Ec0CyvhPW%2FFADyMicVfY7GgMbY%2BM4nyX%2BqBAIB6oAAnnegiwsgYy2kKgAVlbxI8xedxQRsHcMDYigWxYjcX9xQUTJtr%2BKAFplGfSgSEupLxMB8UEToYGj0%2FFAT4kazAPvQai82S43oAonqbzLoBggk%2BOQN%2F7oIgDLtjC2mDQIU9bFnFROxFAaD6uCFLoIfbqUflj7waBQ40MUE0USWNx%2FL0B1uGAdKBQiBi7gCRQa1RZBU6EWoMKxxuCSL%2BlAMKxSs9NnQbnbst1QZBABM9bHHbmg0AocHagywcZjK5y19aBNkSQSjbXegm0SgYP42oBwDBIuN%2FegZlBwFzQRHyWIkXBuKDOXDEPEmQ9RQJUEjgnigl1BD7D6u496B6%2FZG9tPzQQDZxAdziqAFgCY34oKcbsEa2tQIIKd8oOvNBAZAoZPHT2oJ5AEvLICEQP80Bb4wDoRQMdgLHEwDrFBCUC9GgoNjQEojLIOz3W9A%2Bd8T2BFqC0uQMgRQKP%2Fqei7cvagyOzaM3e%2BlAp9oBExqItQTTgrYHUjY0EG0L3xJIRPpQCcpEQRe9Ah6hnUiKCGuOrRxNpoJvxMEf43dAGD2BCSKuFvQMEFWKkaUAGxDgsWvqDQUdjKi6iKCU9YaT4oFsB5emVwaABCLAk6H80Erq2UMDazoGSNIBfCoLyFvKx6oWoKw1glMaGgdoEGE1trQZLABJAQnEzegWHaCJFqBARIMfxCgziX0GRLaB14oEHIGQwfzQU7Hqr8O1BGx6fNTtQJSlWDe%2BlBnC8vVp0ENU0j8qCjx7P22oIP7tSndUEV9bx2X6oNalPqvJ29qDE9fL9%2Fqg2E%2FHaVQE9Jb7eKvQOvg9HtQZh%2FXr770H%2F9k%3D") transparent; }

#adminContentWrap {
  margin-top: 0;
  padding: 0; }
  @media (max-width: 968px) {
    #adminContentWrap {
      overflow-x: auto;
      border: solid 1px #ddd;
      margin: 5px;
      padding: 5px;
      border-radius: 3px; } }

#adminContent {
  padding: 15px; }
  @media (max-width: 968px) {
    #adminContent {
      padding: 0; } }

#adminLoaderWrap {
  margin: 3px 5px;
  height: 5px;
  display: block;
  position: absolute; }

#adminLoader {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 7px;
  top: 9px;
  border-radius: 3px;
  display: block;
  background-image: url(../img/newajax.gif);
  z-index: 999999; }

#adminEvents {
  z-index: 10001;
  color: #FF0000;
  font-size: 13px !important;
  height: 13px;
  left: 34px;
  position: absolute;
  text-shadow: none;
  top: -10px; }

.adminMenu span {
  color: red;
  position: absolute;
  font-size: 10px;
  top: -13px;
  right: 1px; }

.blackGradient {
  background-color: #000;
  background-image: -moz-linear-gradient(#444, #000);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background-image: -webkit-linear-gradient(#444, #000);
  background-image: -o-linear-gradient(#444, #000);
  background-image: -ms-linear-gradient(#444, #000);
  background-image: linear-gradient(#444, #000);
  border-top: solid 1px #000;
  box-shadow: 0 1px 1px #999 inset, 0 1px 3px #aaa inset, 0 6px 16px #777 inset, 0 1px 10px #ccc;
  border-bottom: solid 1px #fff;
  z-index: 101; }

#adminHead {
  height: 34px;
  /*margin-left:-40px; */ }
  #adminHead .leftSubMenuWrapTitle {
    height: 34px;
    width: 40px;
    display: block;
    float: left;
    position: relative;
    margin: 0; }
    #adminHead .leftSubMenuWrapTitle .adminMenuMenu {
      color: #ddd;
      font-size: 18px;
      line-height: 34px;
      right: 0;
      padding: 0 0 0 1px;
      text-align: center;
      margin: 0;
      border: none;
      z-index: 500;
      position: absolute;
      left: 0;
      height: 34px; }
    #adminHead .leftSubMenuWrapTitle :hover {
      color: #fff; }
  #adminHead .adminMenuWrap {
    height: 34px;
    display: block;
    float: left;
    position: relative; }
  #adminHead .adminMenuWrapRight {
    height: 34px;
    display: block;
    float: right;
    margin-right: 5px; }
  #adminHead .adminMenuWrapRight p, #adminHead .adminMenu {
    display: block;
    height: 34px;
    line-height: 38px;
    margin: 2px 0 0 0;
    float: left;
    font-weight: normal;
    padding: 0 9px;
    position: relative;
    font-size: 17px;
    border-right: solid 1px #222;
    border-left: solid 1px #777;
    text-decoration: none;
    letter-spacing: 0; }

#adminSlider {
  /*padding-left:40px;*/
  padding-top: 0;
  margin-top: 0; }

.leftMenuHidden {
  display: none; }

#leftFilters {
  display: none;
  padding: 0;
  padding-left: 5px; }

.leftSubMenuTitle {
  border-bottom: solid 1px #eee;
  border-top: solid 1px #fff;
  border-radius: 3px 3px 0 0;
  padding-top: 1px; }

/* z-index:50;*/
#leftSubMenuWrap {
  width: 230px;
  display: block;
  margin-left: -230px;
  top: 40px;
  position: absolute;
  display: none; }
  #leftSubMenuWrap h2 {
    font-size: 16px;
    color: #446384;
    height: 16px;
    padding: 2px 0;
    line-height: 16px;
    text-indent: 0;
    margin: 0;
    padding-top: 10px; }

#leftSubMenu {
  padding: 5px;
  padding-top: 0; }

.leftSubMenuItem {
  display: block;
  height: 16px;
  line-height: 18px;
  padding: 1px 1px 1px 10px;
  color: #444;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden; }

.leftSubMenuItemActive, .leftSubMenuItem:hover {
  background-color: #1E8EF1;
  color: #fff;
  border-color: #1E8EF1; }

.leftSubMenuExt {
  padding: 4px 4px 2px 4px;
  margin: 0;
  margin-right: 1px;
  display: block;
  color: #8A8A8A;
  float: left;
  display: block;
  text-decoration: none;
  overflow: hidden; }
  .leftSubMenuExt i {
    overflow: hidden;
    font-size: 25px;
    line-height: 25px;
    color: #bbb;
    text-shadow: 0 1px 0 #fff; }
  .leftSubMenuExt i.leftSubMenuExtSelect,
  .leftSubMenuExt i:hover {
    color: #6AABEF !important; }

.leftSubMenuExtMini {
  float: right;
  margin: 0;
  height: 16px;
  line-height: 16px;
  width: 16px;
  margin-top: 4px;
  display: block;
  color: #AFB8C2 !important; }

.leftSubMenuExtBox {
  padding: 2px 0 0 2px;
  background: #FCFCFC;
  border-bottom: solid 1px #ddd; }

.adminMenuWrapSearchLeft input:disabled {
  background-color: #fff;
  opacity: 0.5; }

.globalSearchWide {
  opacity: 1.0; }

#globalWrapDisable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  opacity: 0.1;
  z-index: 20000;
  display: none; }

#globalSearchOutWrap {
  top: 28px;
  max-height: 400px;
  right: 1px;
  top: 40px;
  left: 5px;
  background-color: #FFF;
  position: absolute;
  z-index: 500;
  overflow-y: scroll;
  box-shadow: 0 1px 10px #000000;
  display: block; }

.globalSearchEmpty {
  color: #f00; }

.searchRow {
  padding: 5px 5px;
  display: block;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff; }

.searchRow:hover,
.searchRowFocus {
  background-color: #ddd; }

.searchRow strong {
  color: #000; }

.searchRow span {
  float: right;
  color: #999; }

#adminContent h1 {
  color: #6b797c;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px; }
#adminContent h2 {
  color: #245a64;
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 14px; }
#adminContent hr {
  margin: 2px 0 4px 0;
  padding: 0;
  border: 0;
  border-top: solid 1px #f0f0f0; }

.miniColumn {
  width: 40px;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  text-align: center;
  display: inline-block;
  margin: 0;
  border-radius: 3px; }

.cpDashboardBlockWrapWrap {
  float: left;
  display: block;
  box-sizing: border-box; }

.cpDashboardBlockWrap {
  display: block;
  margin-top: 16px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFF; }

.cpDashboardBlock {
  padding: 0;
  min-height: 100px; }

.grayText {
  color: #aaa; }

.labelYellow {
  background-color: #F6E0A4;
  border: 1px solid #D5C8A6;
  color: #685809;
  font-size: 11px;
  padding: 0 5px;
  text-shadow: 0 1px 0 #F0E6C8; }

/* Addiotional */
.simpleSpoiler {
  display: none; }

.simpleSpoilerHead {
  color: #B94A48;
  text-decoration: none;
  border-bottom: dashed 1px #B94A48; }

.consoleOutput {
  padding: 10px;
  border: solid 3px #ccc;
  color: #eee;
  background-color: #000;
  font-size: 16px;
  line-height: 18px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  min-height: 400px;
  margin-bottom: 50px;
  box-sizing: border-box; }

.errorText {
  background-color: #e91919;
  color: #fff;
  font-weight: 700; }

.goodText {
  background-color: #4ed82d;
  color: #fff;
  font-weight: 700; }

.cmdBox {
  padding: 10px;
  border: solid 5px #ccc;
  color: #f0f0f0;
  margin-bottom: 10px;
  min-height: 390px;
  box-sizing: border-box;
  background-color: #000;
  font-size: 16px;
  line-height: 18px;
  font-family: Lucida Console, Monaco, monospace; }

/* GUI */
.contentMarginTop {
  height: 35px; }

.progressBarWrap {
  width: 100%;
  height: 16px;
  background-color: #aaa;
  float: left;
  display: block;
  position: relative; }
  .progressBarWrap span {
    position: absolute;
    height: 16px;
    line-height: 16px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-weight: 700; }

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.progressBarRed {
  background-color: #ed0000; }

.progressBarYellow {
  background-color: #eba000; }

.progressBarGreen {
  background-color: #7ccf00; }

.label {
  display: inline-block;
  padding: 0 5px;
  text-indent: 0;
  font-size: 11px;
  float: right;
  margin-left: 5px;
  border-radius: 1px; }

.labelGreen {
  background-color: #00CC00;
  color: white; }

.buttonForUpdate {
  height: 50px;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: wheat; }

/* modules */
/* SVG ICONS */
.shipping-usps {
  background-image: url(../svg/usps.svg); }

.shipping-fedex {
  background-image: url(../svg/fedex.svg); }

.shipping-dpd {
  background-image: url(../svg/dpd.svg); }

.shipping-tnt {
  background-image: url(../svg/tnt.svg); }

.payment-psc {
  background-image: url(../svg/payment_psc.svg); }

.payment-liqpay, .payment-liqbuy {
  background-image: url(../svg/payment_liqpay.svg); }

.payment-DebitPayment {
  background-image: url(../svg/payment_lastschrift.svg); }

.payment-clickandbuy {
  background-image: url(../svg/payment_clickandbuy.svg); }

.payment-ecentru {
  background-image: url(../svg/payment_ecentru.svg); }

.payment-BankPrepayment {
  background-image: url(../svg/payment_ueberweisung.svg); }

.payment-PayPal {
  background-image: url(../svg/payment_paypal.svg); }

.payment-intervale {
  background-image: url(../svg/payment_intervale.svg); }

.ds_1st_payment {
  background: #7960cf;
  color: white; }

.ds_mandat_not_sent {
  background: #ed4545;
  color: white; }

.ds_waiting_for_sepa_mandat {
  background: #ddf417;
  color: black; }

.ds_mandat_received {
  background: #fceabb;
  color: black; }

.imageTmb {
  border: solid 1px #ddd;
  padding: 3px;
  background-color: #FFF;
  border-radius: 3px; }

/*******************
   ORDERS
********************/
.oStatusInline {
  display: inline-block;
  padding: 0 5px;
  margin-right: 2px;
  font-weight: bold; }

.oStatus {
  padding: 0 2px;
  margin: 0; }
  .oStatus div {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    padding: 1px;
    font-size: 11px; }
  .oStatus .green {
    background: #CDEB8B !important; }
  .oStatus .black {
    color: #000 !important;
    box-shadow: 0  -1px 0 #fff inset; }
  .oStatus .gray {
    background: #d7d7d7 !important; }
  .oStatus .darkGray {
    background: #555 !important;
    color: white !important; }
  .oStatus .orange {
    background: #EBCD8B !important; }
  .oStatus .blue {
    background: #8BCDEB !important;
    /*background: #a9d5fc !important;*/ }
  .oStatus .pink {
    background: #FFA3C8 !important; }
  .oStatus .grayThrough {
    color: #777 !important;
    text-decoration: line-through !important; }
  .oStatus .grayMagenta {
    background: #874694 !important;
    color: #FFF !important; }

.erpStatus {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px !important;
  margin: 0;
  padding: 0; }

.erpStatus1 {
  color: #009abb !important; }

.erpStatus2 {
  color: #599400 !important; }

.erpStatus3 {
  color: #ff59a5 !important; }

.erpStatus4 {
  color: #874694 !important; }

.erpStatus5 {
  color: #ff7700 !important; }

.erpStatus6 {
  color: #333 !important; }

.erpStatus7 {
  color: #333 !important; }

.erpStatus8 {
  color: #ff59a5 !important; }

.contentMarginTop {
  height: 35px; }

.imgMailx {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 16px;
  line-height: 12px;
  width: 16px;
  font-size: 10px;
  color: #999; }

/*******************
   ABO LABELS
********************/
.products {
  margin: 1px 0 2px 0;
  font-size: 10px; }
  .products .product {
    display: inline-block;
    padding: 1px 3px 2px 3px;
    font-size: 10px;
    font-weight: 700;
    margin-right: 0;
    line-height: 10px; }
    .products .product strong {
      font-size: 10px; }
  .products .light {
    background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
    color: #3f545d;
    text-shadow: 0 1px 0 #e6f5fb;
    border: solid 1px #87a8b6; }
  .products .gray {
    background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    color: #353535;
    text-shadow: 0 1px 0 #fff;
    border: solid 1px #9e9e9e; }
  .products .orange {
    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    text-shadow: 0 1px 0 #f0e6c8;
    border: solid 1px #a6976f;
    color: #564b14; }
  .products .red {
    background: linear-gradient(to bottom, #e20000 0%, #a30000 100%);
    color: #FFF;
    border: solid 1px #81251f;
    text-shadow: 0 1px 0 #891717; }
  .products .blue {
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C */
    text-shadow: 0 1px 0 #1e8fe5;
    border: solid 1px #3270a9;
    color: #fff; }
  .products .magenta {
    background: linear-gradient(to bottom, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
    text-shadow: 0 1px 0 #893c86;
    border: solid 1px #893c86;
    color: #fff; }
  .products .green {
    background: linear-gradient(to bottom, #ddeac0 0%, #adc673 100%);
    text-shadow: 0 1px 0 #eff5e1;
    border: solid 1px #93b24f;
    color: #353535; }
  .products .black {
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border: solid 1px #686666; }

/* HZ */
.service {
  height: 16px;
  display: inline-block;
  background-position: center 0;
  background-repeat: no-repeat;
  padding-bottom: 1px; }

.service_dpd {
  background-image: url(/mod/orders/tpl/payments/dpd_logo.gif);
  width: 16px;
  text-indent: 20px; }

.service_fedex {
  background-image: url(/mod/orders/tpl/payments/fedex.png);
  width: 53px;
  text-indent: 57px; }

.service_usps {
  background-image: url(/mod/orders/tpl/payments/usps_logo.gif);
  width: 24px;
  text-indent: 28px; }

.order_blacklist {
  color: white;
  background: #0f0e0e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0f0e0e 0%, #6e7774 50%, #0a0e0a 92%, #0a0809 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0e0e), color-stop(50%, #6e7774), color-stop(92%, #0a0e0a), color-stop(100%, #0a0809));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0f0e0e 0%, #6e7774 50%, #0a0e0a 92%, #0a0809 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0f0e0e 0%, #6e7774 50%, #0a0e0a 92%, #0a0809 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0f0e0e 0%, #6e7774 50%, #0a0e0a 92%, #0a0809 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0f0e0e 0%, #6e7774 50%, #0a0e0a 92%, #0a0809 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0e0e', endColorstr='#0a0809', GradientType=0);
  /* IE6-9 */
  /*text-decoration: line-through;*/
  opacity: 0.9; }

.ds_1st_payment {
  background: #7960cf;
  color: white; }

.ds_mandat_not_sent {
  background: #ed4545;
  color: white; }

.ds_waiting_for_sepa_mandat {
  background: #ddf417;
  color: black; }

.ds_mandat_received {
  background: #fceabb;
  color: black; }

.imageTmb {
  border: solid 1px #ddd;
  padding: 3px;
  background-color: #FFF;
  border-radius: 3px; }

#auth_wrap_outer {
  padding: 8px;
  width: 368px;
  left: 50%;
  margin-left: -225px;
  position: absolute;
  top: 50%;
  margin-top: -184px;
  border-radius: 8px; }

#resizeble_zone_right {
  margin-top: 0;
  padding: 0; }

#admin_content {
  padding: 10px 10px 10px 10px; }

#loginFormWrap {
  padding: 8px;
  width: 384px;
  left: 50%;
  margin-left: -225px;
  position: absolute;
  top: 50%;
  margin-top: -184px;
  border-radius: 8px;
  box-sizing: border-box; }

#loginResponse {
  padding-top: 30px;
  padding-left: 1px; }

#loginLoader {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(../svg/ring.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000; }

#adminLoader {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 7px;
  top: 9px;
  border-radius: 3px;
  display: block;
  background-image: url(../img/newajax.gif);
  z-index: 999999; }

#adminEvents {
  z-index: 10001;
  color: #FF0000;
  font-size: 13px !important;
  height: 13px;
  left: 34px;
  position: absolute;
  text-shadow: none;
  top: -10px; }

/* plugins */
.popupBox {
  position: fixed;
  bottom: -100px;
  right: 20px;
  padding: 16px;
  background-color: #000;
  color: #fff;
  background: rgba(13, 13, 13, 0.85);
  width: 300px;
  border-radius: 3px; }

.popupBox i.popupBoxType {
  color: #999999;
  font-size: 20px;
  left: 12px;
  position: absolute;
  top: 14px; }

.popupBox h3 {
  border: 0  none currentColor;
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 15px 20px;
  position: relative; }

.popupBox h3 i {
  float: right;
  margin: -2px -2px 0  0;
  font-size: 12px;
  cursor: pointer; }

.popupBox h3 i:hover {
  color: #fff; }

.popupBox span {
  font-weight: normal;
  padding-left: 10px; }

.popupBody {
  display: table;
  width: 100%; }

.popupBodyCL {
  display: table-cell;
  width: 54px;
  border-right: solid 1px #ddd;
  vertical-align: top; }

.popupBodyCR {
  display: table-cell;
  padding-left: 10px;
  vertical-align: top; }

.popupBodyCR p {
  padding: 2px 0;
  margin: 0; }

.popupBodyCR p b {
  width: 60px;
  display: inline-block; }

.popupBodyCustomer {
  font-size: 32px;
  color: #00D9FF; }

.popupBodyCustomerGuest {
  color: #fff; }

.popupBodyCustomerDealer {
  color: #A880FF; }

.popupBodyCL .popupBodyFlag {
  float: right;
  margin-top: 0;
  margin-right: 7px; }

.popupIncoming {
  position: fixed;
  bottom: -100px;
  right: 20px;
  z-index: 1000;
  padding: 16px;
  background-color: #000;
  color: #fff;
  background: rgba(13, 13, 13, 0.85);
  width: 400px;
  border-radius: 3px;
  cursor: pointer; }

.popupIncoming i {
  color: #999999;
  font-size: 20px;
  left: 12px;
  position: absolute;
  top: 14px; }

.popupIncoming h3 {
  border: 0  none currentColor;
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 15px 20px;
  position: relative; }

/* interactivePanel */
.interactivePanelLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  padding-top: 40px; }

.interactivePanel, .interactivePanelTiming {
  padding: 2px 2px;
  line-height: 12px;
  background-repeat: no-repeat;
  color: #333;
  font-size: 11px;
  background-color: #fff; }

.interactivePanelTiming {
  border-bottom: solid 1px #ddd;
  padding-top: 3px;
  box-shadow: 0 1px 0 #fff inset; }

.interactivePanel table {
  width: 100%; }

.interactivePanel a {
  text-decoration: underline; }

.interactivePanel a:hover {
  text-decoration: none; }

.interactivePanel > table > thead {
  line-height: 16px; }

.interactivePanel > table > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9; }

.interactivePanel td {
  text-align: right; }

.interactivePanel .dropDownContent h3 {
  font-size: 12px;
  color: #446384; }

#ip_subtasks_my_active {
  text-decoration: underline; }

#ip_subtasks_my_active_txt {
  text-align: left; }

#ip_subtasks_my_active_txt a {
  color: #333; }

#ip_coins_my_wrap {
  float: right;
  padding-top: 7px;
  padding-right: 8px;
  color: #AFB8C2;
  font-size: 11px;
  line-height: 10px; }

/* Global Search */
#globalSearchWrap {
  position: relative;
  padding: 6px 0 0 5px;
  float: left;
  height: 30px;
  width: 225px; }
  @media (max-width: 968px) {
    #globalSearchWrap {
      float: right;
      width: auto;
      padding-right: 10px; } }
  #globalSearchWrap h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 18px;
    height: 22px;
    line-height: 24px;
    text-indent: 5px;
    color: #aaa; }

#globalSearch {
  height: 22px;
  width: 218px;
  position: absolute;
  z-index: 500;
  border-radius: 3px;
  background-color: #ccc;
  border: none;
  background-image: url(../svg/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 202px center; }

#globalSearch:focus {
  box-shadow: none !important;
  background-color: #fff;
  background-image: none; }

#globalSearch::-webkit-input-placeholder {
  color: #000; }

#globalSearch::-moz-placeholder {
  color: #000; }

#globalSearch:-moz-placeholder {
  color: #000; }

#globalSearch:-ms-input-placeholder {
  color: #000; }

#globalSearch:focus::-webkit-input-placeholder {
  color: transparent; }

#globalSearch:focus::-moz-placeholder {
  color: transparent; }

#globalSearch:focus:-moz-placeholder {
  color: transparent; }

#globalSearch:focus:-ms-input-placeholder {
  color: transparent; }

.adminTopMenu {
  font-weight: bold; }

.adminTopMenu:last-child {
  border-right: solid 1px #111111 !important;
  box-shadow: 1px 0 0 #444444 !important; }

.adminMenuUnSelectMini {
  width: 20px;
  overflow: hidden;
  letter-spacing: 50px; }

.adminMenuUnSelectMini a {
  padding: 0 5px !important; }

#mobileMenu {
  display: none; }

#mainMenu {
  position: relative;
  border: none;
  text-align: left;
  font-size: 17px;
  height: 34px;
  float: left;
  padding: 0;
  z-index: 101; }

#mainMenu ul, #mainMenu ul ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#mainMenu ul {
  clear: left;
  position: relative;
  right: 50%;
  height: 36px;
  float: right;
  text-align: center; }

#mainMenu ul li {
  border-right: 1px solid #111;
  border-left: 1px solid #777;
  box-shadow: 1px 0 0 #444;
  -moz-box-shadow: 1px 0 0 #444;
  -o-box-shadow: 1px 0 0 #444;
  -ms-box-shadow: 1px 0 0 #444;
  -webkit-box-shadow: 1px 0 0 #444;
  position: relative;
  left: 50%;
  float: left;
  height: 34px;
  line-height: 36px;
  padding: 0;
  margin: 0; }

#mainMenu ul li:last-child {
  border: none;
  box-shadow: none; }

#mainMenu ul li a {
  display: block;
  color: #bbb;
  font-size: 16px;
  text-decoration: none;
  padding: 0 8px;
  height: 34px; }

#mainMenu ul li a:hover, .adminMenuSelect {
  background: #1E8EF1;
  color: #fff !important;
  text-shadow: 0 1px 0 #5488BE; }

#mainMenu ul li.mainMenuSeparator {
  padding-left: 5px;
  font-size: 13px;
  background-color: #4f4f4f;
  color: #aaa;
  font-weight: bold;
  height: 30px;
  line-height: 30px; }

#mainMenu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0; }

#mainMenu ul li ul {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 34px;
  height: auto;
  width: 160px;
  padding-top: 6px; }

#mainMenu ul li ul li {
  border: none;
  position: relative;
  left: 0;
  float: none;
  height: auto;
  margin: 0;
  text-align: left !important;
  background: #3c3c3c;
  color: #fff;
  box-shadow: 0 -1px 0 #616161 inset, 0 -2px 0 #222 inset; }

#mainMenu ul li ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#mainMenu ul li ul li a {
  padding: 0 8px;
  font-size: 12px;
  border: none;
  height: 30px;
  line-height: 30px; }

#mainMenu ul li ul li ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  _margin: 0;
  /*IE6 only*/
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -ms-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3); }

#mainMenu ul ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #3c3c3c; }

#mainMenu ul ul li:first-child > i:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #4f4f4f; }

#mainMenu ul ul ul li:first-child a:after {
  left: -4px;
  top: 50%;
  margin-top: -4px;
  border-left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #6aabef; }

#mainMenu ul ul li:first-child a:hover:after {
  border-bottom-color: #6aabef; }

#mainMenu ul ul ul li:first-child a:hover:after {
  border-right-color: #6aabef;
  border-bottom-color: transparent; }

#leftSubMenuWrap {
  padding-left: 5px;
  box-sizing: border-box; }

#leftSubMenu {
  padding-top: 5px; }

.adminMenuDdWrap span {
  padding-right: 5px; }

.adminMenuDdWrap {
  background: #717171;
  /* Old browsers */
  background: -moz-linear-gradient(top, #717171 0%, #222222 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717171), color-stop(100%, #222222));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #717171 0%, #222222 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #717171 0%, #222222 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #717171 0%, #222222 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #717171 0%, #222222 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#717171', endColorstr='#222222', GradientType=0);
  /* IE6-9 */
  padding: 0 8px;
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
  border-radius: 3px;
  float: left;
  font-size: 12px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  margin: 3px 0 5px 5px;
  position: relative;
  text-align: left;
  color: #eee;
  text-shadow: 0 1px 0 #444; }

.adminMenuDdWrap:hover {
  color: #fff; }

.adminMenuDdNoneWrap {
  background-image: linear-gradient(to bottom, #717171, #222222);
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  float: left;
  font-size: 12px;
  height: 26px;
  display: block;
  margin: 5px;
  position: relative;
  text-align: left;
  color: #fff;
  text-shadow: 0 1px 0 #444; }

.adminMenuNoneDd {
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  background-position: right 11px;
  height: 26px;
  line-height: 26px; }

.adminMenuDdWrap select {
  position: absolute;
  right: 0;
  height: 26px;
  top: 0;
  opacity: 0;
  cursor: pointer; }

.adminMenuWrapRight p {
  background-color: #333;
  color: #ccc;
  margin-right: 4px; }

.adminMenuIco {
  display: block;
  height: 33px;
  line-height: 38px;
  margin: 1px 0 0 0;
  float: left;
  font-weight: normal;
  padding: 0 12px;
  position: relative;
  font-size: 17px;
  border-right: solid 1px #222;
  border-left: solid 1px #777;
  text-decoration: none;
  letter-spacing: 0; }

.adminMenuIcoSelect {
  background-color: #000; }

.adminMenuIcoUnSelect {
  color: #aaa;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.749); }

.adminMenuIcoUnSelect:hover {
  background-color: #000;
  color: #fff; }

#adminMenuMessages {
  float: right; }

.adminMenuMessage {
  border-radius: 50% 50% !important;
  display: block;
  padding: 0 10px;
  height: 28px;
  margin-top: 3px;
  margin-right: 0;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 28px !important;
  box-sizing: border-box; }

.adminMenuMessageOrange {
  color: #fff;
  text-decoration: none;
  background: #ffb76b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
  /* IE6-9 */
  text-shadow: 0 1px 0 #900;
  border: solid 1px #000000;
  box-shadow: inset 0 2px 4px #600; }

.adminMenuMessageRed {
  color: #fff;
  text-decoration: none;
  background: #ff3019;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
  /* IE6-9 */
  text-shadow: 0 1px 0 #900;
  border: solid 1px #000000;
  box-shadow: inset 0 2px 4px #600; }

/* vars */
/* */
.tooltip {
  margin: 0;
  padding: 0;
  display: inline-block !important; }
  .tooltip:hover .label > .body {
    display: block; }
  .tooltip .label {
    display: inline-block !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative; }
    .tooltip .label .body {
      background-color: white;
      position: absolute;
      z-index: 100;
      display: none;
      word-wrap: normal;
      word-break: keep-all; }
      .tooltip .label .body .content {
        display: block;
        min-width: 100px;
        position: relative;
        padding: 10px 15px;
        text-align: left;
        border: solid 1px #b7b7b7;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.096);
        width: 100%;
        box-sizing: content-box;
        background-color: white;
        word-wrap: normal; }
        .tooltip .label .body .content:after {
          content: " ";
          z-index: 101;
          left: 6px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #b7b7b7;
          position: absolute;
          top: -11px;
          height: 6px; }
        .tooltip .label .body .content:before {
          content: " ";
          z-index: 103;
          left: 6px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
          position: absolute;
          top: -10px;
          height: 6px; }
        .tooltip .label .body .content .close {
          height: 10px;
          font-size: 10px;
          text-align: right;
          float: right;
          color: #ddd; }
        .tooltip .label .body .content h3 {
          display: block;
          padding: 0;
          margin: 0;
          font-size: 12px;
          line-height: 14px;
          color: #1E8EF1;
          border-bottom: solid 1px #f0f0f0; }
        .tooltip .label .body .content p {
          margin: 2px 0 6px 0; }

/* for icons */
.tooltip16x16 .label {
  width: 16px; }
  .tooltip16x16 .label .body {
    top: 22px;
    left: -4px; }

.tooltip16x12 .label {
  width: 16px; }
  .tooltip16x12 .label .body {
    top: 22px;
    left: -6px; }

.tooltipGeo .label .body {
  display: block !important;
  min-width: 160px; }

/* old deprecated */
/*

.adminBaloonWrap {
  position: relative;
  cursor: pointer;

  &:hover .adminBaloon {
    display: block;
  }
}

.adminBaloon {
  position: absolute;
  background-color: #fff;
  text-align: left;
  top: 30px;
  display: none;
  z-index: 100;
  white-space: nowrap;
  word-wrap: normal;
  padding: 5px;
  box-shadow: 0 1px 3px #444;
  h3 {
    margin: 2px 0;
    padding: 0;
    border-bottom: solid 1px #eee;
    color: #446384;
    font-size: 12px;
  }
}



.dropDownBody {
  display: none;
}

.dropDownWrap {
  position: relative;
}

.dropDownTriangle2 {

  z-index: 1002;
  left: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -11px;
  border-bottom: 8px solid #fff;
}

.dropDownTriangle {

  bottom: -1px;
  z-index: 1001;
  left: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -9px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.196);
}

.dropDown {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.196);
  border-radius: 6px;
  box-shadow: 0  5px 10px rgba(0, 0, 0, 0.196);
  display: block;
  float: left;
  left: -5px;
  list-style: none outside none;
  margin: 8px 0;
  min-width: 160px;
  padding: 10px;
  position: absolute;
  top: 100%;

  text-align: left;
  z-index: 1000;
}
*/
.geoTC {
  display: table; }
  .geoTC strong, .geoTC div {
    display: table-cell;
    padding: 1px 0; }
  .geoTC strong {
    width: 60px;
    padding-right: 10px;
    color: #446384;
    font-weight: normal; }

.flag {
  display: inline-block;
  background-repeat: no-repeat; }

.flag.flag-16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -2px;
  background-image: url("../ico/sprite-flags-16x16.png");
  background-repeat: no-repeat;
  float: left;
  margin-left: -1px; }

.flag.flag-16.flag-abkhazia {
  background-position: -0px -0px; }

.flag.flag-16.flag-basque-country {
  background-position: -16px -0px; }

.flag.flag-16.flag-british-antarctic-territory {
  background-position: -32px -0px; }

.flag.flag-16.flag-commonwealth {
  background-position: -48px -0px; }

.flag.flag-16.flag-england {
  background-position: -64px -0px; }

.flag.flag-16.flag-gosquared {
  background-position: -80px -0px; }

.flag.flag-16.flag-kosovo {
  background-position: -96px -0px; }

.flag.flag-16.flag-mars {
  background-position: -112px -0px; }

.flag.flag-16.flag-nagorno-karabakh {
  background-position: -128px -0px; }

.flag.flag-16.flag-nato {
  background-position: -144px -0px; }

.flag.flag-16.flag-northern-cyprus {
  background-position: -160px -0px; }

.flag.flag-16.flag-olympics {
  background-position: -176px -0px; }

.flag.flag-16.flag-red-cross {
  background-position: -192px -0px; }

.flag.flag-16.flag-scotland {
  background-position: -208px -0px; }

.flag.flag-16.flag-somaliland {
  background-position: -224px -0px; }

.flag.flag-16.flag-south-ossetia {
  background-position: -240px -0px; }

.flag.flag-16.flag-united-nations {
  background-position: -256px -0px; }

.flag.flag-16.flag-unknown, .flag.flag-16.flag-xx {
  background-position: -0px -16px; }

.flag.flag-16.flag-wales {
  background-position: -16px -16px; }

.flag.flag-16.flag-ad {
  background-position: -32px -16px; }

.flag.flag-16.flag-ae {
  background-position: -48px -16px; }

.flag.flag-16.flag-af {
  background-position: -64px -16px; }

.flag.flag-16.flag-ag {
  background-position: -80px -16px; }

.flag.flag-16.flag-ai {
  background-position: -96px -16px; }

.flag.flag-16.flag-al {
  background-position: -112px -16px; }

.flag.flag-16.flag-am {
  background-position: -128px -16px; }

.flag.flag-16.flag-an {
  background-position: -144px -16px; }

.flag.flag-16.flag-ao {
  background-position: -160px -16px; }

.flag.flag-16.flag-aq {
  background-position: -176px -16px; }

.flag.flag-16.flag-ar {
  background-position: -192px -16px; }

.flag.flag-16.flag-as {
  background-position: -208px -16px; }

.flag.flag-16.flag-at {
  background-position: -224px -16px; }

.flag.flag-16.flag-au {
  background-position: -240px -16px; }

.flag.flag-16.flag-aw {
  background-position: -256px -16px; }

.flag.flag-16.flag-ax {
  background-position: -0px -32px; }

.flag.flag-16.flag-az {
  background-position: -16px -32px; }

.flag.flag-16.flag-ba {
  background-position: -32px -32px; }

.flag.flag-16.flag-bb {
  background-position: -48px -32px; }

.flag.flag-16.flag-bd {
  background-position: -64px -32px; }

.flag.flag-16.flag-be {
  background-position: -80px -32px; }

.flag.flag-16.flag-bf {
  background-position: -96px -32px; }

.flag.flag-16.flag-bg {
  background-position: -112px -32px; }

.flag.flag-16.flag-bh {
  background-position: -128px -32px; }

.flag.flag-16.flag-bi {
  background-position: -144px -32px; }

.flag.flag-16.flag-bj {
  background-position: -160px -32px; }

.flag.flag-16.flag-bl {
  background-position: -176px -32px; }

.flag.flag-16.flag-bm {
  background-position: -192px -32px; }

.flag.flag-16.flag-bn {
  background-position: -208px -32px; }

.flag.flag-16.flag-bo {
  background-position: -224px -32px; }

.flag.flag-16.flag-br {
  background-position: -240px -32px; }

.flag.flag-16.flag-bs {
  background-position: -256px -32px; }

.flag.flag-16.flag-bt {
  background-position: -0px -48px; }

.flag.flag-16.flag-bw {
  background-position: -16px -48px; }

.flag.flag-16.flag-by {
  background-position: -32px -48px; }

.flag.flag-16.flag-bz {
  background-position: -48px -48px; }

.flag.flag-16.flag-ca {
  background-position: -64px -48px; }

.flag.flag-16.flag-cc {
  background-position: -80px -48px; }

.flag.flag-16.flag-cd {
  background-position: -96px -48px; }

.flag.flag-16.flag-cf {
  background-position: -112px -48px; }

.flag.flag-16.flag-cg {
  background-position: -128px -48px; }

.flag.flag-16.flag-ch {
  background-position: -144px -48px; }

.flag.flag-16.flag-ci {
  background-position: -160px -48px; }

.flag.flag-16.flag-ck {
  background-position: -176px -48px; }

.flag.flag-16.flag-cl {
  background-position: -192px -48px; }

.flag.flag-16.flag-cm {
  background-position: -208px -48px; }

.flag.flag-16.flag-cn {
  background-position: -224px -48px; }

.flag.flag-16.flag-co {
  background-position: -240px -48px; }

.flag.flag-16.flag-cr {
  background-position: -256px -48px; }

.flag.flag-16.flag-cu {
  background-position: -0px -64px; }

.flag.flag-16.flag-cv {
  background-position: -16px -64px; }

.flag.flag-16.flag-cw {
  background-position: -32px -64px; }

.flag.flag-16.flag-cx {
  background-position: -48px -64px; }

.flag.flag-16.flag-cy {
  background-position: -64px -64px; }

.flag.flag-16.flag-cz {
  background-position: -80px -64px; }

.flag.flag-16.flag-de {
  background-position: -96px -64px; }

.flag.flag-16.flag-dj {
  background-position: -112px -64px; }

.flag.flag-16.flag-dk {
  background-position: -128px -64px; }

.flag.flag-16.flag-dm {
  background-position: -144px -64px; }

.flag.flag-16.flag-do {
  background-position: -160px -64px; }

.flag.flag-16.flag-dz {
  background-position: -176px -64px; }

.flag.flag-16.flag-ec {
  background-position: -192px -64px; }

.flag.flag-16.flag-ee {
  background-position: -208px -64px; }

.flag.flag-16.flag-eg {
  background-position: -224px -64px; }

.flag.flag-16.flag-eh {
  background-position: -240px -64px; }

.flag.flag-16.flag-er {
  background-position: -256px -64px; }

.flag.flag-16.flag-es {
  background-position: -0px -80px; }

.flag.flag-16.flag-et {
  background-position: -16px -80px; }

.flag.flag-16.flag-eu {
  background-position: -32px -80px; }

.flag.flag-16.flag-fi {
  background-position: -48px -80px; }

.flag.flag-16.flag-fj {
  background-position: -64px -80px; }

.flag.flag-16.flag-fk {
  background-position: -80px -80px; }

.flag.flag-16.flag-fm {
  background-position: -96px -80px; }

.flag.flag-16.flag-fo {
  background-position: -112px -80px; }

.flag.flag-16.flag-fr {
  background-position: -128px -80px; }

.flag.flag-16.flag-ga {
  background-position: -144px -80px; }

.flag.flag-16.flag-gb {
  background-position: -160px -80px; }

.flag.flag-16.flag-gd {
  background-position: -176px -80px; }

.flag.flag-16.flag-ge {
  background-position: -192px -80px; }

.flag.flag-16.flag-gg {
  background-position: -208px -80px; }

.flag.flag-16.flag-gh {
  background-position: -224px -80px; }

.flag.flag-16.flag-gi {
  background-position: -240px -80px; }

.flag.flag-16.flag-gl {
  background-position: -256px -80px; }

.flag.flag-16.flag-gm {
  background-position: -0px -96px; }

.flag.flag-16.flag-gn {
  background-position: -16px -96px; }

.flag.flag-16.flag-gq {
  background-position: -32px -96px; }

.flag.flag-16.flag-gr {
  background-position: -48px -96px; }

.flag.flag-16.flag-gs {
  background-position: -64px -96px; }

.flag.flag-16.flag-gt {
  background-position: -80px -96px; }

.flag.flag-16.flag-gu {
  background-position: -96px -96px; }

.flag.flag-16.flag-gw {
  background-position: -112px -96px; }

.flag.flag-16.flag-gy {
  background-position: -128px -96px; }

.flag.flag-16.flag-hk {
  background-position: -144px -96px; }

.flag.flag-16.flag-hn {
  background-position: -160px -96px; }

.flag.flag-16.flag-hr {
  background-position: -176px -96px; }

.flag.flag-16.flag-ht {
  background-position: -192px -96px; }

.flag.flag-16.flag-hu {
  background-position: -208px -96px; }

.flag.flag-16.flag-ic {
  background-position: -224px -96px; }

.flag.flag-16.flag-id {
  background-position: -240px -96px; }

.flag.flag-16.flag-ie {
  background-position: -256px -96px; }

.flag.flag-16.flag-il {
  background-position: -0px -112px; }

.flag.flag-16.flag-im {
  background-position: -16px -112px; }

.flag.flag-16.flag-in {
  background-position: -32px -112px; }

.flag.flag-16.flag-iq {
  background-position: -48px -112px; }

.flag.flag-16.flag-ir {
  background-position: -64px -112px; }

.flag.flag-16.flag-is {
  background-position: -80px -112px; }

.flag.flag-16.flag-it {
  background-position: -96px -112px; }

.flag.flag-16.flag-je {
  background-position: -112px -112px; }

.flag.flag-16.flag-jm {
  background-position: -128px -112px; }

.flag.flag-16.flag-jo {
  background-position: -144px -112px; }

.flag.flag-16.flag-jp {
  background-position: -160px -112px; }

.flag.flag-16.flag-ke {
  background-position: -176px -112px; }

.flag.flag-16.flag-kg {
  background-position: -192px -112px; }

.flag.flag-16.flag-kh {
  background-position: -208px -112px; }

.flag.flag-16.flag-ki {
  background-position: -224px -112px; }

.flag.flag-16.flag-km {
  background-position: -240px -112px; }

.flag.flag-16.flag-kn {
  background-position: -256px -112px; }

.flag.flag-16.flag-kp {
  background-position: -0px -128px; }

.flag.flag-16.flag-kr {
  background-position: -16px -128px; }

.flag.flag-16.flag-kw {
  background-position: -32px -128px; }

.flag.flag-16.flag-ky {
  background-position: -48px -128px; }

.flag.flag-16.flag-kz {
  background-position: -64px -128px; }

.flag.flag-16.flag-la {
  background-position: -80px -128px; }

.flag.flag-16.flag-lb {
  background-position: -96px -128px; }

.flag.flag-16.flag-lc {
  background-position: -112px -128px; }

.flag.flag-16.flag-li {
  background-position: -128px -128px; }

.flag.flag-16.flag-lk {
  background-position: -144px -128px; }

.flag.flag-16.flag-lr {
  background-position: -160px -128px; }

.flag.flag-16.flag-ls {
  background-position: -176px -128px; }

.flag.flag-16.flag-lt {
  background-position: -192px -128px; }

.flag.flag-16.flag-lu {
  background-position: -208px -128px; }

.flag.flag-16.flag-lv {
  background-position: -224px -128px; }

.flag.flag-16.flag-ly {
  background-position: -240px -128px; }

.flag.flag-16.flag-ma {
  background-position: -256px -128px; }

.flag.flag-16.flag-mc {
  background-position: -0px -144px; }

.flag.flag-16.flag-md {
  background-position: -16px -144px; }

.flag.flag-16.flag-me {
  background-position: -32px -144px; }

.flag.flag-16.flag-mf {
  background-position: -48px -144px; }

.flag.flag-16.flag-mg {
  background-position: -64px -144px; }

.flag.flag-16.flag-mh {
  background-position: -80px -144px; }

.flag.flag-16.flag-mk {
  background-position: -96px -144px; }

.flag.flag-16.flag-ml {
  background-position: -112px -144px; }

.flag.flag-16.flag-mm {
  background-position: -128px -144px; }

.flag.flag-16.flag-mn {
  background-position: -144px -144px; }

.flag.flag-16.flag-mo {
  background-position: -160px -144px; }

.flag.flag-16.flag-mp {
  background-position: -176px -144px; }

.flag.flag-16.flag-mq {
  background-position: -192px -144px; }

.flag.flag-16.flag-mr {
  background-position: -208px -144px; }

.flag.flag-16.flag-ms {
  background-position: -224px -144px; }

.flag.flag-16.flag-mt {
  background-position: -240px -144px; }

.flag.flag-16.flag-mu {
  background-position: -256px -144px; }

.flag.flag-16.flag-mv {
  background-position: -0px -160px; }

.flag.flag-16.flag-mw {
  background-position: -16px -160px; }

.flag.flag-16.flag-mx {
  background-position: -32px -160px; }

.flag.flag-16.flag-my {
  background-position: -48px -160px; }

.flag.flag-16.flag-mz {
  background-position: -64px -160px; }

.flag.flag-16.flag-na {
  background-position: -80px -160px; }

.flag.flag-16.flag-nc {
  background-position: -96px -160px; }

.flag.flag-16.flag-ne {
  background-position: -112px -160px; }

.flag.flag-16.flag-nf {
  background-position: -128px -160px; }

.flag.flag-16.flag-ng {
  background-position: -144px -160px; }

.flag.flag-16.flag-ni {
  background-position: -160px -160px; }

.flag.flag-16.flag-nl {
  background-position: -176px -160px; }

.flag.flag-16.flag-no {
  background-position: -192px -160px; }

.flag.flag-16.flag-np {
  background-position: -208px -160px; }

.flag.flag-16.flag-nr {
  background-position: -224px -160px; }

.flag.flag-16.flag-nu {
  background-position: -240px -160px; }

.flag.flag-16.flag-nz {
  background-position: -256px -160px; }

.flag.flag-16.flag-om {
  background-position: -0px -176px; }

.flag.flag-16.flag-pa {
  background-position: -16px -176px; }

.flag.flag-16.flag-pe {
  background-position: -32px -176px; }

.flag.flag-16.flag-pf {
  background-position: -48px -176px; }

.flag.flag-16.flag-pg {
  background-position: -64px -176px; }

.flag.flag-16.flag-ph {
  background-position: -80px -176px; }

.flag.flag-16.flag-pirate-black {
  background-position: -96px -176px; }

.flag.flag-16.flag-pirate-white {
  background-position: -112px -176px; }

.flag.flag-16.flag-pk {
  background-position: -128px -176px; }

.flag.flag-16.flag-pl {
  background-position: -144px -176px; }

.flag.flag-16.flag-pn {
  background-position: -160px -176px; }

.flag.flag-16.flag-pr {
  background-position: -176px -176px; }

.flag.flag-16.flag-ps {
  background-position: -192px -176px; }

.flag.flag-16.flag-pt {
  background-position: -208px -176px; }

.flag.flag-16.flag-pw {
  background-position: -224px -176px; }

.flag.flag-16.flag-py {
  background-position: -240px -176px; }

.flag.flag-16.flag-qa {
  background-position: -256px -176px; }

.flag.flag-16.flag-ro {
  background-position: -0px -192px; }

.flag.flag-16.flag-rs {
  background-position: -16px -192px; }

.flag.flag-16.flag-ru {
  background-position: -32px -192px; }

.flag.flag-16.flag-rw {
  background-position: -48px -192px; }

.flag.flag-16.flag-sa {
  background-position: -64px -192px; }

.flag.flag-16.flag-sb {
  background-position: -80px -192px; }

.flag.flag-16.flag-sc {
  background-position: -96px -192px; }

.flag.flag-16.flag-sd {
  background-position: -112px -192px; }

.flag.flag-16.flag-se {
  background-position: -128px -192px; }

.flag.flag-16.flag-sg {
  background-position: -144px -192px; }

.flag.flag-16.flag-sh {
  background-position: -160px -192px; }

.flag.flag-16.flag-si {
  background-position: -176px -192px; }

.flag.flag-16.flag-sk {
  background-position: -192px -192px; }

.flag.flag-16.flag-sl {
  background-position: -208px -192px; }

.flag.flag-16.flag-sm {
  background-position: -224px -192px; }

.flag.flag-16.flag-sn {
  background-position: -240px -192px; }

.flag.flag-16.flag-so {
  background-position: -256px -192px; }

.flag.flag-16.flag-sr {
  background-position: -0px -208px; }

.flag.flag-16.flag-ss {
  background-position: -16px -208px; }

.flag.flag-16.flag-st {
  background-position: -32px -208px; }

.flag.flag-16.flag-sv {
  background-position: -48px -208px; }

.flag.flag-16.flag-sy {
  background-position: -64px -208px; }

.flag.flag-16.flag-sz {
  background-position: -80px -208px; }

.flag.flag-16.flag-tc {
  background-position: -96px -208px; }

.flag.flag-16.flag-td {
  background-position: -112px -208px; }

.flag.flag-16.flag-tf {
  background-position: -128px -208px; }

.flag.flag-16.flag-tg {
  background-position: -144px -208px; }

.flag.flag-16.flag-th {
  background-position: -160px -208px; }

.flag.flag-16.flag-tj {
  background-position: -176px -208px; }

.flag.flag-16.flag-tk {
  background-position: -192px -208px; }

.flag.flag-16.flag-tl {
  background-position: -208px -208px; }

.flag.flag-16.flag-tm {
  background-position: -224px -208px; }

.flag.flag-16.flag-tn {
  background-position: -240px -208px; }

.flag.flag-16.flag-to {
  background-position: -256px -208px; }

.flag.flag-16.flag-tr {
  background-position: -0px -224px; }

.flag.flag-16.flag-tt {
  background-position: -16px -224px; }

.flag.flag-16.flag-tv {
  background-position: -32px -224px; }

.flag.flag-16.flag-tw {
  background-position: -48px -224px; }

.flag.flag-16.flag-tz {
  background-position: -64px -224px; }

.flag.flag-16.flag-ua {
  background-position: -80px -224px; }

.flag.flag-16.flag-ug {
  background-position: -96px -224px; }

.flag.flag-16.flag-us {
  background-position: -112px -224px; }

.flag.flag-16.flag-uy {
  background-position: -128px -224px; }

.flag.flag-16.flag-uz {
  background-position: -144px -224px; }

.flag.flag-16.flag-va {
  background-position: -160px -224px; }

.flag.flag-16.flag-vc {
  background-position: -176px -224px; }

.flag.flag-16.flag-ve {
  background-position: -192px -224px; }

.flag.flag-16.flag-vg {
  background-position: -208px -224px; }

.flag.flag-16.flag-vi {
  background-position: -224px -224px; }

.flag.flag-16.flag-vn {
  background-position: -240px -224px; }

.flag.flag-16.flag-vu {
  background-position: -256px -224px; }

/*# sourceMappingURL=compiled.css.map */
