{{Inc:cms/blocks/header}}
<body>
<div class="page">

    <header class="promoPage">


        <div class="promoVideo"
             style="background-position: 50% 50%; background-image: url({{Dir}}/img/intro.jpg);">
            <div class="preloader"></div>
            <video autoplay="" muted="" preload="auto" loop="">
                <source src="{{Dir}}/video/intro.mp4" type="video/mp4">
                <source src="{{Dir}}/video/intro.webm" type="video/webm">
                <source src="{{Dir}}/video/intro.ogv" type="video/ogg">
            </video>
        </div>

        <div class="container">
            <div class="promo">
                <h2><?= I18n::__('Xand Framework'); ?></h2>
                <div class="description">
                    <?= I18n::__('A popular tool for PHP web development.'); ?>
                </div>
            </div>
        </div>


    </header>
</div>
</body>
</html>