@charset "UTF-8";
/* fonts */
/* colors */
/* buttonsBig */
.buttonsBig {
  padding: 5px 5px 5px 5px;
  width: 60px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  display: block;
  float: left;
  text-align: center;
  color: #777; }

.buttonsBig:hover {
  background-color: #f2fafd;
  box-shadow: 0 0 2px rgba(84, 116, 121, 0.25) inset; }

.buttonsBig i {
  display: block;
  font-size: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 5px; }

/* buttonTable */
.buttonTable {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer; }

.buttonTableInactive {
  opacity: 0.2;
  cursor: default; }

.buttonDelete {
  background-image: url(../svg/delete.svg); }

.buttonArchive {
  background-image: url(../svg/archive.svg); }

.buttonUser-ban {
  background-image: url(../svg/user-ban.svg); }

.buttonChargeback {
  background-image: url(../svg/chargeback.svg); }

.buttonChargeback-restore {
  background-image: url(../svg/chargeback-restore.svg); }

.buttonComplete {
  background-image: url(../svg/complete.svg); }

.buttonCancel {
  background-image: url(../svg/cancel.svg); }

.buttonDown {
  background-image: url(../svg/down.svg); }

.buttonEdit {
  background-image: url(../svg/edit.svg); }

.buttonForce {
  background-image: url(../svg/force.svg); }

.buttonPdf {
  background-image: url(../svg/pdf.svg); }

.buttonMagnifier {
  background-image: url(../svg/magnifier.svg); }

.buttonMail-blue {
  background-image: url(../svg/mail-blue.svg); }

.buttonsInsert {
  background-image: url(../svg/insert.svg); }

.buttonProvider {
  background-image: url(../svg/provider.svg); }

.buttonDanger-off {
  background-image: url(../svg/danger-off.svg); }

.buttonHistory {
  background-image: url(../svg/history.svg); }

.buttonClone {
  background-image: url(../svg/clone.svg); }

.buttonSettings {
  background-image: url(../svg/settings.svg); }

.buttonOptions {
  background-image: url(../svg/options.svg); }

.buttonPlus {
  background-image: url(../svg/plus.svg); }

.buttonPlusOrange {
  background-image: url(../svg/plus-orange.svg); }

.buttonPlusRed {
  background-image: url(../svg/plus-red.svg); }

.buttonPassword {
  background-image: url(../svg/password.svg); }

.buttonPasswordReset {
  background-image: url(../svg/password-reset.svg); }

.buttonReset {
  background-image: url(../svg/reset.svg); }

.buttonRefresh {
  background-image: url(../svg/refresh.svg); }

.buttonContent {
  background-image: url("../svg/content.svg"); }

.buttonMove {
  background-image: url("../svg/move.svg"); }

.buttonPublished {
  background-image: url(../svg/published.svg); }

.buttonUnpublished {
  background-image: url(../svg/unpublished.svg); }

.buttonsRoles {
  background-image: url(../svg/roles.svg); }

/* svg button icon */
.svgMailRed {
  background-image: url(../svg/mail-red.svg); }

.svgMailBlue {
  background-image: url(../svg/mail-blue.svg); }

/* svg button icon */
.btn {
  text-decoration: none;
  display: inline-block;
  *display: inline;
  padding: 6px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9; }

.btn:active,
.btn.active {
  background-color: #cccccc \9; }

.btn:first-child {
  *margin-left: 0; }

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; }

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px; }

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0; }

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px; }

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn-block + .btn-block {
  margin-top: 5px; }

button i {
  margin-right: 5px !important; }

button {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5378a0;
  background-image: linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  background-image: -o-linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  background-image: -moz-linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  background-image: -webkit-linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  background-image: -ms-linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #3b5979;
  *background-color: #3b5979; }

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9; }

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(to top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(to top, #fbb450, #f89406);
  background-image: -o-linear-gradient(to top, #fbb450, #f89406);
  background-image: linear-gradient(to top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505; }

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9; }

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(to top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(to top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(to top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a; }

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9; }

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(to top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(to top, #62c462, #51a351);
  background-image: -o-linear-gradient(to top, #62c462, #51a351);
  background-image: linear-gradient(to top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249; }

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9; }

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(to top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(to top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(to top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0; }

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9; }

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(to top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(to top, #444444, #222222);
  background-image: -o-linear-gradient(to top, #444444, #222222);
  background-image: linear-gradient(to top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515; }

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9; }

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px; }

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px; }

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px; }

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none; }

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1; }

.btn-group:first-child {
  *margin-left: 0; }

.btn-group + .btn-group {
  margin-left: 5px; }

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0; }

.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px; }

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn-group > .btn + .btn {
  margin-left: -1px; }

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px; }

.btn-group > .btn-mini {
  font-size: 10.5px; }

.btn-group > .btn-small {
  font-size: 11.9px; }

.btn-group > .btn-large {
  font-size: 17.5px; }

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px; }

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px; }

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px; }

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px; }

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2; }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0; }

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px; }

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px; }

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px; }

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6; }

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc; }

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406; }

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f; }

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351; }

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4; }

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222; }

.btn .caret {
  margin-top: 8px;
  margin-left: 0; }

.btn-large .caret {
  margin-top: 6px; }

.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px; }

.btn-mini .caret,
.btn-small .caret {
  margin-top: 8px; }

.dropup .btn-large .caret {
  border-bottom-width: 5px; }

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff; }

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1; }

.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn-group-vertical > .btn + .btn {
  margin-top: -1px;
  margin-left: 0; }

.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0; }

.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; }

button {
  margin: 0 0 0 2px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  padding: 3px 10px; }

.bBlue {
  background-color: #5378a0;
  background-image: linear-gradient(to top, #3a5878 0%, #698cb1 100%);
  color: #FFF;
  text-shadow: 0 1px 0 #3a5878;
  border: solid 1px #517295; }

.bBlue:hover {
  background-image: linear-gradient(to top, #496b8e 0%, #7ca0c1 100%); }

.bGray {
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-bottom: 1px solid #B3B3B3;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.196), 0 1px 2px rgba(0, 0, 0, 0.047);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.749);
  color: #333;
  text-shadow: 0 1px 0 #fff;
  border: solid 1px #ccc; }

.bGray:hover {
  background-image: linear-gradient(to top, #e5e5e5 0%, #f8f8f8 100%); }

/**
 * 
 *
 * @тип  	 CSS styles
 * @пакет    Cms
 * @версия   1
 *
 *
 **/
* {
  outline: none;
  resize: none; }

/****** Messages *******/
.msg {
  padding: 10px 14px;
  margin: 10px 0 0;
  margin-right: 10px;
  display: inline-block;
  border: solid 1px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px; }
  .msg span {
    margin-right: 4px; }
  .msg i {
    margin-left: -1px;
    margin-right: 4px; }

.msgInfo {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.506);
  background-color: #D9EDF7;
  border-bottom-color: #BCE8F1;
  border-left-color: #BCE8F1;
  border-right-color: #BCE8F1;
  border-top-color: #BCE8F1;
  color: #3A87AD; }

.msgSuccess {
  background-color: #DFF0D8;
  border-bottom-color: #D6E9C6;
  border-left-color: #D6E9C6;
  border-right-color: #D6E9C6;
  border-top-color: #D6E9C6;
  color: #468847; }

.msgError {
  background-color: #F2DEDE;
  border-bottom-color: #EBCCD1;
  border-left-color: #EBCCD1;
  border-right-color: #EBCCD1;
  border-top-color: #EBCCD1;
  color: #A94442; }

.msgWarning {
  background-color: #FCF8E3;
  border-bottom-color: #FAEBCC;
  border-left-color: #FAEBCC;
  border-right-color: #FAEBCC;
  border-top-color: #FAEBCC;
  color: #8A6D3B; }

.msgWarningSimple {
  /*  background-image:url(ico/warning.png); */
  color: #333;
  font-size: 12px; }

/****** BREADCRUMBS *******/
.breadcrumbs {
  margin: 10px 0 5px 0; }
  .breadcrumbs a {
    display: inline-block;
    margin: 0 0;
    padding: 0;
    color: #777777;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
    .breadcrumbs a:first-child {
      font-weight: 400; }
    .breadcrumbs a:last-child {
      color: #1E8EF1; }
  .breadcrumbs i {
    display: inline-block;
    margin: 0 5px;
    color: #AFB8C2; }

/****** Tools *******/
.download_link {
  text-indent: 20px;
  display: block;
  background-repeat: no-repeat;
  color: #000;
  background-position: 1px 1px;
  margin: 8px; }

#up_photo {
  margin-bottom: 10px;
  height: 130px;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #e3e3e3;
  overflow-y: scroll; }

.uploadifyQueueItem {
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  font: 10px Verdana, Geneva, sans-serif;
  margin: 1px;
  padding: 3px;
  border-radius: 3px;
  width: 170px;
  height: 50px;
  float: left; }

.fileSize {
  color: #666;
  font-size: 10px; }

.uploadifyError {
  background-color: #FDE5DD !important;
  border: 2px solid #FBCBBC !important; }

.uploadifyQueueItem .cancel {
  float: right; }

.uploadifyQueue .completed {
  background-color: #d1edff; }

.uploadifyProgress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%; }

.uploadifyProgressBar {
  background-color: #0099FF;
  height: 2px;
  width: 1px; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } }
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
.progress {
  height: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* W3C */
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  border-radius: 4px 0 0 4px;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15); }

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0); }

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0); }

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0); }

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0); }

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

/****** TABLE *******/
.tableScrollWrapper {
  overflow: hidden; }

.tableWrapper {
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 3px; }
  @media (max-width: 968px) {
    .tableWrapper {
      border: none; } }

.table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

.table th, .table td {
  padding: 2px 2px 0 2px;
  border-top: 1px solid #dddddd; }

.table th {
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  line-height: 28px;
  text-shadow: 0 1px 0 #fff;
  padding: 2px 2px 0 2px; }

.table tr {
  padding: 5px; }

.table td {
  line-height: 14px !important; }
  .table td i {
    font-size: 14px;
    line-height: 16px;
    display: inline; }
  .table td .svgIcon16x16 {
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 1px; }

.table th a {
  float: left;
  text-decoration: none;
  color: #000; }

.table td a {
  color: #000; }

.table td a:hover {
  text-decoration: none !important; }

.table th:hover, .tableHeadActive {
  color: #1E8EF1; }

.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0; }

.table tbody + tbody {
  border-top: 2px solid #dddddd; }

.table .table {
  background-color: #ffffff; }

.table-condensed th, .table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd; }

.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0; }

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px; }

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px; }

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px; }

.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px; }

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0; }

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0; }

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px; }

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px; }

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e6f4fc !important; }

.tableRowDeleted {
  color: #aaa;
  text-decoration: line-through; }

.tableRowDeleted:hover {
  text-decoration: none; }

.tableRowDisabled {
  color: #666;
  background-color: #eee; }

.tableTitle {
  margin: 0;
  padding: 5px 0 0;
  color: #446384;
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  height: 23px; }
  .tableTitle hr {
    margin: 2px 0 4px 0;
    padding: 0;
    border: 0;
    border-top: solid 1px #f0f0f0; }
  @media (max-width: 968px) {
    .tableTitle {
      height: auto; } }

.widgetMessages {
  padding-bottom: 10px; }

.informerTitle {
  margin: 0;
  padding: 10px 0 1px 0;
  color: #446384;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold; }

.informerTitleHelper {
  float: right;
  color: #777;
  padding-top: 11px; }

.table-striped tbody > tr > td.tableRowActiveC,
.table-striped tbody > tr > td.tableRowActiveNc {
  background: #F9F9F9; }

.tableHeadTooltip:hover .dropDown {
  display: block; }

.tableActionPanel {
  height: 25px;
  margin-top: 0;
  margin-bottom: 5px; }

.tableRowsSelected {
  background: #dbf2ff !important;
  background-color: #dbf2ff !important; }

.tableRowsSelected td {
  background: #dbf2ff !important;
  background-color: #dbf2ff !important; }

.table tbody tr.warning > td {
  background-color: #FCFAF0 !important; }

.table tbody tr.rowPink > td {
  background-color: #FFF2FE !important; }

.table tbody tr.rowGray > td {
  background-color: #f3f3f3 !important;
  color: #aaa; }

.table tbody tr.rowGray > td a {
  color: #aaa; }

.table tbody tr.rowRed > td {
  background-color: #FFF5F6 !important; }

.table tbody tr.rowGreen > td {
  background-color: #e9fdea !important; }

.table tbody tr.rowTotal > td {
  background-color: #fafafa !important;
  color: #333 !important; }

.drawGroupSeparator {
  background-color: #fff;
  color: #444444;
  margin: 0;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  padding: 6px 8px 4px 8px;
  font-weight: 700;
  box-shadow: 0 1px 0 #fff inset;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -o-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(bottom, #fff 70%, #f0f0f0 100%); }

.appWrapper {
  width: 100%; }

.appButtons {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  overflow: hidden; }

.appTimerWrap {
  display: inline;
  margin-left: 20px;
  color: #999999;
  font-weight: normal;
  font-size: 14px; }

.appTimer {
  font-weight: 700; }

input[type="text"].tableSmartFilterInput {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: solid 1px #ddd;
  border-radius: 0;
  margin-bottom: 3px;
  margin-top: 1px;
  text-indent: 0;
  box-shadow: none;
  font-size: 11px !important; }

input[type="text"].tableSmartFilterInputActive {
  border-color: #FFCC00; }

.tableColumnSpoilerAction {
  font-size: 13px !important;
  display: table-cell;
  cursor: pointer;
  padding-top: 1px; }

.tableColumnSpoilerContent {
  display: table-cell;
  padding-left: 5px; }

/****** Actions *******/
.actionTab {
  border-bottom: solid 1px #ddd;
  height: 25px;
  margin: 5px 3px 3px 3px;
  padding: 0 22px; }
  @media (max-width: 968px) {
    .actionTab {
      height: auto;
      margin: 0 0 5px 0;
      padding: 2px;
      border: solid 1px #ddd;
      border-radius: 3px; } }
  .actionTab a {
    display: block;
    padding: 0 15px 0 15px;
    margin: 0 1px 0 1px;
    float: left;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    font-weight: 700; }
    @media (max-width: 968px) {
      .actionTab a {
        float: none;
        display: block;
        border: none;
        border-bottom: solid 1px white;
        border-radius: 0; } }

.actionTabSelected {
  height: 25px;
  line-height: 28px;
  border: solid 1px #b5b5b5;
  border-bottom: solid 1px #fff;
  background-image: linear-gradient(to bottom, #f0f0f0, #fff); }

.actionTabUnSelected {
  height: 24px;
  line-height: 27px;
  border: solid 1px #b5b5b5;
  border-bottom: solid 1px #ddd;
  background: linear-gradient(to top, #f4f4f4, #e2e2e2); }
  .actionTabUnSelected:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    background-image: linear-gradient(to bottom, #f0f0f0, #fff); }

/* ---------- new -- */
.actionMenu a {
  display: block;
  padding: 0 5px 0 5px;
  margin: 0 0 0 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  background-image: url(../svg/radio.svg);
  background-repeat: no-repeat;
  text-indent: 14px;
  color: #333; }

.actionMenuUnSelected {
  background-position: 0 0; }

.actionMenuUnSelected:hover {
  background-position: 0  -36px; }

.actionMenuSelected {
  background-position: 0  -18px; }

.tableHiddenText {
  color: #333;
  border-bottom: dashed 1px #777;
  padding: 0;
  line-height: 12px; }

/*.action_separator{height:10px;}*/
.tableActionWrapper {
  width: 17px;
  height: 16px;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 0 #FFF inset;
  background-image: linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  cursor: pointer;
  display: inline-block;
  position: relative; }
  .tableActionWrapper i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center 5px; }

.tableActionWrapper:hover .tableActionBody {
  display: block; }

.tableActionBody {
  display: none;
  position: absolute;
  right: -11px;
  top: 18px;
  z-index: 50;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #B7B7B7;
  border-radius: 5px; }
  .tableActionBody a {
    margin: 1px 0; }

.tableActionBody::before {
  border-bottom: 4px solid #FFFFFF;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: " ";
  height: 5px;
  left: 13px;
  position: absolute;
  top: -8px;
  z-index: 51; }

.tableActionBody::after {
  border-bottom: 4px solid #B7B7B7;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: " ";
  height: 5px;
  left: 13px;
  position: absolute;
  top: -9px;
  z-index: 50; }

.filterHeadActions {
  height: 16px;
  display: block;
  margin: 4px 0 0 0;
  color: #AFB8C2;
  cursor: pointer;
  text-decoration: none;
  line-height: 16px;
  width: 14px;
  float: right; }

.actionSideTitle {
  font-size: 12px;
  font-weight: 700;
  color: #444;
  text-shadow: 0 1px 0 #FFFFFF;
  cursor: pointer;
  text-indent: 3px;
  text-decoration: none;
  float: left; }

.actionSideHead {
  display: block;
  height: 23px;
  line-height: 23px; }

.actionSideHeadUp {
  background-image: linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -o-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -moz-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -webkit-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -ms-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  height: 23px; }

.actionSideHeadDown {
  background-image: linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -o-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%); }

.actionSideHeadInactive {
  color: #afb8c2;
  font-weight: 700;
  float: right;
  height: 23px;
  font-size: 11px;
  line-height: 23px;
  margin-right: 8px;
  text-shadow: 0 1px 0 #FFFFFF; }

.appWrapperColumnFilters {
  width: 225px; }

.actionSideBody {
  padding: 5px;
  border-top: solid 1px #ddd;
  background-color: #fff; }
  .actionSideBody h4 {
    margin: 0 0;
    margin-top: 8px;
    color: #1E8EF1; }
    .actionSideBody h4 i {
      margin-right: 2px; }
    .actionSideBody h4:hover {
      cursor: pointer; }
    .actionSideBody h4:first-child {
      margin-top: 0; }
  .actionSideBody select {
    width: 100%;
    margin-bottom: 3px; }

.actionSideBodyHide {
  display: none; }

.actionSide {
  padding: 1px;
  border: solid 1px #ddd;
  border-radius: 3px;
  margin-bottom: 3px; }

.constructor_active_zone {
  border: solid;
  padding: 10px; }

.niceDownload {
  display: block;
  float: right;
  width: 25px;
  height: 16px;
  color: #8ed74d;
  margin-top: 0;
  margin-right: -3px; }

.inputCalendar {
  width: 135px;
  text-indent: 5px; }

.inputCalendarWrap {
  width: 135px;
  padding-left: 23px;
  display: block;
  background-repeat: no-repeat;
  background-position: 2px center;
  float: left;
  box-sizing: border-box; }

#filtersSlideDown {
  position: absolute;
  top: 6px;
  right: 5px;
  height: 23px;
  width: 45px;
  display: block;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 3px 3px;
  border-top: none;
  background-repeat: no-repeat;
  background-position: center center; }

#filtersSlideUp {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 23px;
  width: 45px;
  display: block;
  border-left: 1px solid #ddd;
  box-shadow: -1px 0 0 #fff;
  border-radius: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-position: center 4px; }
  #filtersSlideUp:hover {
    background-color: #fff; }

.filterOptionsBox {
  padding: 2px 5px 0 5px; }

.filterOptionsBoxDown {
  padding: 0 0 0 0; }
  .filterOptionsBoxDown a {
    text-decoration: none;
    color: #444; }
  .filterOptionsBoxDown a:hover {
    text-decoration: none;
    color: #1E8EF1; }

/****** Pager *******/
.pagerWrap {
  padding: 15px 0 10px 0;
  text-align: left;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  position: relative; }
  .pagerWrap a {
    font-size: 11px;
    font-weight: normal;
    display: block;
    float: left;
    padding: 4px 7px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    margin-right: 1px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px; }
  .pagerWrap a:hover,
  .pagerWrap #filtersSlideDown:hover {
    background-color: #1E8EF1;
    cursor: pointer;
    color: #fff; }
  .pagerWrap p {
    font-size: 11px;
    font-weight: normal;
    display: block;
    float: left;
    padding: 4px 7px;
    border-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    overflow: visible;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 1px;
    cursor: default;
    background-color: #1E8EF1;
    color: #FFF;
    text-shadow: 0 1px 0 #1E8EF1;
    margin-top: 0;
    margin-bottom: 0; }
  .pagerWrap input {
    width: 30px;
    text-align: center;
    text-indent: 0 !important;
    padding: 3px 5px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    display: block;
    height: 30px;
    border: solid 1px #ddd;
    box-shadow: none !important;
    margin: -6px 5px 0 5px; }

/**
 * 
 *
 * @тип  	 CSS styles
 * @пакет    Form
 * @версия   1
 *
 *
 **/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  color: #000;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  line-height: 14px;
  text-indent: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }

.inputText:focus, .inputTextarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #FFCC00;
  box-shadow: none;
  outline: 0  none currentColor; }

input[type='number']:invalid,
input[type='number']:out-of-range {
  border-color: red;
  color: red; }

textarea[disabled]:focus {
  box-shadow: none !important;
  border: inherit !important; }

.input-auto {
  width: 100%;
  box-sizing: border-box; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0; }

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block; }

input,
textarea,
.uneditable-input {
  margin-left: 0; }

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px; }

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px; }

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px; }

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px; }

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px; }

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px; }

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px; }

input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px; }

input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px; }

input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px; }

input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px; }

input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px; }

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px; }

.controls-row {
  *zoom: 1; }

.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: ""; }

.controls-row:after {
  clear: both; }

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left; }

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent; }

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853; }

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853; }

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853; }

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48; }

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48; }

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392; }

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48; }

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847; }

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847; }

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b; }

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847; }

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad; }

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad; }

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3; }

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7; }

.help-block,
.help-inline {
  color: #595959; }

.help-block {
  display: block;
  margin-bottom: 10px; }

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1; }

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle; }

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 12px; }

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2; }

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 16px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f9f9f9;
  border: 1px solid #ccc; }

.add-on i.fa {
  color: #777; }

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546; }

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px; }

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px; }

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0; }

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0; }

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px; }

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0; }

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0; }

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

/****** WND *******/
#mOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(104, 104, 104, 0.749);
  z-index: 1000; }

#mWrapBorder {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 34px 3px 3px;
  display: none;
  box-shadow: 0 1px 6px rgba(30, 30, 30, 0.45);
  z-index: 1001;
  background: rgba(132, 138, 145, 0.804);
  border: 1px solid #C5C1C1; }

#mWrap {
  background-color: #fff;
  padding: 0; }

#mLoader {
  background-color: #666;
  position: fixed;
  top: 50%;
  height: 36px;
  width: 170px;
  left: 50%;
  margin-left: -90px;
  margin-top: -25px;
  border-radius: 5px;
  background-image: url(../ico/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1002; }

/****** Forms *******/
.formPanel {
  border: solid 1px #ddd;
  padding: 20px;
  margin: 20px 0; }

.formPanel h5 {
  float: left;
  margin: -29px 0 0 10px;
  background-color: #fff;
  height: 16px;
  color: #777;
  padding: 0  10px;
  line-height: 16px;
  display: block;
  font-size: 12px;
  font-weight: 700; }

.formStaticContent h3 {
  color: #1E8EF1;
  margin: 5px 0;
  padding: 5px 0;
  font-weight: 700;
  border-bottom: solid 1px #ddd;
  margin-top: 10px; }

.formStaticContent h3 i {
  float: left;
  margin-right: 6px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 15px; }

.grouperClonesItem {
  position: relative; }

.grouperClonesRemove {
  position: absolute;
  right: 0;
  margin-top: 6px; }

.grouperClonesAddNew {
  display: block;
  background-color: #fcfcfc;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  border: solid 1px #ddd;
  font-size: 14px;
  color: #777;
  cursor: pointer; }
  .grouperClonesAddNew:hover {
    background-color: #fff; }
  .grouperClonesAddNew i {
    margin-right: 10px;
    font-size: 12px; }

.grouperCheckall {
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #eee;
  margin-left: 20px; }

.grouperCheckallTitle {
  display: block;
  margin-bottom: 5px;
  margin-top: -5px; }

.grouperCheckallTitle a {
  font-size: 12px;
  color: #222; }

.formStatic {
  border: solid 1px #cccccc;
  padding: 0;
  box-shadow: 0 0 5px #ddd;
  background-color: #fff; }

.formStaticTitle {
  display: block;
  border-bottom: solid 1px #ddd;
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  background-image: linear-gradient(to top, #F0F0F0 0%, #FFFFFF 100%);
  padding: 0  15px;
  padding-bottom: 0;
  text-shadow: 0  1px 0  #fff; }

.formStaticContent {
  padding: 15px;
  background-color: #fff; }

.formBaseButtons {
  border-top: solid 1px #ddd;
  padding: 10px 10px;
  text-align: right;
  background-color: #f9f9f9; }

.formBaseButtons button {
  margin-right: 5px; }

.formSeparator {
  padding: 10px 15px;
  margin: 15px -15px;
  background-color: #f9f9f9;
  border: solid 1px #ddd;
  border-right: 0;
  border-left: 0; }

#adminContent .formSeparator h2 {
  margin: 0; }

.formOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: 500; }

.formStaticOverlay {
  position: absolute;
  z-index: 501;
  right: 20px;
  left: 20px; }

.formModal {
  background-color: #f7f7f7;
  width: 900px; }

.formModal .formBaseButtons {
  text-align: right;
  padding: 10px 10px; }

.formModal .formBaseButtons button {
  margin-left: 5px;
  margin-right: 0; }

.formModalContent {
  padding: 20px;
  background-color: #fff; }

.formModalTitle {
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  float: left;
  margin-top: -28px;
  text-shadow: 0 1px 0 #838383, 0 0 18px rgba(255, 255, 255, 0.859);
  text-indent: 5px;
  padding-top: 2px; }

.formModalTitleClose {
  cursor: pointer;
  background-color: #c75050;
  color: #FFFFFF;
  float: right;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  margin-top: -34px;
  text-align: center;
  width: 60px; }

.formModalTitleClose:hover {
  background-color: #e04343; }

.formElementCompact {
  width: 50%;
  display: inline-block;
  box-sizing: border-box; }
  .formElementCompact .phpdoc {
    color: #999;
    display: block;
    margin-bottom: 6px; }

.formElementCompact .checkbox {
  margin: 3px 0;
  color: #222; }

.formElement {
  padding: 4px 0;
  margin: 0;
  clear: left; }

.formElementFlat span, .formElement span {
  float: left;
  display: block;
  height: 25px;
  line-height: 25px;
  box-sizing: content-box;
  margin: 0; }

.formRequirements {
  color: #777;
  margin: 5px 10px; }

/****** Inputs *******/
.input_div {
  padding: 0;
  margin: 0; }

#listBoxBig {
  height: 230px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 3px #eee; }

#listBoxBig hr {
  margin: 2px 0  4px 0;
  padding: 0;
  border: 0;
  border-top: solid 1px #e0e0e0; }

#listBox {
  height: 250px;
  margin: 0;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #ccc; }

#listBox p {
  float: left;
  padding: 5px 25px 5px 5px;
  background-color: #e8ecf1;
  border-radius: 3px;
  margin: 2px;
  display: block;
  text-shadow: 0  1px 0  #eee; }

#listBox a {
  background-image: url(../ico/micro_close.gif);
  display: block;
  float: right;
  height: 10px;
  width: 10px;
  margin-right: -20px;
  margin-top: 3px; }

#listBox p:hover {
  background-color: #FF9;
  cursor: pointer; }

.name_pages {
  height: 20px;
  text-align: left;
  margin: 2px;
  background-image: url(../ico/curveleft.png);
  background-repeat: no-repeat;
  text-indent: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000; }

input.inputText,
textarea.inputTextarea,
textarea.inputTextareaBb {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ccc;
  text-indent: 3px;
  height: 25px;
  line-height: 20px;
  font-size: 12px;
  box-shadow: 0  4px 7px #eee inset;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 5px 3px; }

textarea.inputTextarea,
textarea.inputTextareaBb {
  padding: 5px;
  box-sizing: border-box;
  line-height: 14px; }

input.inputTextRead {
  border-radius: 0;
  text-indent: 5px;
  box-sizing: border-box;
  height: 25px;
  line-height: 20px; }

.inputTextarea, .inputTextareaBb {
  padding: 10px;
  box-sizing: border-box;
  line-height: 18px; }

.inputTextareaBb:focus {
  border-bottom-color: rgba(82, 168, 236, 0.804);
  border-left-color: rgba(82, 168, 236, 0.804);
  border-right-color: rgba(82, 168, 236, 0.804);
  border-top-color: rgba(82, 168, 236, 0.804);
  outline: 0  none currentColor; }

/*.inputText:focus, .inputTextarea:focus{ border-bottom-color: rgba(82, 168, 236, 0.804);
                                        border-left-color: rgba(82, 168, 236, 0.804); border-right-color: rgba(82, 168, 236, 0.804); border-top-color: rgba(82, 168, 236, 0.804);
                                        box-shadow: inset 0  1px 1px rgba(0, 0, 0, 0.071), 0 0 8px rgba(82, 168, 236, 0.600); outline: 0  none currentColor; }*/
.inputCheckbox {
  padding: 1px;
  margin: 6px 0  5px 0;
  background-color: #FFF;
  border: solid 1px #ddd;
  width: 14px;
  height: 14px;
  color: #7b9fc0; }

.inputCheckbox:disabled {
  background-color: #eee;
  color: #aaa; }

.inputCheckboxLabel {
  padding-left: 3px;
  display: inline-block;
  height: 25px;
  line-height: 20px;
  box-sizing: content-box;
  margin: 0; }

.radioWrap {
  padding: 0;
  margin-top: 5px;
  display: table-row; }

.radioWrap a {
  display: block;
  padding: 1px 5px 0  5px;
  margin: 0 0 3px 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  background-image: url(../svg/radio.svg);
  background-repeat: no-repeat;
  text-indent: 14px;
  color: #333; }

.radioUnSel {
  background-position: 0  -0px; }

.radioUnSel:hover {
  background-position: 0  -36px; }

.radioSel {
  background-position: 0  -18px; }

.checkbox {
  display: inline-block;
  padding: 0;
  margin: 6px 0 0 0;
  text-decoration: none;
  font-size: 12px;
  text-indent: 16px;
  color: #333;
  height: 14px;
  line-height: 14px;
  background-image: url(../svg/check.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  text-indent: 20px;
  color: #999;
  min-width: 16px; }

.checkboxSel {
  background-position: 0 -14px; }

.checkboxSel:hover {
  background-position: 0 -42px; }

.checkboxUnSel {
  background-position: 0  0; }

.checkboxUnSel:hover {
  background-position: 0 -28px; }

.checkboxDisabledSel {
  background-position: 0 -70px; }

.checkboxDisabledUnSel {
  background-position: 0 -56px; }

.checkboxLoading {
  background-image: url(../ico/load_mini.gif) !important; }

.ajaxLink {
  color: #777;
  text-decoration: none;
  border-bottom: dashed 1px #777;
  margin-right: 10px; }

.ajaxLink:hover {
  color: #5f83a5;
  border-bottom: dashed 1px #fff; }

.switchWrapWrap {
  color: #999;
  overflow: hidden;
  padding: 0  10px 5px 8px; }

.switchWrap {
  border: solid 1px #ccc;
  width: 100%;
  position: relative;
  margin-top: 0;
  border-radius: 3px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: block; }

.switchButton {
  display: block;
  padding: 5px 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 13px; }

.switchOff {
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  color: #aaa;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  position: absolute; }

.switchOn {
  background-color: #1E8EF1;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  position: absolute;
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
  left: 50%; }

.switchOnGray {
  right: -1px;
  top: -1px;
  bottom: -1px;
  left: 50%;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  position: absolute; }

.inputTextRead {
  border: solid 1px #ccc;
  text-indent: 3px;
  background-color: #eee;
  height: 23px;
  line-height: 23px;
  box-sizing: content-box;
  box-shadow: 0  4px 7px #ddd inset;
  font-size: 12px;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%; }

.inputTextarea_read {
  background-image: url(images/text-bg-read.png);
  background-repeat: repeat-x;
  border: solid 1px #b5b5b5;
  text-indent: 3px;
  line-height: 20px;
  font-size: 12px;
  outline: none;
  width: 100%;
  outline: none;
  background-color: #f5f5f5; }

.input_interactive_wrap {
  position: relative;
  height: 24px; }

.input_interactive_dd {
  position: absolute;
  width: 195px;
  top: 28px;
  padding: 2px 5px 2px 2px;
  background-color: #FFF;
  border: solid 1px #CCC;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 250px;
  opacity: 0.96;
  display: none;
  z-index: 10000; }

.input_interactive_dd a {
  display: block;
  margin: 0;
  padding: 3px;
  color: #000;
  text-decoration: none; }

.input_interactive_dd a:hover {
  background-color: #6b797c;
  color: #FFF; }

.input_interactive_dd a strong {
  background-color: #fff551;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline; }

.inputUploadForm {
  position: relative;
  height: 24px;
  overflow: hidden;
  width: 110px; }

.inputUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

.inputUploadMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 22px;
  line-height: 22px;
  padding: 0  10px 0  10px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #F8F8F8;
  text-decoration: none;
  border: solid 1px #cacaca;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  text-shadow: 0  1px 0  #fff;
  color: #444444;
  background-repeat: repeat-x;
  background-position: 0  -14px; }

.inputUploadMask span {
  float: left;
  width: 100%;
  height: 22px;
  line-height: 22px;
  display: block;
  text-align: center; }

.inputUploadLoading {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-image: url(../ico/load_mini.gif);
  display: block;
  margin-top: 5px;
  float: left;
  display: none; }

.inputUploadLoadingBg {
  background-image: url(../ico/load_mini.gif);
  background-repeat: no-repeat;
  background-position: center center; }

.inputBbPanel {
  padding-top: 5px;
  height: 14px;
  padding-bottom: 10px; }

.inputBbPanel a {
  background-color: #f0f0f0;
  margin-right: 3px;
  line-height: 16px;
  padding: 1px 5px;
  color: #333;
  border: solid 1px #b5b5b5;
  text-decoration: none;
  border-radius: 2px;
  font-size: 11px;
  display: block;
  float: left; }

.inputBbPanel a:hover {
  background-color: #FFF; }

/****** Controls *******/
.controlCaptchaReload {
  background-image: url(../ico/reload_file.png);
  height: 16px;
  width: 16px;
  display: block; }

.controlSelect {
  outline: none;
  height: 23px;
  line-height: 23px;
  box-shadow: 0  4px 7px #eee inset;
  font-size: 12px;
  border: solid 1px #ccc;
  box-sizing: content-box;
  text-indent: 3px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0; }

select.controlSelectMultiple {
  outline: none;
  line-height: 23px !important;
  font-size: 12px;
  border: solid 1px #ccc;
  box-sizing: content-box;
  text-indent: 3px;
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  margin: 2px 0;
  width: 100%; }
  select.controlSelectMultiple option {
    line-height: 16px;
    padding: 2px !important; }
  select.controlSelectMultiple[selected] {
    background-color: #1E8EF1; }

.controlSelectClassic {
  width: 200px;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px; }

.controlSelectLabel {
  border-bottom: dashed 1px #999;
  position: absolute;
  height: 18px;
  margin-top: 0; }

.controlSelectWrap {
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin-right: 5px; }

.controlSelectAjaxLoader {
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 1px;
  height: 11px;
  width: 16px;
  display: none;
  background-image: url(../ico/load_mini.gif); }

.inputTextAjaxSearch {
  display: inline-block;
  height: 16px;
  width: 16px;
  color: #AFB8C2;
  font-size: 12px;
  margin: 0;
  margin-left: 10px; }

.inputTextAjaxSearch:hover {
  color: #1E8EF1;
  cursor: pointer; }

.inputTextAjaxLoader {
  display: inline-block;
  height: 11px;
  width: 16px;
  margin: 0;
  padding: 0;
  background-image: url(../ico/load_mini.gif);
  display: none; }

.controlGrouperWrap {
  border: solid 1px #ddd;
  padding: 20px;
  margin-bottom: 5px; }

.controlGrouperOverlayWrap {
  position: relative; }

.controlGrouperOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: #fff;
  display: none; }

.controlGrouperTitle {
  font-weight: 700;
  color: #777;
  margin: 0;
  height: 25px;
  line-height: 25px;
  padding: 0;
  cursor: pointer; }

.controlGrouperTitle span {
  margin: 0;
  padding: 0;
  height: 16px;
  float: none;
  display: inline; }

.controlGrouperTitle:hover {
  color: #5378a0; }

.controlGrouperUp {
  display: none; }

.controlGrouperDown {
  display: block; }

.controlBorderable {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px; }

.controlScrollable {
  overflow-y: auto; }

.controlGroupTitle {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold; }

.controlColumn select {
  margin-top: 3px; }

.controlColumn_input_wrap {
  margin-top: 3px; }

.controlColumn_input {
  width: 96%;
  padding: 0;
  margin: 0; }

.controlSelect_interactive_revert {
  float: left;
  width: 16px;
  height: 22px;
  margin-top: 5px;
  background-color: #fff;
  background-image: url("../ico/del_dark.png");
  background-repeat: no-repeat; }

.radio_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  background-color: #eee;
  z-index: 1000; }

.controlImagesWrap {
  padding: 10px 20px;
  height: 280px;
  border: solid 1px #ccc;
  margin-top: 10px;
  border-radius: 3px;
  overflow: auto; }

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

.controlImagesItemMain {
  border: solid 3px #84ca78; }

.controlImagesItem:hover .controlImagesBDelete {
  display: block; }

.controlImagesItem:hover .controlImagesBMain {
  display: block; }

.controlImagesItem:hover .controlImagesBUp {
  display: block; }

.controlImagesItem:hover .controlImagesBDown {
  display: block; }

.controlImagesItem:hover .controlImagesItemOverlay {
  display: block; }

.controlImagesB {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  display: none; }

.controlImagesItemOverlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  opacity: 0.5;
  background-color: #fff;
  display: none; }

.controlImagesBDelete {
  top: 4px;
  right: 4px;
  background-image: url(../ico/delete.png); }

.controlImagesBMain {
  top: 4px;
  right: 24px;
  background-image: url(../ico/ok.png); }

.controlImagesBDown {
  top: 4px;
  right: 44px;
  background-image: url(../ico/arrow-right.png); }

.controlImagesBUp {
  top: 4px;
  right: 64px;
  background-image: url(../ico/arrow-left.png); }

/*----- GROUPER ------------*/
.grouperTabTitleWrap {
  border-bottom: solid 1px #b5b5b5;
  height: 25px;
  margin: -10px -5px 10px -5px;
  padding: 0 0 0  10px; }

.grouperTabTitle {
  float: left;
  display: block;
  line-height: 26px;
  padding: 0  15px 0  15px;
  border: solid 1px #b5b5b5;
  margin-left: 3px;
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px 3px 0  0;
  box-shadow: inset 0  1px 1px #fff;
  border-bottom: solid 1px #b5b5b5; }

.grouperTabTitleActive {
  background-color: #FFF;
  height: 24px;
  border-bottom: solid 1px #fff;
  background-image: -o-linear-gradient(top, #f0f0f0, #fff);
  background: -moz-linear-gradient(bottom, #fff, #f0f0f0);
  background: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#f0f0f0)); }

.grouperTabTitleNoactive {
  height: 24px;
  background-image: -o-linear-gradient(top, #e2e2e2, #f4f4f4);
  background: -moz-linear-gradient(bottom, #f4f4f4, #e2e2e2);
  background: -webkit-gradient(linear, center bottom, center top, from(#f4f4f4), to(#e2e2e2)); }

.grouperTabTitleNoactive:hover {
  background-image: -o-linear-gradient(top, #f0f0f0, #fff);
  background: -moz-linear-gradient(bottom, #fff, #f0f0f0);
  background: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#f0f0f0)); }

.grouperTabTitleDisabled {
  color: #999;
  opacity: 0.5;
  height: 24px;
  background-color: #eee; }

.grouperTabContent {
  display: none;
  margin: 0;
  padding: 0; }

.chBoxMulti a {
  overflow: hidden;
  display: block;
  padding: 0 5px;
  cursor: pointer;
  margin: 2px 0 3px 1px;
  text-decoration: none;
  line-height: 12px;
  font-size: 12px;
  text-indent: 16px;
  color: #333;
  background-image: url("../svg/check.svg");
  background-repeat: no-repeat;
  height: 14px;
  line-height: 14px; }

.cbMultiSelected {
  background-position: 0 -14px; }

.cbMultiSelected:hover {
  background-position: 0 -42px; }

.cbMultiUnSelected {
  background-position: 0  0; }

.cbMultiUnSelected:hover {
  background-position: 0 -28px; }

.chBoxMulti a.checkboxActive {
  color: #1E8EF1; }

.radioBox {
  position: relative;
  padding: 20px;
  border: solid 1px #eee; }

.radioBoxDisabled {
  opacity: 0.5;
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.grouperCheckbox {
  border: solid 1px #ddd;
  position: relative;
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 20px; }

.grouperCheckbox h5 {
  background-color: #FFFFFF;
  height: 25px;
  left: 30px;
  line-height: 25px;
  padding: 0  10px;
  position: absolute;
  top: -14px;
  z-index: 1;
  margin: 0;
  font-weight: normal; }

.grouperCheckbox h5 a {
  color: #000; }

.grouperCheckboxMini {
  position: relative;
  padding: 0; }

.grouperCheckboxDisabled {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

input {
  line-height: 18px !important;
  padding: 1px 3px !important; }

select, input[type='numeric'] {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ccc;
  text-indent: 3px;
  height: 25px;
  font-size: 12px;
  box-shadow: 0  4px 7px #eee inset;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 3px 3px;
  border-radius: 0  !important;
  line-height: 12px; }

.groupboxDisabled {
  opacity: 0;
  height: 10px;
  overflow: hidden; }

.attachmentsContaner {
  padding: 15px 15px;
  margin-top: 3px;
  border: solid 1px #eee;
  background-color: #fcfcfc; }

.attachmentsBodyRow {
  height: 20px; }

.attachmentsBodyRow:last-child {
  padding-bottom: 10px; }

.attachmentsBodyColumn {
  padding: 2px 10px 2px 0; }

.attachmentsBodyColumn a {
  color: inherit;
  font-size: 11px;
  line-height: 11px; }

.attachmentsBodyColumn:first-child, .attachmentsBodyColumn:last-child {
  float: left; }

.attachmentsBodyColumn:last-child a {
  text-decoration: none;
  margin-top: 3px;
  float: left;
  color: #AFB8C2 !important; }

.controlImagesWrap {
  padding: 10px 20px;
  height: 280px;
  border: solid 1px #ccc;
  margin-top: 10px;
  border-radius: 3px;
  overflow: auto; }

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

/* controlImages */
.controlImagesWrap {
  padding: 10px 20px;
  height: 180px;
  border: solid 1px #ccc;
  margin-top: 0;
  overflow: auto; }

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

.controlImagesItemMain {
  border: solid 3px #84ca78; }

.controlImagesItem:hover .controlImagesBDelete {
  display: block; }

.controlImagesItem:hover .controlImagesBMain {
  display: block; }

.controlImagesItem:hover .controlImagesBUp {
  display: block; }

.controlImagesItem:hover .controlImagesBDown {
  display: block; }

.controlImagesItem:hover .controlImagesItemOverlay {
  display: block; }

.controlImagesItemOverlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  opacity: 0.5;
  background-color: #fff;
  display: none; }

.controlImagesItem .fa {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  text-decoration: none;
  font-size: 16px; }

.controlImagesItem .fa-times {
  top: 5px;
  right: 2px;
  color: red; }

.controlImagesItem .fa-check {
  top: 5px;
  right: 22px;
  color: green; }

/* Nice view WUSYSYG */
.trumbowygEditor p, .trumbowygEditor ol, .trumbowygEditor ul, .trumbowygEditor h2, .trumbowygEditor h1, .trumbowygEditor h3 {
  border: dotted 1px #bbb;
  margin: 0;
  padding: 4px 2px; }
.trumbowygEditor ol, .trumbowygEditor ul {
  margin: 0 20px; }
.trumbowygEditor li {
  padding: 0;
  margin: 0; }
.trumbowygEditor blockquote {
  border: dotted 1px blue;
  margin: 0;
  margin-left: 20px;
  padding: 4px 2px; }

/*# sourceMappingURL=compiled.css.map */
