@charset "utf-8";
/**
 * 
 *
 * @тип  	 CSS styles
 * @пакет    Form
 * @версия   1
 *
 *
 **/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;

  font-family: $fontFamilyMain !important;
  color: #000;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  line-height: 14px;
  text-indent: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.inputText:focus, .inputTextarea:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #FFCC00;
  box-shadow: none;
  outline: 0  none currentColor;
}

input[type='number']:invalid,
input[type='number']:out-of-range {
  border-color: red;
  color: red;
}

textarea[disabled]:focus {
  box-shadow: none !important;
  border: inherit !important;
}

.input-auto {
  width: 100%;
  box-sizing: border-box;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {

  width: 206px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}

.controls-row {
  *zoom: 1;
}

.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.controls-row:after {
  clear: both;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.help-block,
.help-inline {
  color: #595959;
}

.help-block {
  display: block;
  margin-bottom: 10px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 12px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 16px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.add-on i.fa {
  color: #777;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 1px 1px 0;
  -moz-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/****** WND *******/

#mOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(104, 104, 104, 0.749);
  z-index: 1000;
}

#mWrapBorder {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 34px 3px 3px;
  display: none;
  box-shadow: 0  1px 6px rgba(30, 30, 30, 0.45);
  z-index: 1001;
  background: rgba(132, 138, 145, 0.804);
  border: 1px solid #C5C1C1;
}

#mWrap {
  background-color: #fff;
  padding: 0;
}

#mLoader {
  background-color: #666;
  position: fixed;
  top: 50%;
  height: 36px;
  width: 170px;
  left: 50%;
  margin-left: -90px;
  margin-top: -25px;
  border-radius: 5px;
  background-image: url(../ico/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1002;
}

/****** Forms *******/

.formPanel {
  border: solid 1px #ddd;
  padding: 20px;
  margin: 20px 0;
}

.formPanel h5 {
  float: left;
  margin: -29px 0 0 10px;
  background-color: #fff;
  height: 16px;
  color: #777;
  padding: 0  10px;
  line-height: 16px;
  display: block;
  font-size: 12px;
  font-weight: 700;
}

.formStaticContent h3 {
  color: $colorActive;
  margin: 5px 0;
  padding: 5px 0;
  font-weight: 700;
  border-bottom: solid 1px #ddd;
  margin-top: 10px;
}

.formStaticContent h3 i {
  float: left;
  margin-right: 6px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 15px;
}


.grouperClonesItem{
  position: relative;
}


.grouperClonesRemove{
  position: absolute;
  right: 0;
  margin-top: 6px;
}

.grouperClonesAddNew{

  display: block;
  background-color: #fcfcfc;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  border: solid 1px #ddd;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  &:hover{
    background-color: #fff;
  }

  i{
    margin-right: 10px;
    font-size: 12px;
  }

}


























.grouperCheckall {
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #eee;
  margin-left: 20px;
}

.grouperCheckallTitle {
  display: block;
  margin-bottom: 5px;
  margin-top: -5px;
}

.grouperCheckallTitle a {
  font-size: 12px;
  color: #222;
}

.formStatic {
  border: solid 1px #cccccc;
  padding: 0;
  box-shadow: 0 0 5px #ddd;
  background-color: #fff;
}

.formStaticTitle {
  display: block;
  border-bottom: solid 1px #ddd;
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  background-image: linear-gradient(to top, #F0F0F0 0%, #FFFFFF 100%);
  padding: 0  15px;
  padding-bottom: 0;
  text-shadow: 0  1px 0  #fff;
}

.formStaticContent {
  padding: 15px;
  background-color: #fff;
}

.formBaseButtons {
  border-top: solid 1px #ddd;
  padding: 10px 10px;
  text-align: right;
  background-color: #f9f9f9;
}

.formBaseButtons button {
  margin-right: 5px;
}

.formSeparator {
  padding: 10px 15px;
  margin: 15px -15px;
  background-color: #f9f9f9;
  border: solid 1px #ddd;
  border-right: 0;
  border-left: 0;
}

#adminContent .formSeparator h2 {
  margin: 0;
}

.formOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: 500;
}

.formStaticOverlay {
  position: absolute;
  z-index: 501;
  right: 20px;
  left: 20px;
}

.formModal {
  background-color: #f7f7f7;
  width: 900px;
}

.formModal .formBaseButtons {
  text-align: right;
  padding: 10px 10px;
}

.formModal .formBaseButtons button {
  margin-left: 5px;
  margin-right: 0;
}

.formModalContent {
  padding: 20px;
  background-color: #fff;
}

.formModalTitle {
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  float: left;
  margin-top: -28px;
  text-shadow: 0  1px 0  #838383, 0 0 18px rgba(255, 255, 255, 0.859);
  text-indent: 5px;
  padding-top: 2px;
}

.formModalTitleClose {
  cursor: pointer;
  background-color: #c75050;
  color: #FFFFFF;
  float: right;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 0;
  margin-top: -34px;
  text-align: center;
  width: 60px;
}

.formModalTitleClose:hover {
  background-color: #e04343;
}

.formElementCompact {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  .phpdoc {
    color: #999;
    display: block;
    margin-bottom: 6px;
  }
}

.formElementCompact .checkbox {
  margin: 3px 0;
  color: #222;

}

.formElement {
  padding: 4px 0;
  margin: 0;
  clear: left;
}

.formElementFlat span, .formElement span {
  float: left;
  display: block;
  height: 25px;
  line-height: 25px;
  box-sizing: content-box;
  margin: 0;
}

.formRequirements {
  color: #777;
  margin: 5px 10px;
}

/****** Inputs *******/
.input_div {
  padding: 0;
  margin: 0;
}

#listBoxBig {
  height: 230px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 3px #eee;
}

#listBoxBig hr {
  margin: 2px 0  4px 0;
  padding: 0;
  border: 0;
  border-top: solid 1px #e0e0e0;
}

#listBox {
  height: 250px;
  margin: 0;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #ccc;
}

#listBox p {
  float: left;
  padding: 5px 25px 5px 5px;
  background-color: #e8ecf1;
  border-radius: 3px;
  margin: 2px;
  display: block;
  text-shadow: 0  1px 0  #eee;
}

#listBox a {
  background-image: url(../ico/micro_close.gif);
  display: block;
  float: right;
  height: 10px;
  width: 10px;
  margin-right: -20px;
  margin-top: 3px;
}

#listBox p:hover {
  background-color: #FF9;
  cursor: pointer;
}

.name_pages {
  height: 20px;
  text-align: left;
  margin: 2px;
  background-image: url(../ico/curveleft.png);
  background-repeat: no-repeat;
  text-indent: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000;
}

input.inputText,
textarea.inputTextarea,
textarea.inputTextareaBb {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ccc;
  text-indent: 3px;
  height: 25px;
  line-height: 20px;
  font-size: 12px;
  box-shadow: 0  4px 7px #eee inset;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 5px 3px;

}

textarea.inputTextarea,
textarea.inputTextareaBb {
  padding: 5px;
  box-sizing: border-box;
  line-height: 14px;
}

input.inputTextRead {
  border-radius: 0;
  text-indent: 5px;
  box-sizing: border-box;
  height: 25px;
  line-height: 20px;
}

.inputTextarea, .inputTextareaBb {
  padding: 10px;
  box-sizing: border-box;
  line-height: 18px;
}

.inputTextareaBb:focus {
  border-bottom-color: rgba(82, 168, 236, 0.804);
  border-left-color: rgba(82, 168, 236, 0.804);
  border-right-color: rgba(82, 168, 236, 0.804);
  border-top-color: rgba(82, 168, 236, 0.804);
  outline: 0  none currentColor;
}

/*.inputText:focus, .inputTextarea:focus{ border-bottom-color: rgba(82, 168, 236, 0.804);
                                        border-left-color: rgba(82, 168, 236, 0.804); border-right-color: rgba(82, 168, 236, 0.804); border-top-color: rgba(82, 168, 236, 0.804);
                                        box-shadow: inset 0  1px 1px rgba(0, 0, 0, 0.071), 0 0 8px rgba(82, 168, 236, 0.600); outline: 0  none currentColor; }*/

.inputCheckbox {
  padding: 1px;
  margin: 6px 0  5px 0;
  background-color: #FFF;
  border: solid 1px #ddd;
  width: 14px;
  height: 14px;
  color: #7b9fc0;
}

.inputCheckbox:disabled {
  background-color: #eee;
  color: #aaa;
}

.inputCheckboxLabel {
  padding-left: 3px;
  display: inline-block;
  height: 25px;
  line-height: 20px;
  box-sizing: content-box;
  margin: 0;
}

.radioWrap {
  padding: 0;
  margin-top: 5px;
  display: table-row;
}

.radioWrap a {
  display: block;
  padding: 1px 5px 0  5px;
  margin: 0 0 3px 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  background-image: url(../svg/radio.svg);
  background-repeat: no-repeat;
  text-indent: 14px;
  color: #333;
}

.radioUnSel {
  background-position: 0  -0px;
}

.radioUnSel:hover {
  background-position: 0  -36px;
}

.radioSel {
  background-position: 0  -18px;
}

.checkbox {
  display: inline-block;
  padding: 0;
  margin: 6px 0 0 0;
  text-decoration: none;
  font-size: 12px;
  text-indent: 16px;
  color: #333;
  height: 14px;
  line-height: 14px;
  background-image: url(../svg/check.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  text-indent: 20px;
  color: #999;
  min-width: 16px;

}

.checkboxSel {
  background-position: 0 -14px;
}

.checkboxSel:hover {
  background-position: 0 -42px;
}

.checkboxUnSel {
  background-position: 0  0;
}

.checkboxUnSel:hover {
  background-position: 0 -28px;
}


.checkboxDisabledSel {
  background-position: 0 -70px;
}

.checkboxDisabledUnSel {
  background-position: 0 -56px;
}


.checkboxLoading {
  background-image: url(../ico/load_mini.gif) !important;
}

.ajaxLink {
  color: #777;
  text-decoration: none;
  border-bottom: dashed 1px #777;
  margin-right: 10px;
}

.ajaxLink:hover {
  color: #5f83a5;
  border-bottom: dashed 1px #fff;
}

.switchWrapWrap {
  color: #999;
  overflow: hidden;
  padding: 0  10px 5px 8px;
}

.switchWrap {
  border: solid 1px #ccc;
  width: 100%;
  position: relative;
  margin-top: 0;
  border-radius: 3px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: block;
}

.switchButton {
  display: block;
  padding: 5px 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 13px;
}

.switchOff {
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  color: #aaa;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  position: absolute;
}

.switchOn {
  background-color: $colorActive;
  border-radius: 3px;

  text-align: center;
  color: #fff;

  position: absolute;
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
  left: 50%;
}

.switchOnGray {
  right: -1px;
  top: -1px;
  bottom: -1px;
  left: 50%;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  position: absolute;
}

.inputTextRead {
  border: solid 1px #ccc;
  text-indent: 3px;
  background-color: #eee;
  height: 23px;
  line-height: 23px;
  box-sizing: content-box;
  box-shadow: 0  4px 7px #ddd inset;
  font-size: 12px;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.inputTextarea_read {
  background-image: url(images/text-bg-read.png);
  background-repeat: repeat-x;
  border: solid 1px #b5b5b5;
  text-indent: 3px;
  line-height: 20px;
  font-size: 12px;
  outline: none;
  width: 100%;
  outline: none;
  background-color: #f5f5f5;
}

.input_interactive_wrap {
  position: relative;
  height: 24px;
}

.input_interactive_dd {
  position: absolute;
  width: 195px;
  top: 28px;
  padding: 2px 5px 2px 2px;
  background-color: #FFF;
  border: solid 1px #CCC;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 250px;
  opacity: 0.96;
  display: none;
  z-index: 10000;
}

.input_interactive_dd a {
  display: block;
  margin: 0;
  padding: 3px;
  color: #000;
  text-decoration: none;
}

.input_interactive_dd a:hover {
  background-color: #6b797c;
  color: #FFF;
}

.input_interactive_dd a strong {
  background-color: #fff551;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline;
}

.inputUploadForm {
  position: relative;
  height: 24px;
  overflow: hidden;
  width: 110px;
}

.inputUpload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.inputUploadMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  height: 22px;
  line-height: 22px;
  padding: 0  10px 0  10px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #F8F8F8;
  text-decoration: none;
  border: solid 1px #cacaca;
  font-family: $fontFamilyMain;
  font-size: 11px;
  text-shadow: 0  1px 0  #fff;
  color: #444444;
  background-repeat: repeat-x;
  background-position: 0  -14px;

}

.inputUploadMask span {
  float: left;
  width: 100%;
  height: 22px;
  line-height: 22px;
  display: block;
  text-align: center;
}

.inputUploadLoading {
  width: 20px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-image: url(../ico/load_mini.gif);
  display: block;
  margin-top: 5px;
  float: left;
  display: none;
}

.inputUploadLoadingBg {
  background-image: url(../ico/load_mini.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.inputBbPanel {
  padding-top: 5px;
  height: 14px;
  padding-bottom: 10px;
}

.inputBbPanel a {
  background-color: #f0f0f0;
  margin-right: 3px;
  line-height: 16px;
  padding: 1px 5px;
  color: #333;
  border: solid 1px #b5b5b5;
  text-decoration: none;
  border-radius: 2px;
  font-size: 11px;
  display: block;
  float: left;
}

.inputBbPanel a:hover {
  background-color: #FFF;
}

/****** Controls *******/
.controlCaptchaReload {
  background-image: url(../ico/reload_file.png);
  height: 16px;
  width: 16px;
  display: block;
}

.controlSelect {
  outline: none;
  height: 23px;
  line-height: 23px;
  box-shadow: 0  4px 7px #eee inset;
  font-size: 12px;
  border: solid 1px #ccc;
  box-sizing: content-box;
  text-indent: 3px;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

select.controlSelectMultiple {

  outline: none;
  line-height: 23px !important;
  font-size: 12px;
  border: solid 1px #ccc;
  box-sizing: content-box;
  text-indent: 3px;
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  margin: 2px 0;
  width: 100%;
  option {
    line-height: 16px;
    padding: 2px !important;
  }
  &[selected] {
    background-color: $colorActive;
  }
}

.controlSelectClassic {
  width: 200px;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;

}

.controlSelectLabel {
  border-bottom: dashed 1px #999;
  position: absolute;
  height: 18px;
  margin-top: 0;
}

.controlSelectWrap {
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin-right: 5px;
}

.controlSelectAjaxLoader {
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 1px;
  height: 11px;
  width: 16px;
  display: none;
  background-image: url(../ico/load_mini.gif);
}

.inputTextAjaxSearch {
  display: inline-block;
  height: 16px;
  width: 16px;
  color: #AFB8C2;
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
}

.inputTextAjaxSearch:hover {
  color: $colorActive;
  cursor: pointer;
}

.inputTextAjaxLoader {
  display: inline-block;
  height: 11px;
  width: 16px;
  margin: 0;
  padding: 0;
  background-image: url(../ico/load_mini.gif);
  display: none;
}

.controlGrouperWrap {
  border: solid 1px #ddd;
  padding: 20px;
  margin-bottom: 5px;
}

.controlGrouperOverlayWrap {
  position: relative;
}

.controlGrouperOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: #fff;
  display: none;
}

.controlGrouperTitle {
  font-weight: 700;
  color: #777;
  margin: 0;
  height: 25px;
  line-height: 25px;
  padding: 0;
  cursor: pointer;
}

.controlGrouperTitle span {
  margin: 0;
  padding: 0;
  height: 16px;
  float: none;
  display: inline;
}

.controlGrouperTitle:hover {
  color: #5378a0;
}

.controlGrouperUp {
  display: none;
}

.controlGrouperDown {
  display: block;
}

.controlBorderable {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
}

.controlScrollable {
  overflow-y: auto;
}

.controlGroupTitle {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
}

.controlColumn select {
  margin-top: 3px;
}

.controlColumn_input_wrap {
  margin-top: 3px;
}

.controlColumn_input {
  width: 96%;
  padding: 0;
  margin: 0;
}

.controlSelect_interactive_revert {
  float: left;
  width: 16px;
  height: 22px;
  margin-top: 5px;
  background-color: #fff;
  background-image: url("../ico/del_dark.png");
  background-repeat: no-repeat;
}

.radio_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  background-color: #eee;
  z-index: 1000;
}

.controlImagesWrap {
  padding: 10px 20px;
  height: 280px;
  border: solid 1px #ccc;
  margin-top: 10px;
  border-radius: 3px;
  overflow: auto;
}

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.controlImagesItemMain {
  border: solid 3px #84ca78;
}

.controlImagesItem:hover .controlImagesBDelete {
  display: block;
}

.controlImagesItem:hover .controlImagesBMain {
  display: block;
}

.controlImagesItem:hover .controlImagesBUp {
  display: block;
}

.controlImagesItem:hover .controlImagesBDown {
  display: block;
}

.controlImagesItem:hover .controlImagesItemOverlay {
  display: block;
}

.controlImagesB {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  display: none;
}

.controlImagesItemOverlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  opacity: 0.5;
  background-color: #fff;
  display: none;
}

.controlImagesBDelete {
  top: 4px;
  right: 4px;
  background-image: url(../ico/delete.png);
}

.controlImagesBMain {
  top: 4px;
  right: 24px;
  background-image: url(../ico/ok.png);
}

.controlImagesBDown {
  top: 4px;
  right: 44px;
  background-image: url(../ico/arrow-right.png);
}

.controlImagesBUp {
  top: 4px;
  right: 64px;
  background-image: url(../ico/arrow-left.png);
}

/*----- GROUPER ------------*/
.grouperTabTitleWrap {
  border-bottom: solid 1px #b5b5b5;
  height: 25px;
  margin: -10px -5px 10px -5px;
  padding: 0 0 0  10px;
}

.grouperTabTitle {
  float: left;
  display: block;
  line-height: 26px;
  padding: 0  15px 0  15px;
  border: solid 1px #b5b5b5;
  margin-left: 3px;
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px 3px 0  0;
  box-shadow: inset 0  1px 1px #fff;
  border-bottom: solid 1px #b5b5b5;
}

.grouperTabTitleActive {
  background-color: #FFF;
  height: 24px;
  border-bottom: solid 1px #fff;
  background-image: -o-linear-gradient(top, #f0f0f0, #fff);
  background: -moz-linear-gradient(bottom, #fff, #f0f0f0);
  background: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#f0f0f0));
}

.grouperTabTitleNoactive {
  height: 24px;
  background-image: -o-linear-gradient(top, #e2e2e2, #f4f4f4);
  background: -moz-linear-gradient(bottom, #f4f4f4, #e2e2e2);
  background: -webkit-gradient(linear, center bottom, center top, from(#f4f4f4), to(#e2e2e2));
}

.grouperTabTitleNoactive:hover {
  background-image: -o-linear-gradient(top, #f0f0f0, #fff);
  background: -moz-linear-gradient(bottom, #fff, #f0f0f0);
  background: -webkit-gradient(linear, center bottom, center top, from(#fff), to(#f0f0f0));
}

.grouperTabTitleDisabled {
  color: #999;
  opacity: 0.5;
  height: 24px;
  background-color: #eee;
}

.grouperTabContent {
  display: none;
  margin: 0;
  padding: 0;
}

.chBoxMulti a {
  overflow: hidden;
  display: block;
  padding: 0 5px;
  cursor: pointer;
  margin: 2px 0 3px 1px;
  text-decoration: none;
  line-height: 12px;
  font-size: 12px;
  text-indent: 16px;
  color: #333;
  background-image: url('../svg/check.svg');
  background-repeat: no-repeat;
  height: 14px;
  line-height: 14px;
}

.cbMultiSelected {
  background-position: 0 -14px;
}

.cbMultiSelected:hover {
  background-position: 0 -42px;
}

.cbMultiUnSelected {
  background-position: 0  0;
}

.cbMultiUnSelected:hover {
  background-position: 0 -28px;
}

.chBoxMulti a.checkboxActive {
  color: $colorActive;
}

.radioBox {
  position: relative;
  padding: 20px;
  border: solid 1px #eee;
}

.radioBoxDisabled {
  opacity: 0.5;
  background-color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grouperCheckbox {
  border: solid 1px #ddd;
  position: relative;
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 20px;
}

.grouperCheckbox h5 {
  background-color: #FFFFFF;
  height: 25px;
  left: 30px;
  line-height: 25px;
  padding: 0  10px;
  position: absolute;
  top: -14px;
  z-index: 1;
  margin: 0;
  font-weight: normal;
}

.grouperCheckbox h5 a {
  color: #000;
}

.grouperCheckboxMini {
  position: relative;
  padding: 0;
}

.grouperCheckboxDisabled {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grouperCheckboxBlocks {
}

input {
  line-height: 18px !important;
  padding: 1px 3px !important;
}

select, input[type='numeric'] {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ccc;
  text-indent: 3px;
  height: 25px;
  font-size: 12px;
  box-shadow: 0  4px 7px #eee inset;
  padding: 0;
  margin: 0;
  border-radius: 0;
  padding: 3px 3px;
  border-radius: 0  !important;
  line-height: 12px;
}

.groupboxDisabled {
  opacity: 0;
  height: 10px;
  overflow: hidden;
}

.attachmentsContaner {
  padding: 15px 15px;
  margin-top: 3px;
  border: solid 1px #eee;
  background-color: #fcfcfc;
}

.attachmentsBody {
}

.attachmentsBodyRow {
  height: 20px;
}

.attachmentsBodyRow:last-child {
  padding-bottom: 10px;
}

.attachmentsBodyColumn {
  padding: 2px 10px 2px 0;
}

.attachmentsBodyColumn a {
  color: inherit;
  font-size: 11px;
  line-height: 11px;
}

.attachmentsBodyColumn:first-child, .attachmentsBodyColumn:last-child {
  float: left;
}

.attachmentsBodyColumn:last-child a {
  text-decoration: none;
  margin-top: 3px;
  float: left;
  color: #AFB8C2 !important;
}

.controlImagesWrap {
  padding: 10px 20px;
  height: 280px;
  border: solid 1px #ccc;
  margin-top: 10px;
  border-radius: 3px;
  overflow: auto;
}

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

/* controlImages */
.controlImagesWrap {
  padding: 10px 20px;
  height: 180px;
  border: solid 1px #ccc;
  margin-top: 0;
  overflow: auto;
}

.controlImagesItem {
  background-color: #fff;
  padding: 0;
  margin: 4px;
  width: 164px;
  height: 164px;
  display: block;
  float: left;
  background-size: 164px 164px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  border: solid 3px #f0f0f0;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.controlImagesItemMain {
  border: solid 3px #84ca78;
}

.controlImagesItem:hover .controlImagesBDelete {
  display: block;
}

.controlImagesItem:hover .controlImagesBMain {
  display: block;
}

.controlImagesItem:hover .controlImagesBUp {
  display: block;
}

.controlImagesItem:hover .controlImagesBDown {
  display: block;
}

.controlImagesItem:hover .controlImagesItemOverlay {
  display: block;
}

.controlImagesItemOverlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  opacity: 0.5;
  background-color: #fff;
  display: none;
}

.controlImagesItem .fa {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.controlImagesItem .fa-times {
  top: 5px;
  right: 2px;
  color: red;
}

.controlImagesItem .fa-check {
  top: 5px;
  right: 22px;
  color: green;
}