/* Nice view WUSYSYG */

.trumbowygEditor {
  p, ol, ul, h2, h1, h3 {
    border: dotted 1px #bbb;
    margin: 0;
    padding: 4px 2px;
  }

  ol, ul {
    margin: 0 20px;
  }

  li {
    padding: 0;
    margin: 0;
  }

  blockquote {
    border: dotted 1px blue;
    margin: 0;
    margin-left: 20px;
    padding: 4px 2px;
  }

}
