@charset "utf-8";

/****** TABLE *******/

.tableScrollWrapper {
  overflow: hidden;
}

.tableWrapper {
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 3px;

  @media (max-width: 968px) {
    border: none;
  }

}

.table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th, .table td {
  padding: 2px 2px 0 2px;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  line-height: 28px;
  text-shadow: 0 1px 0 #fff;
  padding: 2px 2px 0 2px;
}

.table tr {
  padding: 5px;
}

.table td {
  line-height: 14px !important;
  i {
    font-size: 14px;
    line-height: 16px;
    display: inline;
  }
  .svgIcon16x16 {
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 1px;
  }

}

.table th a {
  float: left;
  text-decoration: none;
  color: #000;
}

.table td a {
  color: #000;
}

.table td a:hover {
  text-decoration: none !important;
}

.table th:hover, .tableHeadActive {
  color: $colorActive;
}

.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e6f4fc !important;
}

.tableRowDeleted {
  color: #aaa;
  text-decoration: line-through;
}

.tableRowDeleted:hover {
  text-decoration: none;
}

.tableRowDisabled {
  color: #666;
  background-color: #eee;
}

.tableTitle {
  margin: 0;
  padding: 5px 0 0;
  color: $colorDarkTitle;
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  height: 23px;

  hr {
    margin: 2px 0 4px 0;
    padding: 0;
    border: 0;
    border-top: solid 1px #f0f0f0;
  }

  @media (max-width: 968px) {
    height: auto;
  }

}

.widgetMessages {
  padding-bottom: 10px;
}

.informerTitle {
  margin: 0;
  padding: 10px 0 1px 0;
  color: #446384;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.informerTitleHelper {
  float: right;
  color: #777;
  padding-top: 11px;
}

.table-striped tbody > tr > td.tableRowActiveC,
.table-striped tbody > tr > td.tableRowActiveNc {
  background: #F9F9F9;
}

.tableHeadTooltip:hover .dropDown {
  display: block;
}

.tableActionPanel {
  height: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}

.tableRowsSelected {
  background: #dbf2ff !important;
  background-color: #dbf2ff !important;
}

.tableRowsSelected td {
  background: #dbf2ff !important;
  background-color: #dbf2ff !important;
}

.table tbody tr.warning > td {
  background-color: #FCFAF0 !important;
}

.table tbody tr.rowPink > td {
  background-color: #FFF2FE !important;
}

.table tbody tr.rowGray > td {
  background-color: #f3f3f3 !important;
  color: #aaa;
}

.table tbody tr.rowGray > td a {
  color: #aaa;
}

.table tbody tr.rowRed > td {
  background-color: #FFF5F6 !important;
}

.table tbody tr.rowGreen > td {
  background-color: #e9fdea !important;
}

.table tbody tr.rowTotal > td {
  background-color: #fafafa !important;
  color: #333 !important;
}

.drawGroupSeparator {
  background-color: #fff;
  color: #444444;
  margin: 0;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  padding: 6px 8px 4px 8px;
  font-weight: 700;
  box-shadow: 0 1px 0 #fff inset;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -o-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(bottom, #fff 70%, #f0f0f0 100%);
}

.appWrapper {
  width: 100%;
}

.appButtons {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  overflow: hidden;
}

.appTimerWrap {
  display: inline;
  margin-left: 20px;
  color: #999999;
  font-weight: normal;
  font-size: 14px;
}

.appTimer {
  font-weight: 700;
}

input[type="text"].tableSmartFilterInput {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: solid 1px #ddd;
  border-radius: 0;
  margin-bottom: 3px;
  margin-top: 1px;
  text-indent: 0;
  box-shadow: none;
  font-size: 11px !important;
}

input[type="text"].tableSmartFilterInputActive {
  border-color: #FFCC00;
}

.tableColumnSpoilerAction {
  font-size: 13px !important;
  display: table-cell;
  cursor: pointer;
  padding-top: 1px;
}

.tableColumnSpoilerContent {
  display: table-cell;
  padding-left: 5px;
}

/****** Actions *******/

.actionTab {
  border-bottom: solid 1px #ddd;
  height: 25px;
  margin: 5px 3px 3px 3px;
  padding: 0 22px;

  @media (max-width: 968px) {
    height: auto;
    margin: 0 0 5px 0;
    padding: 2px;
    border: solid 1px #ddd;
    border-radius: 3px;
  }

  a {
    display: block;
    padding: 0 15px 0 15px;
    margin: 0 1px 0 1px;
    float: left;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    font-weight: 700;

    @media (max-width: 968px) {
      float: none;
      display: block;
      border: none;
      border-bottom: solid 1px white;
      border-radius: 0;
    }

  }

}

.actionTabSelected {
  height: 25px;
  line-height: 28px;
  border: solid 1px #b5b5b5;
  border-bottom: solid 1px #fff;
  background-image: linear-gradient(to bottom, #f0f0f0, #fff);
}

.actionTabUnSelected {
  height: 24px;
  line-height: 27px;
  border: solid 1px #b5b5b5;
  border-bottom: solid 1px #ddd;
  background: linear-gradient(to top, #f4f4f4, #e2e2e2);

  &:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    background-image: linear-gradient(to bottom, #f0f0f0, #fff);
  }
}

/* ---------- new -- */

.actionMenu a {
  display: block;
  padding: 0 5px 0 5px;
  margin: 0 0 0 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  background-image: url(../svg/radio.svg);
  background-repeat: no-repeat;
  text-indent: 14px;
  color: #333;
}

.actionMenuUnSelected {
  background-position: 0 0;
}

.actionMenuUnSelected:hover {
  background-position: 0  -36px;
}

.actionMenuSelected {
  background-position: 0  -18px;
}

.tableHiddenText {
  color: #333;
  border-bottom: dashed 1px #777;
  padding: 0;
  line-height: 12px;
}

/*.action_separator{height:10px;}*/

.tableActionWrapper {
  width: 17px;
  height: 16px;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 0 #FFF inset;
  background-image: linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #e4e4e4 100%);
  cursor: pointer;
  display: inline-block;
  position: relative;

  i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center 5px;
  }

}

.tableActionWrapper:hover .tableActionBody {
  display: block;
}

.tableActionBody {
  display: none;
  position: absolute;
  right: -11px;
  top: 18px;
  z-index: 50;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #B7B7B7;
  border-radius: 5px;

  a {
    margin: 1px 0;
  }

}

.tableActionBody::before {
  border-bottom: 4px solid #FFFFFF;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: " ";
  height: 5px;
  left: 13px;
  position: absolute;
  top: -8px;
  z-index: 51;
}

.tableActionBody::after {
  border-bottom: 4px solid #B7B7B7;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: " ";
  height: 5px;
  left: 13px;
  position: absolute;
  top: -9px;
  z-index: 50;
}

.filterHeadActions {
  height: 16px;
  display: block;
  margin: 4px 0 0 0;
  color: #AFB8C2;
  cursor: pointer;
  text-decoration: none;
  line-height: 16px;
  width: 14px;
  float: right;
}

.actionSideTitle {
  font-size: 12px;
  font-weight: 700;
  color: #444;
  text-shadow: 0 1px 0 #FFFFFF;
  cursor: pointer;
  text-indent: 3px;
  text-decoration: none;
  float: left;
}

.actionSideHead {
  display: block;
  height: 23px;
  line-height: 23px;
}

.actionSideHeadUp {
  background-image: linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -o-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -moz-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -webkit-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  background-image: -ms-linear-gradient(to top, #f0f0f0 0%, #FFFFFF 50%);
  height: 23px;
}

.actionSideHeadDown {
  background-image: linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -o-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(to top, #FFFFFF 50%, #f0f0f0 100%);
}

.actionSideHeadInactive {
  color: #afb8c2;
  font-weight: 700;
  float: right;
  height: 23px;
  font-size: 11px;
  line-height: 23px;
  margin-right: 8px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.actionSideTitleActive {
}

.appWrapperColumnFilters {
  width: 225px;
}

.actionSideBody {
  padding: 5px;
  border-top: solid 1px #ddd;
  background-color: #fff;
  h4 {
    margin: 0 0;
    margin-top: 8px;
    color: $colorActive;
    i {
      margin-right: 2px;
    }
    &:hover {
      cursor: pointer;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  select {
    width: 100%;
    margin-bottom: 3px;
  }

}

.actionSideBodyHide {
  display: none;
}

.actionSide {
  padding: 1px;
  border: solid 1px #ddd;
  border-radius: 3px;
  margin-bottom: 3px;
}

.constructor_active_zone {
  border: solid;
  padding: 10px;
}

.niceDownload {
  display: block;
  float: right;
  width: 25px;
  height: 16px;
  color: #8ed74d;
  margin-top: 0;
  margin-right: -3px;
}

.inputCalendar {
  width: 135px;
  text-indent: 5px;
}

.inputCalendarWrap {
  width: 135px;
  padding-left: 23px;
  display: block;
  background-repeat: no-repeat;
  background-position: 2px center;
  float: left;
  box-sizing: border-box;
}

#filtersSlideDown {
  position: absolute;
  top: 6px;
  right: 5px;
  height: 23px;
  width: 45px;
  display: block;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 3px 3px;
  border-top: none;
  background-repeat: no-repeat;
  background-position: center center;
}

#filtersSlideUp {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 23px;
  width: 45px;
  display: block;
  border-left: 1px solid #ddd;
  box-shadow: -1px 0 0 #fff;
  border-radius: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-position: center 4px;
  &:hover {
    background-color: #fff;
  }
}

.filterOptionsBoxWrap {
}

.filterOptionsBox {
  padding: 2px 5px 0 5px;
}

.filterOptionsBoxDown {
  padding: 0 0 0 0;
  a {
    text-decoration: none;
    color: #444;
  }
  a:hover {
    text-decoration: none;
    color: $colorActive;
  }
}

/****** Pager *******/
.pagerWrap {
  padding: 15px 0 10px 0;
  text-align: left;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  a {
    font-size: 11px;
    font-weight: normal;
    display: block;
    float: left;
    padding: 4px 7px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    margin-right: 1px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;
  }

  a:hover,
  #filtersSlideDown:hover {
    background-color: $colorActive;
    cursor: pointer;
    color: #fff;
  }

  p {
    font-size: 11px;
    font-weight: normal;
    display: block;
    float: left;
    padding: 4px 7px;
    border-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    overflow: visible;
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 1px;
    cursor: default;
    background-color: $colorActive;
    color: #FFF;
    text-shadow: 0 1px 0 $colorActive;
    margin-top: 0;
    margin-bottom: 0;
  }

  input {
    width: 30px;
    text-align: center;
    text-indent: 0 !important;
    padding: 3px 5px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    display: block;
    height: 30px;
    border: solid 1px #ddd;
    box-shadow: none !important;
    margin: -6px 5px 0 5px;
  }

}



