<?php

foreach ($this->data['errs'] as $k => &$v) {
    $v["query"] = SqlFormatter::format($v["query"]);
}
echo "<div style='max-width:1600px;overflow:scroll'>";
$ct = new ControlTable("Mysql errors", "", array("parentClass" => ""), $this->data['errs']);

echo "<div style='padding: 0  15px;'>";
$ct->Draw();
echo "</div></div>";

/*

*** FACEPALM  - это горионтальная прокрутка на 3 экрана***

<div class="mysql-debug-wrap">
    <div class="mysql-debug-title">
        <i style="float:left;" class="fa fa-chevron-up" style="padding: 6px 6px 0 0"></i>
        Mysql errors
    </div>
    <div class="dberrors hiddenBlock">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Query</th>
            <th>Error</th>
            <th>Backtrace</th>
            </thead>
            <tbody>
                <?php foreach ($this->data['errs'] as $err): ?>
                    <tr style="width:100%" class="tableRows tableRowC">
                        <td style="width:30%;vertical-align: top"><?= $err['query']; ?></td>
                        <td style="width:25%;vertical-align: top"><?= $err['message']; ?></td>
                        <td style="width:45%"><?= $err['debug']; ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<script>
    var errSpoilerInit = function () {

        var title = $(".mysql-debug-title");
        title.on('click', function () {
            var block = $(".mysql-debug-wrap > .dberrors");
            if (block.hasClass('hiddenBlock')) {
                $(this).children('i.fa').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                block.removeClass('hiddenBlock');
            } else {
                $(this).children('i.fa').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                block.addClass('hiddenBlock');
            }
        });

    };
    $(document).ready(errSpoilerInit);
</script>
*/