<!doctype html>
<html>

    {{Inc:/tpl/tpl-admin/phtml/admin/blocks/head}}

    <body>  

        <div id="adminSlider">

            <div id="leftSubMenuWrap">
                {{Inc:/tpl/tpl-admin/phtml/admin/blocks/ipanel}}
                {{Inc:/tpl/tpl-admin/phtml/admin/blocks/menu-mobile}}
      	        {{Inc:/tpl/tpl-admin/phtml/admin/blocks/menu}}
                {{Inc:/tpl/tpl-admin/phtml/admin/blocks/filters}}
            </div>

            <div id="adminHead" class="blackGradient">
                {{Inc:/tpl/tpl-admin/phtml/admin/blocks/top}}
            </div>

            <div id="adminContentWrap">
                <div id="adminContent"></div>
            </div>
        </div>

        <div id="globalWrapDisable"></div>

        <script>
            $(function() {

                <?php $sett = $this->data["settings"]; ?>

                AdminAjax = new Request("{{PathDs}}admin/modules", "adminContent", true, "html");
                AdminAjax.SetDefaultPage("<?= $sett['navDefaultPage'] ?>").Dispatch();

                CAdminMenu = new AdminMenu("CAdminMenu");
                CAdminMenu.Load({{Data:adminMenu}});
                CAdminMenu.Resize();
                CAdminMenu.MenuColorize();

                $(window).resize(function() {
                    CAdminMenu.Resize();
                });

                $("#adminLoader").ajaxStart(function() {
                    $("#globalWrapDisable").show();
                    $(this).show();
                });

                $("#adminLoader").ajaxStop(function() {
                    $("#globalWrapDisable").hide();
                    $(this).hide();

                    $("#adminContentWrap").click(function() {
                        $("#globalSearch").removeClass("globalSearchWide");
                        globalSearchClose();
                    });

                });

                if ($.cookie('sliderLeftView'))
                    AdminSlider();

            });
 
            $(document).keydown(CheckKeyDown); 
			 
        </script>

    </body>
</html> 