<!DOCTYPE html>
<html>

{{Inc:/tpl/tpl-admin/phtml/admin/blocks/head}}

<body id="bgBody">
<div id="loginFormWrap">
    {{Form:form}}
    <div id="loginResponse"></div>
</div>


<div id="loginLoader"></div>

<script>

    $(function () {

        $(document).ajaxStart(function () {
            $("#loginFormWrap").css("opacity", "0.5");
            $("#loginLoader").show();

        });

        $(document).ajaxStop(function () {
            $("#loginFormWrap").css("opacity", "1.0");
            $("#loginLoader").hide();
        });

    });

</script>


</body>
</html>