<script>
    GNav.Load(
        <?=json_encode($this->data["widget"]->nav->path)?>,
        <?=json_encode($this->data["widget"]->nav->param)?>
    );
</script>

<div id='<?= $this->data["widget"]->uid ?>'>
    <?php $this->data["widget"]->GetContent()->RenderBody()->DrawBody(); ?>
    <?php $this->data["widget"]->RenderFilters()->DrawFilters(); ?>
</div>

