<?php if($this->data["widget"]->breadcrumbs) {   ?>

    <div class="breadcrumbs">

        <a class="fa fa-home" onclick="<?= $this->data["widget"]->uid ?>.Link({path:0}, {});"></a>

        <?php foreach($this->data["widget"]->breadcrumbs->crumbs as $count => $crumbs) {   ?>

                <i class="fa fa-angle-right"></i>
                <a onclick="<?= $this->data["widget"]->uid ?>.Link({path:<?=$crumbs["url"]?>}, {});"><?=$crumbs["title"]?></a>

        <?php } ?>
    </div>

<?php } ?>