<?php if (!empty($this->data["widget"]->buttons)) { ?>
    <div class='appButtons'>

        <?php foreach ($this->data["widget"]->buttons as $item) {

            $confirm = ($item->properties["dialogEnable"]) ? $item->properties["dialog"] : "";
            $styles = "";

            if (isset($item->properties['fontClass'])) {
                $class = $item->properties['fontClass'];
                $styles .= "color: " . $item->properties['fontColor'] . ";";
            } else {
                $class = (isset($item->properties["svg"])) ? $item->properties["svg"] : "";

                if (!$class)
                    $styles = (isset($item->properties["styles"])) ? $item->properties["styles"] : "";
            }

            if (!$item->GetProperty("enabled")) {
                $styles .= " color: #888;";
                $onclick = "alert('Function is not available'); return false;";
            } else {
                $onclick = "Button" . $item->properties['script'] . "(this, {$this->data["widget"]->ajax->eid}, '{$this->data["widget"]->ajax->eid}'); return false;";
            }

            $target = "";

            if(isset($item->properties['href'])) {
                $href = $item->properties['href'];
                $target = "_blank";
                $onclick = "";
            } else {
                $href = "javascript:";
            }

            if(isset($item->properties['adminMenu']))
            {
                $onclick = "CAdminMenu.Click(this); return false;";
                $href    = $item->properties['adminMenu'];
            }

            echo "<a href=\"{$href}\" target=\"{$target}\" class=\"buttonsBig\"   data-confirm = \"{$confirm}\"
             data-action = \"{$item->action}\"
        onclick=\"{$onclick}\"><i class=\"fa $class\"  style=\"{$styles}\"></i><div>{$item->title}</div></a>";
            ?>

        <?php } ?>

    </div>


<?php } ?>