<?php if($this->data["widget"]->table && !isset($this->data["widget"]->properties["disablePaging"]) && $this->data["widget"]->pager->countRows > 10) { ?>

    <div style='height:32px;'>
        <div style='float:right;'>
            <?php
                if ($this->data["widget"]->ppage)
                    $this->data["widget"]->ppage->Draw();
            ?>
        </div>

        <div style='float:left;'>
            <?php
            if ($this->data["widget"]->pager)
                $this->data["widget"]->pager->Draw();
            ?>
        </div>
    </div>
<?php } ?>