<?php
if ($this->data["widget"]->pager)
{
    $nfr =  (in_array("system_ext_pagination", $_SESSION[AUTH_KEY]["access"]) || isset($_SESSION[AUTH_KEY]["isSu"]))
        ? "<span style='color:#999; font-size: 14px; font-weight:100; margin-left:10px'> number of found results: <strong>" .
        $this->data["widget"]->pager->countRows . "</strong></span>" : "";
}

if ($this->data["widget"]->table && $_SESSION[AUTH_KEY]["isSu"] != true)
    if (isset($_SESSION[AUTH_KEY]) && !in_array("system_ext_pagination", $_SESSION[AUTH_KEY]["access"]))
        $this->data["widget"]->table->properties["numberOfString"] = false;


if ($this->data["widget"]->getProperty("title") && !$this->data["widget"]->getProperty("titleDisable"))
{
    echo "<div class='tableTitle'>{$this->data["widget"]->properties['title']}{$nfr}";

    if ($this->data["widget"]->timer)
        $this->data["widget"]->timer->Draw();

    if (isset($_SESSION[AUTH_KEY])) {


        $exportUrl = str_replace("admin/widgets", "admin/export", $this->data["widget"]->properties["url"]);


        echo " <a href='{$exportUrl}' class='niceDownload'><i class='fa fa-file-excel-o'></i></a> ";
    }

    echo "<hr /><div style='height:10px; clear:both'></div></div>";
}
?>