body {
  background-color: #fff;
  color: #243238;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
}

.promoPage {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .promoVideo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;

    video {

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      margin: auto auto;
      background-size: cover;

    }

  }

}

.container {
  position: absolute;

  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;

  .promo {
    padding-left: 5%;
    padding-bottom: 10%;

    display: inline-block;

    h2 {
      color: white;
      font-size: 120px;
      line-height: 120px;
      margin: 0; 
      padding: 10px 0;
      display: block;
    }
    .description {
      display: block;
      border-top: solid 5px white;
      font-size: 2em;
      line-height: 3em;
      color: white;
    }
  }

}