@charset "utf-8";
/* CSS Document */

* {
  font-family: $fontFamilyMain;
}

hr {
  margin: 2px 0 4px 0;
  padding: 0;
  border: 0;
  border-top: solid 1px #eee;
}

body {
  line-height: 14px;
  overflow-y: scroll;
  background-color: #fff;
  margin: 0;
  font-size: 12px;
}

.separator {
  margin: 5px 0 5px 0;
  border-top: 1px solid #a3a3a3;
}

#bgBody {
  background: url("data:image/jpeg;base64,%2F9j%2F4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP%2FsABFEdWNreQABAAQAAABQAAD%2F7gAOQWRvYmUAZMAAAAAB%2F9sAhAACAgICAgICAgICAwICAgMEAwICAwQFBAQEBAQFBgUFBQUFBQYGBwcIBwcGCQkKCgkJDAwMDAwMDAwMDAwMDAwMAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz%2FwAARCABkAGQDAREAAhEBAxEB%2F8QAZAABAQEBAAAAAAAAAAAAAAAAAQACCQEBAAAAAAAAAAAAAAAAAAAAABAAAgEDBAEEAgICAwAAAAAAAREhADECQVFhEiJxgTJCkaHwwbHR8WJTEQEAAAAAAAAAAAAAAAAAAAAA%2F9oADAMBAAIRAxEAPwDvGWDplgRM60GQEBAlP%2Fmg1LaIdwL0GYQuTY%2BlBYhoAZHj9RQXkQGW4IMFigRBT6kiAdXQSQgZAC2V4OlAMjG5I0NpFBQSFDMuzSoJSJLRGRH6oJgZhpmxEGgex7Ln5a0Fyrto60BYY6IEEc0DrGwBwG%2FFBAkAEWdjzNAG5gRKF%2FagiwAySoHI5oGWQVbx19KAxHikiCCCNaBcGSCC2Lmdt6CyEyDk78%2BlBXB11R4oL5gIjDJsPegew7dvulQZN7AGRaOKCBjyx2ehB1oEoHykO8UEAQ1wHu7UFKIIGWB%2FIoJZAJfHSggDdIXG1qAOPj5YrK5TRO%2FFA5CxOXUkSbvY0F2JAJ8vrkNnrQBYNgMjjugVQILC6ogHWglquXFBCyGTxZAe1BQO2Be41VBSNiCAnyZFAoMIwbBbaUGAB5QeuUKgoAQ8hzBjmgUJBE3c%2FsUEIAOORRsRIoIEDRo6cbigTwOsyLCKCfl4wUXiaC3ynrkETtzQDjSy782tvQJAZYPXJ2nigCSAJYiPegUCDoygf6oDHJFZ7xlvQKBAuRkWI1dBNnH7DJ%2Fmggfie2WOWOqEigE8UxZlXiaCM%2BRJGS%2BQF6BIJYIZBg7q9BEG3r0c0AIBxEOwtQa7auF2SmgCUSsSCLzpvQM7FS8VHqDQZ8QDdG%2F9MUCymPIan19aCR%2BQHLEF0Afk5BBb3oEkByQ21QQcF9uvieRQAD7AAgZARYg0CwYymdW5igP%2BnYEiceRrQJ7q5IUA6Ec0CyvhPW%2FFADyMicVfY7GgMbY%2BM4nyX%2BqBAIB6oAAnnegiwsgYy2kKgAVlbxI8xedxQRsHcMDYigWxYjcX9xQUTJtr%2BKAFplGfSgSEupLxMB8UEToYGj0%2FFAT4kazAPvQai82S43oAonqbzLoBggk%2BOQN%2F7oIgDLtjC2mDQIU9bFnFROxFAaD6uCFLoIfbqUflj7waBQ40MUE0USWNx%2FL0B1uGAdKBQiBi7gCRQa1RZBU6EWoMKxxuCSL%2BlAMKxSs9NnQbnbst1QZBABM9bHHbmg0AocHagywcZjK5y19aBNkSQSjbXegm0SgYP42oBwDBIuN%2FegZlBwFzQRHyWIkXBuKDOXDEPEmQ9RQJUEjgnigl1BD7D6u496B6%2FZG9tPzQQDZxAdziqAFgCY34oKcbsEa2tQIIKd8oOvNBAZAoZPHT2oJ5AEvLICEQP80Bb4wDoRQMdgLHEwDrFBCUC9GgoNjQEojLIOz3W9A%2Bd8T2BFqC0uQMgRQKP%2Fqei7cvagyOzaM3e%2BlAp9oBExqItQTTgrYHUjY0EG0L3xJIRPpQCcpEQRe9Ah6hnUiKCGuOrRxNpoJvxMEf43dAGD2BCSKuFvQMEFWKkaUAGxDgsWvqDQUdjKi6iKCU9YaT4oFsB5emVwaABCLAk6H80Erq2UMDazoGSNIBfCoLyFvKx6oWoKw1glMaGgdoEGE1trQZLABJAQnEzegWHaCJFqBARIMfxCgziX0GRLaB14oEHIGQwfzQU7Hqr8O1BGx6fNTtQJSlWDe%2BlBnC8vVp0ENU0j8qCjx7P22oIP7tSndUEV9bx2X6oNalPqvJ29qDE9fL9%2Fqg2E%2FHaVQE9Jb7eKvQOvg9HtQZh%2FXr770H%2F9k%3D") transparent;
}

#adminContentWrap {
  margin-top: 0;
  padding: 0;

  @media (max-width: 968px) {
    overflow-x: auto;
    border: solid 1px #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
  }

}

#adminContent {
  padding: 15px;

  @media (max-width: 968px) {
    padding: 0;
  }

}

#adminLoaderWrap {
  margin: 3px 5px;
  height: 5px;
  display: block;
  position: absolute;
}

#adminLoader {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 7px;
  top: 9px;
  border-radius: 3px;
  display: block;
  background-image: url(../img/newajax.gif);
  z-index: 999999;
}

#adminEvents {
  z-index: 10001;
  color: #FF0000;
  font-size: 13px !important;
  height: 13px;
  left: 34px;
  position: absolute;
  text-shadow: none;
  top: -10px;
}

.adminMenu span {
  color: red;
  position: absolute;
  font-size: 10px;
  top: -13px;
  right: 1px;
}

.blackGradient {
  background-color: #000;
  background-image: -moz-linear-gradient(#444, #000);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background-image: -webkit-linear-gradient(#444, #000);
  background-image: -o-linear-gradient(#444, #000);
  background-image: -ms-linear-gradient(#444, #000);
  background-image: linear-gradient(#444, #000);
  border-top: solid 1px #000;
  box-shadow: 0 1px 1px #999 inset, 0 1px 3px #aaa inset, 0 6px 16px #777 inset, 0 1px 10px #ccc;

  border-bottom: solid 1px #fff;
  z-index: 101;
}

#adminHead {
  height: 34px;
  /*margin-left:-40px; */

  .leftSubMenuWrapTitle {
    height: 34px;
    width: 40px;
    display: block;
    float: left;
    position: relative;
    margin: 0;

    .adminMenuMenu {
      color: #ddd;
      font-size: 18px;
      line-height: 34px;
      right: 0;
      padding: 0 0 0 1px;
      text-align: center;
      margin: 0;
      border: none;
      z-index: 500;
      position: absolute;
      left: 0;
      height: 34px;
    }
    :hover {
      color: #fff;
    }

  }

  .adminMenuWrap {
    height: 34px;
    display: block;

    float: left;
    position: relative;
  }

  .adminMenuWrapRight {
    height: 34px;
    display: block;
    float: right;
    margin-right: 5px;
  }

  .adminMenuWrapRight p, .adminMenu {
    display: block;
    height: 34px;
    line-height: 38px;
    margin: 2px 0 0 0;
    float: left;
    font-weight: normal;
    padding: 0 9px;
    position: relative;
    font-size: 17px;
    border-right: solid 1px #222;
    border-left: solid 1px #777;
    text-decoration: none;
    letter-spacing: 0;
  }

}

#adminSlider { /*padding-left:40px;*/
  padding-top: 0;
  margin-top: 0;
}

.leftMenuHidden {
  display: none;
}

#leftFilters {
  display: none;
  padding: 0;
  padding-left: 5px;

}

.leftSubMenuTitle {
  border-bottom: solid 1px #eee;
  border-top: solid 1px #fff;
  border-radius: 3px 3px 0 0;
  padding-top: 1px;
}

/* z-index:50;*/

#leftSubMenuWrap {
  width: 230px;
  display: block;
  margin-left: -230px;
  top: 40px;
  position: absolute;
  display: none;

  h2 {
    font-size: 16px;
    color: #446384;
    height: 16px;
    padding: 2px 0;
    line-height: 16px;
    text-indent: 0;
    margin: 0;
    padding-top: 10px;
  }
}

#leftSubMenu {
  padding: 5px;
  padding-top: 0;
}

.leftSubMenuItem {
  display: block;
  height: 16px;
  line-height: 18px;
  padding: 1px 1px 1px 10px;
  color: #444;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden;
}

.leftSubMenuItemActive, .leftSubMenuItem:hover {
  background-color: $colorActive;
  color: #fff;
  border-color: $colorActive;
}

.leftSubMenuExt {
  padding: 4px 4px 2px 4px;
  margin: 0;
  margin-right: 1px;
  display: block;
  color: #8A8A8A;
  float: left;
  display: block;
  text-decoration: none;
  overflow: hidden;

  i {
    overflow: hidden;
    font-size: 25px;
    line-height: 25px;
    color: #bbb;
    text-shadow: 0 1px 0 #fff;

  }

  i.leftSubMenuExtSelect,
  i:hover {
    color: #6AABEF !important;
  }

}

.leftSubMenuExtMiniWrap {
}

.leftSubMenuExtMini {
  float: right;
  margin: 0;
  height: 16px;
  line-height: 16px;
  width: 16px;
  margin-top: 4px;
  display: block;
  color: #AFB8C2 !important;
}

.leftSubMenuExtBox {
  padding: 2px 0 0 2px;
  background: #FCFCFC;
  border-bottom: solid 1px #ddd;
}

.adminMenuWrapSearchLeft input:disabled {
  background-color: #fff;
  opacity: 0.5;
}

.globalSearchWide {
  opacity: 1.0;
}

#globalWrapDisable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  opacity: 0.1;
  z-index: 20000;
  display: none;
}

#globalSearchOutWrap {
  top: 28px;
  max-height: 400px;
  right: 1px;
  top: 40px;
  left: 5px;
  background-color: #FFF;
  position: absolute;
  z-index: 500;
  overflow-y: scroll;
  box-shadow: 0 1px 10px #000000;
  display: block;
}

.globalSearchEmpty {
  color: #f00;
}

.searchRow {
  padding: 5px 5px;
  display: block;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

.searchRow:hover,
.searchRowFocus {
  background-color: #ddd;
}

.searchRow strong {
  color: #000;
}

.searchRow span {
  float: right;
  color: #999;
}

#adminContent {

  h1 {
    color: #6b797c;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  h2 {
    color: #245a64;
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 14px;
  }

  hr {
    margin: 2px 0 4px 0;
    padding: 0;
    border: 0;
    border-top: solid 1px #f0f0f0;
  }
}

.miniColumn {
  width: 40px;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  text-align: center;
  display: inline-block;
  margin: 0;
  border-radius: 3px;
}

.cpDashboardBlockWrapWrap {
  float: left;
  display: block;
  box-sizing: border-box;
}

.cpDashboardBlockWrap {
  display: block;
  margin-top: 16px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFF;
}

.cpDashboardBlock {
  padding: 0;
  min-height: 100px;
}

.grayText {
  color: #aaa;
}

.labelYellow {
  background-color: #F6E0A4;
  border: 1px solid #D5C8A6;
  color: #685809;
  font-size: 11px;
  padding: 0 5px;
  text-shadow: 0 1px 0 #F0E6C8;
}

/* Addiotional */
.simpleSpoiler {
  display: none;
}

.simpleSpoilerHead {
  color: #B94A48;
  text-decoration: none;
  border-bottom: dashed 1px #B94A48;
}

.consoleOutput {
  padding: 10px;
  border: solid 3px #ccc;
  color: #eee;
  background-color: #000;
  font-size: 16px;
  line-height: 18px;
  font-family: $fontFamilyDebug;
  min-height: 400px;
  margin-bottom: 50px;
  box-sizing: border-box;
}




.errorText {
  background-color: #e91919;
  color: #fff;
  font-weight: 700;
}

.goodText {
  background-color: #4ed82d;
  color: #fff;
  font-weight: 700;
}

.cmdBox {
  padding: 10px;
  border: solid 5px #ccc;
  color: #f0f0f0;
  margin-bottom: 10px;
  min-height: 390px;
  box-sizing: border-box;
  background-color: #000;
  font-size: 16px;
  line-height: 18px;
  font-family: Lucida Console, Monaco, monospace;
}

/* GUI */
.contentMarginTop {
  height: 35px;
}

.progressBarWrap {
  width: 100%;
  height: 16px;
  background-color: #aaa;
  float: left;
  display: block;
  position: relative;

  span {
    position: absolute;
    height: 16px;
    line-height: 16px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
  }

}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.progressBarRed {
  background-color: #ed0000;
}

.progressBarYellow {
  background-color: #eba000;
}

.progressBarGreen {
  background-color: #7ccf00;
}

.label {
  display: inline-block;
  padding: 0 5px;
  text-indent: 0;
  font-size: 11px;
  float: right;
  margin-left: 5px;
  border-radius: 1px;
}

.labelGreen {
  background-color: #00CC00;
  color: white;
}

.buttonForUpdate {
  height: 50px;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: wheat;
}