/* fonts */
$fontFamilyMain : Arial, Helvetica Neue, Helvetica, sans-serif;
$fontFamilyDebug : Arial, Helvetica Neue, Helvetica, sans-serif;

/* colors */
$colorActive:       #1E8EF1;
$colorActiveShadow: #5488BE;
$colorDarkTitle: #446384;
$colorLightGray: #AFB8C2;