/* interactivePanel */
.interactivePanelLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  padding-top: 40px;
}

.interactivePanel, .interactivePanelTiming {
  padding: 2px 2px;
  line-height: 12px;
  background-repeat: no-repeat;
  color: #333;
  font-size: 11px;
  background-color: #fff;
}

.interactivePanelTiming {
  border-bottom: solid 1px #ddd;
  padding-top: 3px;
  box-shadow: 0 1px 0 #fff inset;
}

.interactivePanel table {
  width: 100%;
}

.interactivePanel a {
  text-decoration: underline;
}

.interactivePanel a:hover {
  text-decoration: none;
}

.interactivePanel > table > thead {
  line-height: 16px;
}

.interactivePanel > table > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

.interactivePanel td {
  text-align: right;
}

.interactivePanel .dropDownContent h3 {
  font-size: 12px;
  color: #446384;
}

#ip_subtasks_my_active {
  text-decoration: underline;
}

#ip_subtasks_my_active_txt {
  text-align: left;
}

#ip_subtasks_my_active_txt a {
  color: #333;
}

#ip_coins_my_wrap {
  float: right;
  padding-top: 7px;
  padding-right: 8px;
  color: #AFB8C2;
  font-size: 11px;
  line-height: 10px;
}

#ip_coins_my_wrap i {
}

/* Global Search */



#globalSearchWrap {
  position: relative;
  padding: 6px 0 0 5px;
  float: left;
  height: 30px;
  width: 225px;

  @media (max-width: 968px) {
    float: right;
    width: auto;
    padding-right: 10px;
  }

  h1 {
    float: left;

    margin: 0;
    padding: 0;
    font-size: 18px;
    height: 22px;
    line-height: 24px;
    text-indent: 5px;
    color: #aaa;
  }

}

#globalSearch {
  height: 22px;
  width: 218px;
  position: absolute;
  z-index: 500;
  border-radius: 3px;
  background-color: #ccc;
  border: none;
  background-image: url(../svg/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 202px center;
}

#globalSearch:focus {
  box-shadow: none !important;
  background-color: #fff;
  background-image: none;
}

#globalSearch::-webkit-input-placeholder {
  color: #000;
}

#globalSearch::-moz-placeholder {
  color: #000;
}

#globalSearch:-moz-placeholder {
  color: #000;
}

#globalSearch:-ms-input-placeholder {
  color: #000;
}

#globalSearch:focus::-webkit-input-placeholder {
  color: transparent;
}

#globalSearch:focus::-moz-placeholder {
  color: transparent;
}

#globalSearch:focus:-moz-placeholder {
  color: transparent;
}

#globalSearch:focus:-ms-input-placeholder {
  color: transparent;
}