.adminTopMenu {
  font-weight: bold;
}

.adminTopMenu:last-child {
  border-right: solid 1px #111111 !important;
  box-shadow: 1px 0 0 #444444 !important;
}

.adminMenuUnSelectMini {
  width: 20px;
  overflow: hidden;
  letter-spacing: 50px;
}

.adminMenuUnSelectMini a {
  padding: 0 5px !important;
}


#mobileMenu{
  display: none;
}

#mainMenu {
  position: relative;
  border: none;
  text-align: left;
  font-size: 17px;
  height: 34px;
  float: left;
  padding: 0;
  z-index: 101;
}

#mainMenu ul, #mainMenu ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mainMenu ul {
  clear: left;
  position: relative;
  right: 50%;
  height: 36px;
  float: right;
  text-align: center;
}

#mainMenu ul li {
  border-right: 1px solid #111;
  border-left: 1px solid #777;
  box-shadow: 1px 0 0 #444;
  -moz-box-shadow: 1px 0 0 #444;
  -o-box-shadow: 1px 0 0 #444;
  -ms-box-shadow: 1px 0 0 #444;
  -webkit-box-shadow: 1px 0 0 #444;
  position: relative;
  left: 50%;
  float: left;
  height: 34px;
  line-height: 36px;
  padding: 0;
  margin: 0
}

#mainMenu ul li:last-child {
  border: none;
  box-shadow: none
}

#mainMenu ul li a {
  display: block;
  color: #bbb;
  font-size: 16px;
  text-decoration: none;
  padding: 0 8px;
  height: 34px;
}

#mainMenu ul li a:hover, .adminMenuSelect {
  background: $colorActive;
  color: #fff !important;
  text-shadow: 0 1px 0 $colorActiveShadow;
}

#mainMenu ul li.mainMenuSeparator {
  padding-left: 5px;
  font-size: 13px;
  background-color: #4f4f4f;
  color: #aaa;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

#mainMenu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

#mainMenu ul li ul {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 34px;
  height: auto;
  width: 160px;
  padding-top: 6px;
}

#mainMenu ul li ul li {
  border: none;
  position: relative;
  left: 0;
  float: none;
  height: auto;
  margin: 0;
  text-align: left !important;
  background: #3c3c3c;
  color: #fff;
  box-shadow: 0 -1px 0 #616161 inset, 0 -2px 0 #222 inset;
}

#mainMenu ul li ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#mainMenu ul li ul li a {
  padding: 0 8px;
  font-size: 12px;
  border: none;
  height: 30px;
  line-height: 30px;
}

#mainMenu ul li ul li ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  _margin: 0; /*IE6 only*/
  box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
  -o-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
  -ms-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
}

#mainMenu ul ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #3c3c3c;
}

#mainMenu ul ul li:first-child > i:after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #4f4f4f;
}

#mainMenu ul ul ul li:first-child a:after {
  left: -4px;
  top: 50%;
  margin-top: -4px;
  border-left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #6aabef;
}

#mainMenu ul ul li:first-child a:hover:after {
  border-bottom-color: #6aabef;
}

#mainMenu ul ul ul li:first-child a:hover:after {
  border-right-color: #6aabef;
  border-bottom-color: transparent;
}

#leftSubMenuWrap {
  padding-left: 5px;
  box-sizing: border-box;
}

#leftSubMenu {
  padding-top: 5px;
}

.adminMenuDdWrap span {
  padding-right: 5px;
}

.adminMenuDdWrap {
  background: rgb(113, 113, 113); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(113, 113, 113, 1) 0%, rgba(34, 34, 34, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(113, 113, 113, 1)), color-stop(100%, rgba(34, 34, 34, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(113, 113, 113, 1) 0%, rgba(34, 34, 34, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(113, 113, 113, 1) 0%, rgba(34, 34, 34, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(113, 113, 113, 1) 0%, rgba(34, 34, 34, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(113, 113, 113, 1) 0%, rgba(34, 34, 34, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#717171', endColorstr='#222222', GradientType=0); /* IE6-9 */

  padding: 0 8px;
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
  border-radius: 3px;
  float: left;
  font-size: 12px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  margin: 3px 0 5px 5px;
  position: relative;
  text-align: left;
  color: #eee;
  text-shadow: 0 1px 0 #444;
}

.adminMenuDdWrap:hover {
  color: #fff;
}

.adminMenuDdNoneWrap {

  background-image: linear-gradient(to bottom, #717171, #222222);
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  float: left;
  font-size: 12px;
  height: 26px;
  display: block;
  margin: 5px;
  position: relative;
  text-align: left;
  color: #fff;
  text-shadow: 0 1px 0 #444;

}

.adminMenuNoneDd {
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  background-position: right 11px;
  height: 26px;
  line-height: 26px;
}

.adminMenuDdWrap select {
  position: absolute;
  right: 0;
  height: 26px;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.adminMenuWrapRight p {
  background-color: #333;
  color: #ccc;
  margin-right: 4px;
}

.adminMenuIco {
  display: block;
  height: 33px;
  line-height: 38px;
  margin: 1px 0 0 0;
  float: left;
  font-weight: normal;
  padding: 0 12px;
  position: relative;
  font-size: 17px;
  border-right: solid 1px #222;
  border-left: solid 1px #777;
  text-decoration: none;
  letter-spacing: 0;
}

.adminMenuIcoSelect {
  background-color: #000;
}

.adminMenuIcoUnSelect {
  color: #aaa;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.749);
}

.adminMenuIcoUnSelect:hover {
  background-color: #000;
  color: #fff;
}

#adminMenuMessages {
  float: right;
}

.adminMenuMessage {
  border-radius: 50% 50% !important;
  display: block;
  padding: 0 10px;
  height: 28px;
  margin-top: 3px;
  margin-right: 0;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 28px !important;
  box-sizing: border-box;
}

.adminMenuMessageOrange {
  color: #fff;
  text-decoration: none;

  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0); /* IE6-9 */

  text-shadow: 0 1px 0 #900;
  border: solid 1px #000000;
  box-shadow: inset 0 2px 4px #600;
}

.adminMenuMessageRed {
  color: #fff;
  text-decoration: none;
  background: rgb(255, 48, 25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 48, 25, 1)), color-stop(100%, rgba(207, 4, 4, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
  text-shadow: 0 1px 0 #900;
  border: solid 1px #000000;
  box-shadow: inset 0 2px 4px #600;
}
