
.popupBox {
  position: fixed;
  bottom: -100px;
  right: 20px;
  padding: 16px;
  background-color: #000;
  color: #fff;
  background: rgba(13, 13, 13, 0.85);
  width: 300px;
  border-radius: 3px;
}

.popupBox i.popupBoxType {
  color: #999999;
  font-size: 20px;
  left: 12px;
  position: absolute;
  top: 14px;
}

.popupBox h3 {
  border: 0  none currentColor;
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 15px 20px;
  position: relative;
}

.popupBox h3 i {
  float: right;
  margin: -2px -2px 0  0;
  font-size: 12px;
  cursor: pointer;
}

.popupBox h3 i:hover {
  color: #fff;
}

.popupBox span {
  font-weight: normal;
  padding-left: 10px;
}

.popupBody {
  display: table;
  width: 100%;
}

.popupBodyCL {
  display: table-cell;
  width: 54px;
  border-right: solid 1px #ddd;
  vertical-align: top;
}

.popupBodyCR {
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
}

.popupBodyCR p {
  padding: 2px 0;
  margin: 0;
}

.popupBodyCR p b {
  width: 60px;
  display: inline-block;
}

.popupBodyCustomer {
  font-size: 32px;
  color: #00D9FF;
}

.popupBodyCustomerGuest {
  color: #fff;
}

.popupBodyCustomerDealer {
  color: #A880FF;
}

.popupBodyCL .popupBodyFlag {
  float: right;
  margin-top: 0;
  margin-right: 7px;
}

.popupIncoming {
  position: fixed;
  bottom: -100px;
  right: 20px;
  z-index: 1000;
  padding: 16px;
  background-color: #000;
  color: #fff;
  background: rgba(13, 13, 13, 0.85);
  width: 400px;
  border-radius: 3px;
  cursor: pointer;
}

.popupIncoming i {
  color: #999999;
  font-size: 20px;
  left: 12px;
  position: absolute;
  top: 14px;
}

.popupIncoming h3 {
  border: 0  none currentColor;
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 15px 20px;
  position: relative;
}