/* vars */
$tooltipBorderColor: #b7b7b7;
$tooltipLeftShift: 6;

/* */
.tooltip {

  margin: 0;
  padding: 0;
  display: inline-block !important;

  &:hover .label > .body {
    display: block;
  }

  .label {
    display: inline-block !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;

    .body {
      background-color: white;
      position: absolute;
      z-index: 100;
      display: none;
      word-wrap: normal;
      word-break: keep-all;

      .content {

        display: block;
        min-width: 100px;
        position: relative;
        padding: 10px 15px;
        text-align: left;
        border: solid 1px $tooltipBorderColor;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.096);
        width: 100%;
        box-sizing: content-box;
        background-color: white;
        word-wrap: normal;

        &:after {
          content: " ";
          z-index: 101;
          left: $tooltipLeftShift+px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $tooltipBorderColor;
          position: absolute;
          top: -11px;
          height: 6px;
        }
        &:before {
          content: " ";
          z-index: 103;
          left: $tooltipLeftShift+px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
          position: absolute;
          top: -10px;
          height: 6px;
        }

        .close{
          height: 10px;
          font-size: 10px;
          text-align: right;
          float: right;
          color: #ddd;
        }

        h3 {
          display: block;
          padding: 0;
          margin: 0;
          font-size: 12px;
          line-height: 14px;
          color: $colorActive;
          border-bottom: solid 1px #f0f0f0;
        }

        p{
          margin: 2px 0 6px 0;
        }

      }

    }
  }
}

/* for icons */
.tooltip16x16 {
  .label {
    width: 16px;

    .body {
      top: 22px;
      left: -4px;
    }
  }
}

.tooltip16x12 {
  .label {
    width: 16px;

    .body {
      top: 22px;
      left: -6px;
    }
  }
}

.tooltipGeo {
  .label {
    .body {
      display: block !important;
      min-width: 160px;
    }
  }
}


/* old deprecated */

/*

.adminBaloonWrap {
  position: relative;
  cursor: pointer;

  &:hover .adminBaloon {
    display: block;
  }
}

.adminBaloon {
  position: absolute;
  background-color: #fff;
  text-align: left;
  top: 30px;
  display: none;
  z-index: 100;
  white-space: nowrap;
  word-wrap: normal;
  padding: 5px;
  box-shadow: 0 1px 3px #444;
  h3 {
    margin: 2px 0;
    padding: 0;
    border-bottom: solid 1px #eee;
    color: #446384;
    font-size: 12px;
  }
}



.dropDownBody {
  display: none;
}

.dropDownWrap {
  position: relative;
}

.dropDownTriangle2 {

  z-index: 1002;
  left: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -11px;
  border-bottom: 8px solid #fff;
}

.dropDownTriangle {

  bottom: -1px;
  z-index: 1001;
  left: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -9px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.196);
}

.dropDown {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.196);
  border-radius: 6px;
  box-shadow: 0  5px 10px rgba(0, 0, 0, 0.196);
  display: block;
  float: left;
  left: -5px;
  list-style: none outside none;
  margin: 8px 0;
  min-width: 160px;
  padding: 10px;
  position: absolute;
  top: 100%;

  text-align: left;
  z-index: 1000;
}
*/