/*********************************************************************************************************
 general
*********************************************************************************************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.fmBody {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  border: solid 1px #ddd;
}

#fmCont1Title {
  border-bottom: solid 1px #ddd;
}

/*********************************************************************************************************
 content
*********************************************************************************************************/
.fmContent, .fmContentDisabled, .fmContentNew {

  font-size: 11px;
}

.fmContent {
  color: #000000;
  font-weight: normal;
}

.fmContentDisabled {
  color: #f0f0f0;
  font-weight: normal;
}

.fmContentNew {
  color: #D00000;
  font-weight: bold;
}

.fmThumbnail {
  background-image: url(../icn/mediaLoading.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.fmMenuTitle {

  font-size: 10px;
  font-weight: bold;
  background-color: #fff;
  color: #000080;
}

.fmMenuBorder {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.fmMenuItem {

  font-size: 11px;
  color: #000080;
}

.fmMenuItemDisabled {

  font-size: 11px;
  color: #A0A0A0;
}

/*********************************************************************************************************
 hyperlinks
*********************************************************************************************************/
.fmLink, .fmLink:active, .fmLink:visited {
  color: #000000;
  text-decoration: none;
}

.fmLink:hover {
  text-decoration: underline;
  color: #0000FF;
}

/*********************************************************************************************************
 error and log messages, debug info
*********************************************************************************************************/
.fmError {

  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  text-align: center;
  border: 1px dashed #D00000;
  color: #D00000;
  background-color: #FFF0E0;
}

.fmLogDefault, .fmLogInfo, .fmLogError {

  font-size: 10px;
  font-weight: normal;
}

.fmLogDefault {
  color: #00B000;
}

.fmLogInfo {
  color: #0000FF;
}

.fmLogError {
  color: #FF4040;
}

.fmLogWindow {
  background-color: #F0F8FF;
}

.fmSearchResult {
  font-size: 11px;
  background-color: #FFFFD0;
}

.fmDebugInfo {
  background-color: white;
  color: #808080;
  border: 1px dashed #808080;
  padding: 2px;
  text-align: left;

  font-size: 10px;
}

/*********************************************************************************************************
 forms, fields and buttons
*********************************************************************************************************/
.fmForm {
  margin: 0;
}

.fmField {
  font-family: "Courier New", Courier;
  font-size: 12px;
  font-weight: normal;
  border: 2px inset #FFFFFF;
}

.fmButton {

  font-size: 11px;
  font-weight: bold;
  margin-top: 4px;
  width: 100px;
}

/*********************************************************************************************************
 table header cells
*********************************************************************************************************/
.fmTH1, .fmDialog, .fmDialogTitle {
  cursor: default;

  font-size: 12px;
  font-weight: bold;
  color: black;
  background-color: #fcfcfc;
}

.fmTH2 {
  cursor: default;
  font-size: 10px;
  color: #000000;
  background-color: #ddd;

}

.fmTH3 {
  cursor: default;

  font-size: 10px;
  font-weight: bold;
  color: black;
  padding: 2px;
  background-color: #fafafa;
  margin-left: 1px;
  text-align: center;
  white-space: nowrap;
}

.fmTH4 {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  color: black;
  background-color: #eee;
  margin-left: 1px;
  text-align: center;
  white-space: nowrap;
}

.fmTH5 {
  cursor: pointer;

  font-size: 10px;
  font-weight: bold;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-right: 1px;
  border: 1px inset #FFFFFF;
  color: #FFFFFF;
  background-color: #A0B0D0;
  margin-left: 1px;
  text-align: center;
  white-space: nowrap;
}

/*********************************************************************************************************
 table data cells
*********************************************************************************************************/
.fmTD1 {

  font-size: 10px;
  font-weight: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.fmTD2 {

  font-size: 10px;
  font-weight: normal;
  color: #000000;
  padding: 0 5px;

}

.fmTD3 {

  font-size: 10px;
  font-weight: bold;
  color: black;
  background-color: #fff;
}

/*********************************************************************************************************
 dialog boxes
*********************************************************************************************************/
.fmDialog {
  position: absolute;
  z-index: 69;
  visibility: hidden;
  display: none;
  border: 1px outset #FFFFFF;
}

.fmDialogTitle {
  padding: 4px;
  cursor: move;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

/*********************************************************************************************************
 directory tree
*********************************************************************************************************/
.fmExplorer, .fmExplorerHilight, .fmExplorerActive, .fmExplorerContent, .fmExplorerFileCnt {

  font-size: 11px;
}

.fmExplorer, .fmExplorerHilight, .fmExplorerActive, .fmExplorerTitle {
  padding: 4px;
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.fmExplorerHilight {
  background-color: #1e8ef1;
  color: white;

  .fmExplorerFileCnt {
    color: white;
  }

}

.fmExplorerActive {
  background-color: #1e8ef1;
  color: white;
  .fmExplorerFileCnt {
    color: white;
  }

}

.fmExplorerFileCnt {
  color: #808080;
}

.fmExplorerTitle {

  font-size: 10px;
  font-weight: bold;
  color: black;
  background-color: white;
  text-align: left;
}

/*********************************************************************************************************
 progress bar
*********************************************************************************************************/
.fmProgressBar {
  height: 10px;
  background-color: #f0f0f0;
  border: 1px outset white;
}

.fmProgressBarBG {
  height: 12px;
  background-color: #f0f0f0;
  border: 1px solid black;
  text-align: left;
}

.fmProgressBarText {
  font-family: Arial, Helvetica;
  font-size: 10px;
  white-space: nowrap;
}

.fmProgressBarCont {
  background-color: #f0f0f0;
  border: 1px solid white;
  margin: 3px;
}

/*********************************************************************************************************
 shadows
*********************************************************************************************************/
.fmShadow {
  -moz-box-shadow: 3px 3px 4px #808080;
  -webkit-box-shadow: 3px 3px 4px #808080;
  box-shadow: 3px 3px 4px #808080;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#808080')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#808080');
}