
#auth_wrap_outer {
  padding: 8px;
  width: 368px;
  left: 50%;
  margin-left: -225px;
  position: absolute;
  top: 50%;
  margin-top: -184px;
  border-radius: 8px;
}

#resizeble_zone_right {
  margin-top: 0;
  padding: 0;
}

#admin_content {
  padding: 10px 10px 10px 10px;
}

#loginFormWrap {
  padding: 8px;
  width: 384px;
  left: 50%;
  margin-left: -225px;
  position: absolute;
  top: 50%;
  margin-top: -184px;
  border-radius: 8px;
  box-sizing: border-box;

}

#loginResponse {
  padding-top: 30px;
  padding-left: 1px;
}

#loginLoader {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(../svg/ring.svg);
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}

#adminLoader {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 7px;
  top: 9px;
  border-radius: 3px;
  display: block;
  background-image: url(../img/newajax.gif);
  z-index: 999999;
}

#adminEvents {
  z-index: 10001;
  color: #FF0000;
  font-size: 13px !important;
  height: 13px;
  left: 34px;
  position: absolute;
  text-shadow: none;
  top: -10px;
}