/* SVG ICONS */
.shipping-usps {
  background-image: url(../svg/usps.svg);
}

.shipping-fedex {
  background-image: url(../svg/fedex.svg);
}

.shipping-dpd {
  background-image: url(../svg/dpd.svg);
}

.shipping-tnt {
  background-image: url(../svg/tnt.svg);
}

.payment-psc {
  background-image: url(../svg/payment_psc.svg);
}

.payment-liqpay, .payment-liqbuy {
  background-image: url(../svg/payment_liqpay.svg);
}

.payment-DebitPayment {
  background-image: url(../svg/payment_lastschrift.svg);
}

.payment-clickandbuy {
  background-image: url(../svg/payment_clickandbuy.svg);
}

.payment-ecentru {
  background-image: url(../svg/payment_ecentru.svg);
}

.payment-BankPrepayment {
  background-image: url(../svg/payment_ueberweisung.svg);
}


.payment-PayPal {
  background-image: url(../svg/payment_paypal.svg);
}

.payment-intervale {
  background-image: url(../svg/payment_intervale.svg);
}

.ds_1st_payment {
  background: rgb(121, 96, 207);
  color: white;
}

.ds_mandat_not_sent {
  background: rgb(237, 69, 69);
  color: white;
}

.ds_waiting_for_sepa_mandat {
  background: rgb(221, 244, 23);
  color: black;
}

.ds_mandat_received {
  background: rgb(252, 234, 187);
  color: black;
}

.imageTmb {
  border: solid 1px #ddd;
  padding: 3px;
  background-color: #FFF;
  border-radius: 3px;
}

/*******************
   ORDERS
********************/

.oStatusInline {
  display: inline-block;
  padding: 0 5px;
  margin-right: 2px;
  font-weight: bold;
}

.oStatus {
  padding: 0 2px;
  margin: 0;

  div{
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    padding: 1px;
    font-size: 11px;
  }

  .green {
    background: #CDEB8B !important;
  }

  .black {
    color: #000 !important;
    box-shadow: 0  -1px 0 #fff inset;
  }

  .gray {
    background: #d7d7d7 !important;
  }

  .darkGray {
    background: #555 !important;
    color: white !important;
  }

  .orange {
    background: #EBCD8B !important;
  }

  .blue {
    background: #8BCDEB !important;
    /*background: #a9d5fc !important;*/
  }

  .pink {
    background: #FFA3C8 !important;
  }

  .grayThrough {
    color: #777 !important;
    text-decoration: line-through !important;
  }

  .grayMagenta {
    background: #874694 !important;
    color: #FFF !important;
  }

}


.erpStatus {
  float: left;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px !important;
  margin: 0;
  padding: 0;
}

.erpStatus1 {
  color: #009abb !important;
}

.erpStatus2 {
  color: #599400 !important;
}

.erpStatus3 {
  color: #ff59a5 !important;
}

.erpStatus4 {
  color: #874694 !important;
}

.erpStatus5 {
  color: #ff7700 !important;
}

.erpStatus6 {
  color: #333 !important;
}

.erpStatus7 {
  color: #333 !important;
}

.erpStatus8 {
  color: #ff59a5 !important;
}

.contentMarginTop {
  height: 35px;
}

.imgMailx {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 16px;
  line-height: 12px;
  width: 16px;
  font-size: 10px;
  color: #999;
}

/*******************
   ABO LABELS
********************/

.products {

  margin: 1px 0 2px 0;
  font-size: 10px;

  .product {
    display: inline-block;
    padding: 1px 3px 2px 3px;
    font-size: 10px;
    font-weight: 700;
    margin-right: 0;
    line-height: 10px;
    strong {
      font-size: 10px;
    }
  }

  .light {
    background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    color: #3f545d;
    text-shadow: 0 1px 0 #e6f5fb;
    border: solid 1px #87a8b6;
  }

  .gray {
    background: linear-gradient(to bottom, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
    color: #353535;
    text-shadow: 0 1px 0 #fff;
    border: solid 1px #9e9e9e;
  }

  .orange {
    background: linear-gradient(to bottom, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100%);
    text-shadow: 0 1px 0 #f0e6c8;
    border: solid 1px #a6976f;
    color: #564b14;

  }

  .red {
    background: linear-gradient(to bottom, rgba(226, 0, 0, 1) 0%, rgba(163, 0, 0, 1) 100%);
    color: #FFF;
    border: solid 1px #81251f;
    text-shadow: 0 1px 0 #891717;
  }

  .blue {
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%); /* W3C */
    text-shadow: 0 1px 0 #1e8fe5;
    border: solid 1px #3270a9;
    color: #fff;
  }

  .magenta {
    background: linear-gradient(to bottom, rgba(229, 112, 231, 1) 0%, rgba(200, 94, 199, 1) 47%, rgba(168, 73, 163, 1) 100%);
    text-shadow: 0 1px 0 #893c86;
    border: solid 1px #893c86;
    color: #fff;
  }

  .green {
    background: linear-gradient(to bottom, rgba(221, 234, 192, 1) 0%, rgba(173, 198, 115, 1) 100%);
    text-shadow: 0 1px 0 #eff5e1;
    border: solid 1px #93b24f;
    color: #353535;

  }

  .black {
    background: linear-gradient(to bottom, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%);
    color: #fff;
    text-shadow: 0 1px 0 #333;
    border: solid 1px #686666;
  }
}

/* HZ */
.service {
  height: 16px;
  display: inline-block;
  background-position: center 0;
  background-repeat: no-repeat;
  padding-bottom: 1px;
}

.service_dpd {
  background-image: url(/mod/orders/tpl/payments/dpd_logo.gif);
  width: 16px;
  text-indent: 20px;
}

.service_fedex {
  background-image: url(/mod/orders/tpl/payments/fedex.png);
  width: 53px;
  text-indent: 57px;
}

.service_usps {
  background-image: url(/mod/orders/tpl/payments/usps_logo.gif);
  width: 24px;
  text-indent: 28px;
}

.order_blacklist {
  color: white;
  background: rgb(15, 14, 14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 92%, rgba(10, 8, 9, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(15, 14, 14, 1)), color-stop(50%, rgba(110, 119, 116, 1)), color-stop(92%, rgba(10, 14, 10, 1)), color-stop(100%, rgba(10, 8, 9, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 92%, rgba(10, 8, 9, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 92%, rgba(10, 8, 9, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(15, 14, 14, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 92%, rgba(10, 8, 9, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(15, 14, 14, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 92%, rgba(10, 8, 9, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0e0e', endColorstr='#0a0809', GradientType=0); /* IE6-9 */
  /*text-decoration: line-through;*/
  opacity: 0.9;

}

.ds_1st_payment {
  background: rgb(121, 96, 207);
  color: white;
}

.ds_mandat_not_sent {
  background: rgb(237, 69, 69);
  color: white;
}

.ds_waiting_for_sepa_mandat {
  background: rgb(221, 244, 23);
  color: black;
}

.ds_mandat_received {
  background: rgb(252, 234, 187);
  color: black;
}

.imageTmb {
  border: solid 1px #ddd;
  padding: 3px;
  background-color: #FFF;
  border-radius: 3px;
}