<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{Data:title}}</title>
    <meta name="theme-color" content="#005eb8">
    <meta name="description" content="">
    <link rel="icon" href="{{Dir}}/img/favicon.ico" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link href="{{Dir}}/css/compiled.css" media="screen" rel="stylesheet" type="text/css">


</head>