<div class='tooltip tooltip16x12 tooltipGeo'>
    <div class="label">
        <a onclick="TooltipGeoIp(this, '<?=PATH_DS ?>admin/helpers/geo', '<?= $ip; ?>'); return false;" class='flag flag-16 flag-<?= $cc; ?>'></a>
    </div>
</div>

