<?php
//var_dump($this->data["widget"]->data);
?>

<div class="appWrapper">

    {{Inc:/tpl/tpl-lib/phtml/widget/blocks/buttons}}

    {{Inc:/tpl/tpl-lib/phtml/widget/blocks/messages}}

    {{Inc:/tpl/tpl-lib/phtml/widget/blocks/title}}

    {{Inc:/tpl/tpl-lib/phtml/widget/blocks/breadcrumbs}}

    <?php
    if ($this->data["widget"]->tabs) {
        current($this->data["widget"]->tabs)->Draw();
    }

    if ($this->data["widget"]->table) {
        $this->data["widget"]->table->Draw();
    }
    ?>

    {{Inc:/tpl/tpl-lib/phtml/widget/blocks/paginator}}

</div>