<div id="sideFilters"></div>

<div class="leftMenuHidden">
    <div class='actionSide'>
        <div class='actionSideHead actionSideHeadDown'>
            <a class="filterHeadActions" id="resetGlobal" title="Reset sorting and filters"><i class="fa fa-trash-o"></i></a>
            <a class="actionSideTitle"><i class="fa fa-chevron-down"></i> Widget settings</a>

        </div>
        <div class='actionSideBody' style='display:block; padding:0; padding-top:0'>

            <div class="filterOptionsBox">
                <div class="chBoxMulti">
                    <div class="filterOptionsBoxWrap" style="margin-top: 5px">
                        <h4><i class="fa fa-check-square-o" style="font-size: 11px;"></i> Filters:</h4> <hr />
                        <div id="optionsFilters"></div>
                    </div>
                </div>
            </div>

            <div class="filterOptionsBox">
                <div class="chBoxMulti">
                    <div class="filterOptionsBoxWrap" style="margin-top: 5px">
                        <h4><i class="fa fa-table" style="font-size: 11px;"></i> Table:</h4> <hr />
                        <div id="optionsTable"></div>
                    </div>
                </div>
            </div>

            <div style="height: 5px"></div>

        </div>
    </div>
</div>