<head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><?= SITE_NAME ?> Control Panel | X-CMF v {{Data:version}}</title>

    <link rel="stylesheet" type="text/css" href="{{DirLib}}/css/compiled.css"/>
    <link rel="stylesheet" type="text/css" href="{{DirLib}}/plugins/jquery/css/jquery-ui-1.9.2.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{DirLib}}/plugins/jquery/css/jquery.Jcrop.min.css"/>

    <link rel="stylesheet" type="text/css" href="{{DirAdmin}}/plugins/sceditor/minified/themes/office.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{DirAdmin}}/plugins/trumbowyg/ui/trumbowyg.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{DirAdmin}}/css/compiled.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" >

    <!-- vendor -->
    <script src="{{DirLib}}/plugins/jquery/js/jquery-1.7.2.min.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery-ui-min.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery.json.min.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery.jcrop.min.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery.form.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{DirLib}}/plugins/jquery/js/jquery.cookie.js"></script>

    <!-- core -->
    <script src="{{DirLib}}/js/pack.Widget/request.js"></script>
    <script src="{{DirLib}}/js/pack.Widget/widget.js"></script>
    <script src="{{DirLib}}/js/pack.Widget/navigation.js"></script>
    <script src="{{DirLib}}/js/pack.Widget/filters.js"></script>
    <script src="{{DirLib}}/js/pack.Button/button.js"></script>
    <script src="{{DirLib}}/js/pack.Form/form.js"></script>
    <script src="{{DirLib}}/js/pack.Form/wnd.js"></script>

    <!-- plugins & modules -->
    <script src="{{DirAdmin}}/js/admin.js"></script>
    <script src="{{DirAdmin}}/js/tooltips.js"></script>
    <script src="{{DirAdmin}}/js/gs.js"></script>

    <!-- extended plugins -->
    <script src="{{DirAdmin}}/plugins/sceditor/minified/jquery.sceditor.xhtml.min.js"></script>
    <script src="{{DirAdmin}}/plugins/trumbowyg/trumbowyg.min.js"></script>

</head>