<div class="actionSide leftMenuHidden">
    <div class="actionSideHead actionSideHeadDown">
        <div class="actionSideTitle">
            <i class="fa fa-chevron-right"></i> Hello <?=$_SESSION[AUTH_KEY]['firstname']?></span>
        </div>
    </div>
    <div class="actionSideBody" style="display:block; padding:0; position:relative;">

        <div class="leftSubMenuExtBox" style="border-bottom: none;">

            <a href="#dashboard" onclick="CAdminMenu.Click(this);  return false;"
               title="Home" class="leftSubMenuExt"><i class="fa fa-home"></i></a>

            <a href="" onClick="AdminAjax.Go('logout');
                 return false;" title="Logout"  class="leftSubMenuExt"> <i class="fa fa-power-off"></i></a>

            <div style="clear: both;"></div>
        </div>
    </div>
</div>
