<div class="actionSide leftMenuHidden">
            <div class="actionSideHead actionSideHeadDown">
            <a href=""  class="actionSideTitle">
                <i class="fa fa-chevron-down"></i> Module: <span id='subMenuTitle'>Module</span>
            </a>
            </div>
            <div class="actionSideBody" id="leftSubMenu"></div>

</div>