<div id="globalSearchWrap">
    <h1><?=SITE_NAME ?> CP</h1>
</div>


<div class="leftSubMenuWrapTitle">
    <div id="adminLoader"></div>
    <a href="" class="adminMenu adminMenuMenu" onClick="AdminSlider(); return false;"><i class="fa fa-bars fa-lg"></i></a>
</div>


<div class="adminMenuWrap" id="adminMenuWrap">
    <div id="mainMenu"><ul></ul></div>
</div>

<div class="adminMenuWrapRight">

        <?php if($_SESSION[AUTH_KEY]['isSu'] == 1 || isset($_SESSION[AUTH_KEY]['viewAs'])) { ?>
            <div class="adminMenuDdWrap">
        		<span>
        		<?php

                $viewAs = (isset($_SESSION[AUTH_KEY]['viewAs'])) ? "as: " : "";
                echo $viewAs.$_SESSION[AUTH_KEY]["firstname"]." ".$_SESSION[AUTH_KEY]["lastname"];

                ?>
        		</span>
                <i class="fa fa-chevron-down"></i>
                <select onchange="AdminUserChange(this);">
                    <?php

                    $users = SDb::select("users", "isActive = ?", [1]);

                    foreach($users as $user)
                    {
                        $selected = ($user['idUser'] == $_SESSION[AUTH_KEY]["idUser"]) ? "selected='selected'" : "";
                        echo "<option value='".PATH_DS."admin/api/simulation/{$user['idUser']}' {$selected }>{$user['username']}</option>";
                    }

                    ?>
                </select>
            </div>

        <?php }  ?>
</div>