
.ui-rangeSlider{	height:40px;}
.ui-rangeSlider:hover .ui-rangeSlider-label{opacity: 1.0}
.ui-rangeSlider .ui-rangeSlider-innerBar{	height:2px;	margin:3px 0;	margin-top:10px;	background:rgba(0,0,0, 0.1);}
.ui-rangeSlider .ui-rangeSlider-handle{	width:2px;	height:22px;	background:#AAA;	background:rgba(0,0,255, 0.3);	cursor:col-resize;}
.ui-rangeSlider .ui-rangeSlider-bar{	margin: 1px 0;
                                     background:rgba(0,0,255, 0.1);
                                     height:10px;
                                     margin-top:6px;
                                     cursor:move;
                                     cursor:grab;
                                     cursor: -moz-grab;
}
.red {
    background:rgba(255,0,0, 0.15) !important;
}
.blue {
    background:rgba(0,0,255, 0.1) !important;
}
.red {
    background:rgba(255,0,0, 0.15) !important;
}
.red {
    background:rgba(255,0,0, 0.15) !important;
}
.blue {
    background:rgba(0,0,255, 0.1) !important;
}
.blue {
    background:rgba(0,0,255, 0.1) !important;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
    cursor:	-moz-grabbing;
    cursor:grabbing;
}

.ui-rangeSlider-arrow{
    height:16px;
    margin:2px 0;
    width:16px;
    background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
    background-image: url('ico/triangle_left.png');
    /*background-position:center left;*/
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
    background-image: url('ico/triangle.png');
    /*background-position:center right;*/
}

.ui-rangeSlider-arrow-inner{
    display: none;
}

.ui-rangeSlider-container{
    height:22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
    margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
    margin:0;
}

.ui-rangeSlider-label{
    margin:0;
    font-size:12px;


    white-space: nowrap;
    bottom:35px;
    padding: 2px 5px;
    cursor:col-resize;
    color: #777;
    background-color:#fff;
    border: solid 1px #ddd;
    border-radius:3px;
    opacity:0; 
}

.ui-rangeSlider-label-inner{
    display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
    width:3em;
    vertical-align: middle;
    text-align:center;
}
.ui-ruler-tick-inner{
    margin-top:-3px;
    border-left:1px solid rgb(180,180,180);
    font-size:11px;
    font-weight: 100;
    height:8px;
    color:rgb(160,160,160);
}
.ui-ruler-tick-label {
    position:relative;
    top:5px;
    left:3px;
}
