/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 170px;
	z-index: 99999;
	border: solid 1px #979797;
	background: #f0f0f0;
	padding: 1px;
	margin: 0;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
	border: solid 1px #fff;
}

.contextMenu LI.hover A {	
	background-color: #e8eef6;
	border: solid 1px #aecff7;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #e2e3e3;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.delete			A { background-image:url(ico/delete.png); }
.contextMenu LI.info 			A { background-image:url(ico/information.png);}
.contextMenu LI.edit 			A { background-image:url(ico/edit.png);}
.contextMenu LI.published 		A { background-image:url(ico/published.png);}
.contextMenu LI.unpublished		A { background-image:url(ico/unpublished.png);}
.contextMenu LI.restore			A { background-image:url(ico/restore.png);}
.contextMenu LI.set_background	A { background-image:url(ico/image.png);}

.contextMenu LI.open A { background-image: url(images/open.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }


	