/**
 * Copyright (C) 2012, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 *
 * Icons by Mark James (http://www.famfamfam.com/lab/icons/silk/)
 * Licensed under the Creative Commons CC-BY license (http://creativecommons.org/licenses/by/3.0/)
 */
/**
 * Copyright (C) 2012, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 *
 * Icons by Mark James (http://www.famfamfam.com/lab/icons/silk/)
 * Licensed under the Creative Commons CC-BY license (http://creativecommons.org/licenses/by/3.0/)
 */
/*! SCEditor | (C) 2011-2013, Sam Clarke | sceditor.com/license */
/**
 * SCEditor
 * http://www.ssceditor.com/
 *
 * Copyright (C) 2011-12, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 */
div.sceditor-grip,
.sceditor-button div {
  background-image: url('famfamfam.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.sceditor-button-youtube div {
  background-position: 0  0;
}
.sceditor-button-link div {
  background-position: 0  -16px;
}
.sceditor-button-unlink div {
  background-position: 0  -32px;
}
.sceditor-button-underline div {
  background-position: 0  -48px;
}
.sceditor-button-time div {
  background-position: 0  -64px;
}
.sceditor-button-table div {
  background-position: 0  -80px;
}
.sceditor-button-superscript div {
  background-position: 0  -96px;
}
.sceditor-button-subscript div {
  background-position: 0  -112px;
}
.sceditor-button-strike div {
  background-position: 0  -128px;
}
.sceditor-button-source div {
  background-position: 0  -144px;
}
.sceditor-button-size div {
  background-position: 0  -160px;
}
.sceditor-button-rtl div {
  background-position: 0  -176px;
}
.sceditor-button-right div {
  background-position: 0  -192px;
}
.sceditor-button-removeformat div {
  background-position: 0  -208px;
}
.sceditor-button-quote div {
  background-position: 0  -224px;
}
.sceditor-button-print div {
  background-position: 0  -240px;
}
.sceditor-button-pastetext div {
  background-position: 0  -256px;
}
.sceditor-button-paste div {
  background-position: 0  -272px;
}
.sceditor-button-orderedlist div {
  background-position: 0  -288px;
}
.sceditor-button-maximize div {
  background-position: 0  -304px;
}
.sceditor-button-ltr div {
  background-position: 0  -320px;
}
.sceditor-button-left div {
  background-position: 0  -336px;
}
.sceditor-button-justify div {
  background-position: 0  -352px;
}
.sceditor-button-italic div {
  background-position: 0  -368px;
}
.sceditor-button-image div {
  background-position: 0  -384px;
}
.sceditor-button-horizontalrule div {
  background-position: 0  -400px;
}
.sceditor-button-format div {
  background-position: 0  -416px;
}
.sceditor-button-font div {
  background-position: 0  -432px;
}
.sceditor-button-emoticon div {
  background-position: 0  -448px;
}
.sceditor-button-email div {
  background-position: 0  -464px;
}
.sceditor-button-date div {
  background-position: 0  -480px;
}
.sceditor-button-cut div {
  background-position: 0  -496px;
}
.sceditor-button-copy div {
  background-position: 0  -512px;
}
.sceditor-button-color div {
  background-position: 0  -528px;
}
.sceditor-button-code div {
  background-position: 0  -544px;
}
.sceditor-button-center div {
  background-position: 0  -560px;
}
.sceditor-button-bulletlist div {
  background-position: 0  -576px;
}
.sceditor-button-bold div {
  background-position: 0  -592px;
}
div.sceditor-grip {
  background-position: 0  -608px;
  width: 10px;
  height: 10px;
}
.rtl div.sceditor-grip {
  background-position: 0  -618px;
  width: 10px;
  height: 10px;
}
/**
 * SCEditor
 * http://www.ssceditor.com/
 *
 * Copyright (C) 2011-12, Sam Clarke (samclarke.com)
 *
 * SCEditor is licensed under the MIT license:
 *	http://www.opensource.org/licenses/mit-license.php
 */
/*---------------------------------------------------
    LESS Elements 0.7
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.sceditor-container {
  position: relative;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  line-height: 1;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sceditor-container,
.sceditor-container div,
div.sceditor-dropdown,
div.sceditor-dropdown div {
  padding: 0;
  margin: 0;
  z-index: 3;
}
.sceditor-container iframe,
.sceditor-container textarea {
  line-height: 1;
  border: 0;
  outline: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #111;
  padding: 0;
  margin: 5px;
  resize: none;
  background: #fff;
  display: block;
}
div.sceditor-resize-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.3;
}
.ie6 div.sceditor-resize-cover,
.ie7 div.sceditor-resize-cover,
.ie8 div.sceditor-resize-cover {
  background: #efefef;
}
.sceditor-container.ie6 {
  overflow: hidden;
}
div.sceditor-grip {
  overflow: hidden;
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.sceditor-maximize {
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 2000;
}
html.sceditor-maximize,
body.sceditor-maximize {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.ie6.sceditor-maximize {
  position: absolute;
}
.sceditor-maximize div.sceditor-grip {
  display: none;
}
.sceditor-maximize div.sceditor-toolbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/**
	 * Dropdown styleing
	 */
div.sceditor-dropdown {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  z-index: 4000;
  padding: 10px;
  line-height: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
div.sceditor-dropdown a,
div.sceditor-dropdown a:link {
  color: #333;
}
div.sceditor-dropdown form {
  margin: 0;
}
div.sceditor-dropdown label {
  display: block;
  font-weight: bold;
  color: #3c3c3c;
  padding: 4px 0;
}
div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  outline: 0;
  padding: 4px;
  border: 1px solid #ccc;
  border-top-color: #888;
  margin: 0 0 .75em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.sceditor-dropdown textarea {
  padding: 6px;
}
div.sceditor-dropdown input:focus,
div.sceditor-dropdown textarea:focus {
  border-color: #aaa;
  border-top-color: #666;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
div.sceditor-dropdown .button {
  font-weight: bold;
  color: #444;
  padding: 6px 12px;
  background: #ececec;
  border: solid 1px #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  margin: .3em 0 0;
}
div.sceditor-dropdown .button:hover {
  background: #f3f3f3;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
div.sceditor-font-picker,
div.sceditor-fontsize-picker,
div.sceditor-format {
  padding: 6px 0;
}
div.sceditor-emoticons,
div.sceditor-more-emoticons,
div.sceditor-color-picker {
  padding: 0;
}
.sceditor-pastetext textarea {
  border: 1px solid #bbb;
  width: 20em;
}
.sceditor-emoticons img,
.sceditor-more-emoticons img {
  padding: 0;
  cursor: pointer;
  margin: 2px;
}
.sceditor-more {
  border-top: 1px solid #bbb;
  display: block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 0;
}
.sceditor-dropdown a:hover {
  background: #eee;
}
.sceditor-fontsize-option,
.sceditor-font-option,
.sceditor-format a {
  display: block;
  padding: 7px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #222;
}
.sceditor-fontsize-option {
  padding: 7px 13px;
}
.sceditor-color-column {
  float: left;
}
.sceditor-color-option {
  display: block;
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  overflow: hidden;
}
.sceditor-color-option:hover {
  border: 1px solid #333;
}
/**
	 * Toolbar styleing
	 */
div.sceditor-toolbar {
  overflow: hidden;
  padding: 3px 5px 2px;
  background: #f7f7f7;
  border-bottom: 1px solid #c0c0c0;
  line-height: 0;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div.sceditor-group {
  display: inline-block;
  background: #ddd;
  margin: 1px 5px 1px 0;
  padding: 1px;
  border-bottom: 1px solid #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ie6 div.sceditor-group,
.ie7 div.sceditor-group {
  display: inline;
  zoom: 1;
}
.sceditor-button {
  float: left;
  cursor: pointer;
  padding: 3px 5px;
  width: 16px;
  height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* Needed for Safari 5? */

  text-indent: -9999px;
}
.ie .sceditor-button {
  text-indent: 0;
}
.ie6 .sceditor-button,
.ie7 .sceditor-button {
  float: none !important;
  display: inline;
  zoom: 1;
}
.ie6 .sceditor-button {
  padding: 0;
}
.ie6 .sceditor-button div {
  margin: 5px;
}
.ie7 .sceditor-button div {
  margin: 5px 0;
}
.sceditor-button:hover,
.sceditor-button:active,
.sceditor-button.active {
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2);
}
.sceditor-button:active {
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px 0 rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), inset 0 0 8px rgba(0,0,0,0.3);
}
.sceditor-button.disabled:hover {
  background: inherit;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sceditor-button,
.sceditor-button div {
  display: block;
}
.sceditor-button div {
  margin: 2px 0;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  color: transparent;
}
.sceditor-button.disabled div {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.text .sceditor-button,
.text .sceditor-button div,
.sceditor-button.text,
.sceditor-button.text div,
.text-icon .sceditor-button,
.text-icon .sceditor-button div,
.sceditor-button.text-icon,
.sceditor-button.text-icon div {
  width: auto;
  overflow: visible;
  line-height: 16px;
  font-size: 1em;
  color: inherit;
  text-indent: 0;
}
.text .sceditor-button div,
.sceditor-button.text div {
  padding: 0 2px;
  background: none;
}
.text-icon .sceditor-button div,
.sceditor-button.text-icon div {
  padding: 0 2px 0 20px;
}
.rtl div.sceditor-toolbar {
  text-align: right;
}
.rtl .sceditor-button {
  float: right;
}
.rtl div.sceditor-grip {
  right: auto;
  left: 0;
}
.sceditor-container {
  border: 1px solid #8db2e3;
}
.sceditor-container textarea {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}
div.sceditor-toolbar {
  border-bottom: 1px solid #95a9c3;
  background: #dee8f5;
  background: -moz-linear-gradient(top, #dee8f5 0%, #c7d8ed 29%, #ccdcee 61%, #c0d8ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dee8f5), color-stop(29%, #c7d8ed), color-stop(61%, #ccdcee), color-stop(100%, #c0d8ef));
  background: -webkit-linear-gradient(top, #dee8f5 0%, #c7d8ed 29%, #ccdcee 61%, #c0d8ef 100%);
  background: -o-linear-gradient(top, #dee8f5 0%, #c7d8ed 29%, #ccdcee 61%, #c0d8ef 100%);
  background: -ms-linear-gradient(top, #dee8f5 0%, #c7d8ed 29%, #ccdcee 61%, #c0d8ef 100%);
  background: linear-gradient(to bottom, #dee8f5 0%, #c7d8ed 29%, #ccdcee 61%, #c0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee8f5', endColorstr='#c0d8ef', GradientType=0);
}
.ie9 div.sceditor-toolbar {
  filter: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZThmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iI2M3ZDhlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2NjZGNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMGQ4ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
div.sceditor-group {
  border: 1px solid #7596bf;
  background: transparent;
  padding: 0;
  background: #cadcf0;
  background: -moz-linear-gradient(top, #cadcf0 24%, #bcd0e9 38%, #d0e1f7 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #cadcf0), color-stop(38%, #bcd0e9), color-stop(99%, #d0e1f7));
  background: -webkit-linear-gradient(top, #cadcf0 24%, #bcd0e9 38%, #d0e1f7 99%);
  background: -o-linear-gradient(top, #cadcf0 24%, #bcd0e9 38%, #d0e1f7 99%);
  background: -ms-linear-gradient(top, #cadcf0 24%, #bcd0e9 38%, #d0e1f7 99%);
  background: linear-gradient(to bottom, #cadcf0 24%, #bcd0e9 38%, #d0e1f7 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cadcf0', endColorstr='#d0e1f7', GradientType=0);
}
.ie9 div.sceditor-group {
  filter: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNjYWRjZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNiY2QwZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkMGUxZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.sceditor-button {
  height: 16px;
  padding: 3px 4px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #d5e3f1, inset 0 -1px #e3edfb, inset 1px 0 #cddcef, inset -1px 0 #b8ceea;
  -moz-box-shadow: inset 0 1px #d5e3f1, inset 0 -1px #e3edfb, inset 1px 0 #cddcef, inset -1px 0 #b8ceea;
  box-shadow: inset 0 1px #d5e3f1, inset 0 -1px #e3edfb, inset 1px 0 #cddcef, inset -1px 0 #b8ceea;
}
.sceditor-button:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sceditor-button:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sceditor-button div {
  margin: 0;
}
.ie9 .sceditor-button {
  filter: none !important;
}
.sceditor-button.active {
  background: #fbdbb5;
  background: -moz-linear-gradient(top, #fbdbb5 11%, #feb456 29%, #fdeb9f 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #fbdbb5), color-stop(29%, #feb456), color-stop(99%, #fdeb9f));
  background: -webkit-linear-gradient(top, #fbdbb5 11%, #feb456 29%, #fdeb9f 99%);
  background: -o-linear-gradient(top, #fbdbb5 11%, #feb456 29%, #fdeb9f 99%);
  background: -ms-linear-gradient(top, #fbdbb5 11%, #feb456 29%, #fdeb9f 99%);
  background: linear-gradient(top, #fbdbb5 11%, #feb456 29%, #fdeb9f 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbdbb5', endColorstr='#fdeb9f', GradientType=0);
  -webkit-box-shadow: inset 0 1px #ebd1b4, inset 0 -1px #ffe47f, inset -1px 0 #b8ceea;
  -moz-box-shadow: inset 0 1px #ebd1b4, inset 0 -1px #ffe47f, inset -1px 0 #b8ceea;
  box-shadow: inset 0 1px #ebd1b4, inset 0 -1px #ffe47f, inset -1px 0 #b8ceea;
}
.ie9 .sceditor-button.active {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMSUiIHN0b3AtY29sb3I9IiNmYmRiYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNmZWI0NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmZGZkOWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.sceditor-button:hover {
  background: #fef7d5;
  background: -moz-linear-gradient(top, #fef7d5 0%, #fae5a9 42%, #ffd048 42%, #ffe59f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef7d5), color-stop(42%, #fae5a9), color-stop(42%, #ffd048), color-stop(100%, #ffe59f));
  background: -webkit-linear-gradient(top, #fef7d5 0%, #fae5a9 42%, #ffd048 42%, #ffe59f 100%);
  background: -o-linear-gradient(top, #fef7d5 0%, #fae5a9 42%, #ffd048 42%, #ffe59f 100%);
  background: -ms-linear-gradient(top, #fef7d5 0%, #fae5a9 42%, #ffd048 42%, #ffe59f 100%);
  background: linear-gradient(to bottom, #fef7d5 0%, #fae5a9 42%, #ffd048 42%, #ffe59f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef7d5', endColorstr='#ffe59f', GradientType=0);
  -webkit-box-shadow: inset 0 1px #fffbe8, inset -1px 0 #ffefc4, inset 0 -1px #fff9cc;
  -moz-box-shadow: inset 0 1px #fffbe8, inset -1px 0 #ffefc4, inset 0 -1px #fff9cc;
  box-shadow: inset 0 1px #fffbe8, inset -1px 0 #ffefc4, inset 0 -1px #fff9cc;
}
.ie9 .sceditor-button:hover {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZjdkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZhZTVhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2ZmZDA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU1OWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.sceditor-button:active {
  background: #e7a66d;
  background: -moz-linear-gradient(top, #e7a66d 0%, #fcb16d 1%, #ff8d05 42%, #ffc450 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7a66d), color-stop(1%, #fcb16d), color-stop(42%, #ff8d05), color-stop(100%, #ffc450));
  background: -webkit-linear-gradient(top, #e7a66d 0%, #fcb16d 1%, #ff8d05 42%, #ffc450 100%);
  background: -o-linear-gradient(top, #e7a66d 0%, #fcb16d 1%, #ff8d05 42%, #ffc450 100%);
  background: -ms-linear-gradient(top, #e7a66d 0%, #fcb16d 1%, #ff8d05 42%, #ffc450 100%);
  background: linear-gradient(to bottom, #e7a66d 0%, #fcb16d 1%, #ff8d05 42%, #ffc450 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7a66d', endColorstr='#ffc450', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px #7b6645, inset 0 -1px #d19c33;
  -moz-box-shadow: inset 0 1px 1px #7b6645, inset 0 -1px #d19c33;
  box-shadow: inset 0 1px 1px #7b6645, inset 0 -1px #d19c33;
}
.ie9 .sceditor-button:active {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3YTY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmNiMTZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjZmY4ZDA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzQ1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}
.sceditor-button.active:hover {
  background: #dba368;
  background: -moz-linear-gradient(top, #dba368 0%, #ffbd79 4%, #fea335 34%, #ffc64c 66%, #fee069 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dba368), color-stop(4%, #ffbd79), color-stop(34%, #fea335), color-stop(66%, #ffc64c), color-stop(100%, #fee069));
  background: -webkit-linear-gradient(top, #dba368 0%, #ffbd79 4%, #fea335 34%, #ffc64c 66%, #fee069 100%);
  background: -o-linear-gradient(top, #dba368 0%, #ffbd79 4%, #fea335 34%, #ffc64c 66%, #fee069 100%);
  background: -ms-linear-gradient(top, #dba368 0%, #ffbd79 4%, #fea335 34%, #ffc64c 66%, #fee069 100%);
  background: linear-gradient(to bottom, #dba368 0%, #ffbd79 4%, #fea335 34%, #ffc64c 66%, #fee069 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dba368', endColorstr='#fee069', GradientType=0);
  -webkit-box-shadow: inset 0 1px 1px #9e8255, inset 0 -1px #fcce6b;
  -moz-box-shadow: inset 0 1px 1px #9e8255, inset 0 -1px #fcce6b;
  box-shadow: inset 0 1px 1px #9e8255, inset 0 -1px #fcce6b;
}
.ie9 .sceditor-button.active:hover {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYTM2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZmZiZDc5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZmVhMzM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZmZjNjRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZTA2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}
.sceditor-container {
  background: #a3c2ea;
  background: -moz-linear-gradient(top, #a3c2ea 0%, #6d92c1 39%, #577fb3 64%, #6591cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a3c2ea), color-stop(39%, #6d92c1), color-stop(64%, #577fb3), color-stop(100%, #6591cc));
  background: -webkit-linear-gradient(top, #a3c2ea 0%, #6d92c1 39%, #577fb3 64%, #6591cc 100%);
  background: -o-linear-gradient(top, #a3c2ea 0%, #6d92c1 39%, #577fb3 64%, #6591cc 100%);
  background: -ms-linear-gradient(top, #a3c2ea 0%, #6d92c1 39%, #577fb3 64%, #6591cc 100%);
  background: linear-gradient(top, #a3c2ea 0%, #6d92c1 39%, #577fb3 64%, #6591cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3c2ea', endColorstr='#6591cc', GradientType=0);
}
.sceditor-container iframe,
.sceditor-container textarea {
  border: 1px solid #646464;
  background: #fff;
  margin: 7px 40px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 5px #293a52;
  -moz-box-shadow: 1px 1px 5px #293a52;
  box-shadow: 1px 1px 5px #293a52;
}
